[2021-02-03 20:12] peterbe commented on #2791
1. We need to figure out why linting didn't spot this sooner.
2. We need to just delete it.

[2021-02-03 20:18] peterbe commented on #2791
Perhaps `stylelint` simply can't cope with things like this, but this is unexpected:

[code]

It's not unexpected about the alphabetical order there on line 18, but the fact that it didn't complain about the broken `@include highlighted-link-state();` on line 22.

@schalkneethling Any idea??

[2021-02-03 21:14] peterbe opened #2793 "Remove unused CSS"
When I look at the main CSS bundle, prettier'fied, I notice that there are a lot CSS selectors that I know are never used.
To dig into this a little bit deeper I wrote a simple script that parses the `main.993ec72d.chunk.css` (I have at the moment) and extracts every single distinct selector. Then, I opened 10,000 random built `index.html` and compared if each and every selector is used in any of

[2021-02-03 21:16] peterbe commented on #2793
Note-to-self, in the `~/minimalcss` here's how I ran it: `node peterbe__analyze_mdn_bundle.js /tmp/main.993ec72d.chunk.css ~/yari/client/build/en-us`

[2021-02-03 21:24] mattiapontonio commented on #2793
But if we eliminated them all, would there be many regressions? This is a reasoning about what minimalist already manages.

---

Instead for content a strategy could be "oblige" to import a specific CSS for the article with some utility classes, but I have to think about it, Bootstrap could also import whoever wants in their article, `link` works in the `body`?

[2021-02-03 21:27] peterbe opened #2794 "We're not sending 'strict-transport-security' header in doc responses"
In Kuma we do:

[code]

But not in documents served from S3:

[code]

The Mozilla Observatory seems it can only scan the root document (aka. the naked domain).
But Snyk can scan a specific page. [For example](https://snyk.io/test/website-scanner/?test=210203_Di1T_7f6f1d1be1e781026e549d74efe7d722&utm_medium=referral&utm_source=webpagetest&utm_campaign=website-scanner)

[2021-02-03 21:29] peterbe opened #2795 "We're not sending 'x-frame-options' in doc responses"
See https://github.com/mdn/yari/issues/2794

We're doing it in Kuma but not on URLs served straight from the S3.
[Example report here](https://snyk.io/test/website-scanner/?test=210203_Di1T_7f6f1d1be1e781026e549d74efe7d722&utm_medium=referral&utm_source=webpagetest&utm_campaign=website-scanner)

Once we move the home page to Yari, we'll be able to test with Mozilla Observatory.

[2021-02-03 21:30] peterbe commented on #2790
I noticed that Florian S used the `move` CLI command and that's what go these lines into the `_redirects.txt` in the first place. That's unrelated and related at the same time.

Either way, I could make a PR through the GitHub UI and manually type some junk into the `_redirects.txt` file with the textarea and I should get caught for doing it.

[2021-02-03 21:37] Ryuno-Ki commented on #2793
@peterbe For your information: The npm community has tools like https://purgecss.com/ which might help (instead of writing your own scripts).

Another option might be using Chrome :scream_cat:
https://developers.google.com/web/tools/chrome-devtools/coverage/

[2021-02-03 21:43] peterbe commented on #2789
@eladkarako If you have ideas on how we can improve the rendering, in piece-meal chunks, that are realistic and relatively low-hanging, we're all ears.

[2021-02-03 21:49] hamishwillee commented on #2582
@nschonni Nice one. I can confirm that on windows command prompt the `--cwd=.` works for me:
[code]
To be very clear on the "flaw" issue, if I modify that file so it is bigger then view the file locally, no flaw is displayed on the website. I see this as a problem because I look at this and think "great" but the PR will fail due to the filecheck.
![image](https://user-images.githubusercontent.com/

[2021-02-03 21:53] peterbe commented on #2582
Sorry that I've lost track of this issue a bit. Is the solution to simply replace `--cwd=$(pwd)` for `--cwd=.` and then it suddenly works on Windows too?

[2021-02-03 21:59] mattiapontonio commented on #2790
I'm not sure but it occurred to me to search if you can lock files with Git or with GitHub.
The `_` would be _private_ right? As some do with variables in JavaScript
https://github.com/git-lfs/git-lfs/wiki/File-Locking

[2021-02-03 22:08] hamishwillee commented on #2582
@peterbe Yes, if you replace as you indicate it works on Windows. BUT I have not tried to confirm that also works on Linux (after changing)

[2021-02-03 22:19] mattiapontonio commented on #2582
https://en.m.wikipedia.org/wiki/Node.js

Is that still true? Where Is the problem in Node? In NPM?

[2021-02-03 22:23] eladkarako commented on #2789
Well I do, but I'll first (am currently...) slowly deploy it locally, doing some tests, stripping away stuff, etc... (as a proof of concept),
I thought deployment would be tricky, but it was actually <em>Super Easy, Barely an Inconvenience!</em>.

[2021-02-03 22:50] mattiapontonio commented on #2789
Impossible, a few months ago I cloned the project on Windows and I didn't have any kind of problem. Everything works fine from GitHub too. But yes, I wonder about testing things for performance in CI.

[2021-02-04 00:05] sideshowbarker commented on #2783
Yeah that must have been what happened — because I do in fact read the Japanese versions, and have reviewed some in the past. So I guess I just used that menu as some time in the past. And I never ran noticed a problem with it til now, because we always use the localized en-US URLs.

But the reason I did notice it yesterday is that for BCD, we use the locale-less URLs in our `mdn_url` values. And

[2021-02-04 00:32] mattiapontonio commented on #2793
https://developers.google.com/web/tools/chrome-devtools/coverage/

A strange thing comes to mind (I also use that panel from time to time, look at it and then leave everything like this and dream about refactoring), but can't you use the developer tools as they are in the GitHub CI in text form? I think the browser is software that can be installed and if this exposes some API it can be called by

[2021-02-04 01:04] peterbe commented on #2582
Does that comment have ANYTHING to do with the problem that this issue is discussing. Are you sure this comment is helping us in ANY way or is it just noise and distraction? Did you think this through before posting?

[2021-02-04 01:48] mattiapontonio commented on #2582
I was just thinking: do we have to deal with maintaining cross platform commands then weird programs or processes or do we already have everything we need with this stack? My comment doesn't help but making 3 attempts on different systems doesn't help either, what helps is to choose supported technologies and use them literally. I don't know I go to feeling like when the friend comes to the bar an

[2021-02-04 05:26] kalyank23 opened #2802 "Moznss 3.36 version is not supporting EC keys"
Moznss 3.36 version is not supporting EC keys and is causing PKCS unknown error in RHEL6, could you please let us know if EC keys are supported by NSS or not?

EC keys will have starting string "-----BEGIN EC PRIVATE KEY-----"

[2021-02-04 08:44] schalkneethling commented on #2791
That is odd indeed. Let me take a look. Thank you for bringing this to my attention @peterbe

[2021-02-04 10:56] schalkneethling opened #2805 "React scripts 4.0.2 breaks dev build but not CI"
`react-scripts` was updated earlier today https://github.com/mdn/yari/pull/2803

I pulled the latest from `master` and merged into my current working branch. After running `yarn` to install the latest updates I ran `yarn dev` and got the following error:

[code]

Looking at the release notes there is this under the underlying tools section:

[code]

I have however also found the following issue th

[2021-02-04 11:36] peterbe commented on #2791
That aside, let's not forget to run `stylelint` as part of the CI in Yari. It can be a separate issue.

[2021-02-04 11:41] peterbe commented on #2802
This has nothing to do with Yari. Wrong repo I'm afraid.

[2021-02-04 11:41] #2802 closed

[2021-02-04 11:44] peterbe commented on #2805
First of all, I'm reverting it now. https://github.com/mdn/yari/pull/2806
The true bug is that CI allowed this to happen. I need figure out why it passed CI.

[2021-02-04 11:44] peterbe commented on #2805
Once that's figured out, we'll probably just need to add this new peer dependency `levenary`.

[2021-02-04 14:18] ljharb opened #3012 "old URLs have broken"
https://developer.mozilla.org/en-US/DOM/element.addEventListener 404s but should probably 301 to https://developer.mozilla.org/en-us/docs/Web/API/EventTarget/addEventListener

I’m not sure when it broke; the old URL has been in an IRC factoid for the better part of a decade.

[2021-02-04 14:27] peterbe commented on #2805
After much sad debugging I can conclude that the error makes no sense. The reason it's only failing on our machines is that there's some bug somewhere related to `yarn` in that some old gunk is stuck in the `node_modules` when it shouldn't. Doing `rm -fr node_modules && yarn install` always seems to work. Annoying. But perhaps more reason to move to `yarn` 2.

[2021-02-04 14:57] peterbe opened #2809 "Push Google Analytics to run later"
The documentation for adding the Google Analytics script snippet is here: https://developers.google.com/analytics/devguides/collection/analyticsjs

How we're currently doing it is not ideal.

- We always trigger an (`async`) request to `https://www.google-analytics.com/analytics.js` even for clients that have DoNotTrack enabled.
- We do the Google Analytics stuff before we do our React hydration s

[2021-02-04 14:59] peterbe commented on #2809
I suggest we package up all the JS code that does the DoNotTrack stuff and the `ga('create', 'UA-36116321-5', 'mozilla.org');` in a deferred loaded script which we make sure is *last* of all the other external .js.
And, in that JS code we also conditionally add `https://www.google-analytics.com/analytics.js` script tag only if the DoNotTrack means we're going to bother.

[2021-02-04 15:06] peterbe commented on #2789
We have a system for testing out things. But it's gated on the core team, for security reasons. I can make a PR that does something very differently and then I deploy an entire site with that new feature.

I recently did a bunch of experimentation with inlining critical CSS and here's the result (just one page):
https://experimental-minimal-css.content.dev.mdn.mozit.cloud/en-US/docs/Web/CSS
This t

[2021-02-04 15:12] peterbe commented on #2675
This is what I'm seeing, on this URL, in the latest and greatest version of yari within `mdn/content`.
<img width="819" alt="Screen Shot 2021-02-04 at 10 11 42 AM" src="https://user-images.githubusercontent.com/26739/106912811-63977380-66d1-11eb-85ed-e5fbb86536f4.png">
What do you get?

I ran `git pull origin && yarn install && yarn start` about 2min ago.

[2021-02-04 16:16] peterbe opened #2810 "'p.hidden' get included in search text"
See https://developer.mozilla.org/en-US/search?q=contribute

The reason a lot of those `Array.prototype.*` documents show up is because they contain the text:
[code]

[2021-02-04 16:29] mattiapontonio commented on #2810
But why should that paragraph be hidden?

[2021-02-04 17:00] mattiapontonio commented on #2793
Side issue, feel free to open a new issue with this comment.

`main.993ec72d.chunk.css`
Is right to think that `993ec72d` Is the integrity hash and could be moved from the file name to [`integrity` attribute on `link`](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity)?

[2021-02-04 17:02] peterbe commented on #2793
No. It's not.

[2021-02-04 17:13] #2810 closed

[2021-02-04 17:14] mattiapontonio commented on #2809
I don't know if it helps but what I can say here is that I would expect Google Analitics to not really catch on HTML.
So intuitively we should check the request headers (is that where you see the flag?) And insert or not 2 `script` tags in the html, 1 for the library and 1 for our implementation.

[2021-02-04 17:43] #2732 closed

[2021-02-04 17:43] #2733 closed

[2021-02-04 17:56] eladkarako commented on #2789
that's ok. I'm fine with what I've already got..

Superb performances! (I'm still w/ JS off anyway), though I'm pretty sure that's because the server is having minimum to no load.

[2021-02-04 18:08] peterbe commented on #2789
That server is a top-notch CDN with over 200 edge locations. Your network must be really weird if you can't quickly download static assets from the CDN.

I'm going to close this issue for now. There's nothing actionable here. But please do come back when you find particular interesting individual things we can work on.

[2021-02-04 18:08] #2789 closed

[2021-02-04 18:09] peterbe commented on #2732
@hamishwillee After you've upgraded your `@mdn/yari` in your mdn/content, please verify and re-open this if it still isn't solved.

[2021-02-04 21:46] ekr opened #2819 "Broken link on XPath page"
https://developer.mozilla.org/en-US/docs/Web/XPath has a link under XSLT/XPath Reference to https://developer.mozilla.org/en-US/docs/Transforming_XML_with_XSLT/The_Netscape_XSLT%2f%2fXPath_Reference

But this does not exist.

[2021-02-04 21:49] hamishwillee commented on #2732
@peterbe Works perfectly. Also appears to have removed all the "stub mismatch" warnings. Thanks to you and @nschonni for getting this sorted.

[2021-02-04 22:09] hamishwillee commented on #2675
@peterbe So I see 3 flaws - including multiple profiles. BUT they are all valid - including the multiple profiles link, which now opens (and even though this is still listed in archive.txt (en-us/mozilla/firefox/multiple_profiles/index.html).

So a) I don't know why you see different, b) is there a known archive link I can test that is present in docs. I tried a few from archive.txt but can't find

[2021-02-04 22:27] hamishwillee commented on #2675
Actually test case might be http://localhost:5000/en-US/docs/Web/JavaScript/#_flaws

The flaw shown is in the archived.txt and if you click it there is a redirect.

![image](https://user-images.githubusercontent.com/5368500/106963238-69a25880-6794-11eb-9e94-988d6b3a96ee.png)

[2021-02-04 22:57] peterbe commented on #2683
@schalkneethling Can you help me decipher this one if it needs just changes to the SCSS or to the macros as well?

[2021-02-05 01:22] #2819 closed

[2021-02-05 01:23] escattone commented on #2819
The fix for this has been merged. It may take up to 48 hours for the changes to be visible on MDN. Thanks for reporting this @ekr.

[2021-02-05 06:18] hamishwillee opened #2830 "Proposal for better page footer"
The page footer looks like this:

![image](https://user-images.githubusercontent.com/5368500/106996694-8743e200-67d5-11eb-99c3-867594808d8c.png)

What I personally would find more useful would be:
- **Edit on github** (replace link to source on github). Essentially just open the page rather than go to it. This shortens process by one step for most users. Ideally the name of the PR should seeded wi

[2021-02-05 09:01] chrisdavidmills commented on #2830
@hamishwillee For the first link, I think "Edit on GitHub" is better text, per se — it is more of a call to action, it is more obvious  what you are doing if you click it. I think we didn't go for that text originally because we were unsure about whether it would be a good idea to try and take them straight to the URL for editing the page — they would need a GitHub account and be logged in before

[2021-02-05 12:29] foolip opened #6667 "BCD tables include the `version_removed` in the version range"
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1417902 filed again for the new MDN setup.

The problem is clearly illustrated by things that were in EdgeHTML (Edge 12-18) but are not in new Chromium-based Edge 79+:
https://developer.mozilla.org/en-US/docs/Web/API/DocumentType#browser_compatibility

It looks as though support was in Edge 12-79, but it was in Edge 12-18.

---

From duplicate h

[2021-02-05 12:34] mattiapontonio commented on #2830
https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fmdn%2Fcontent%2Fedit%2Fmain%2Ffiles%2Fen-us%2Fmdn%2Fstructures%2Flive_samples%2Findex.html

If you are logged out it sends you to a login with I suppose the next redirect.
It is true we are obliged to create an account but patience.
In my opinion we should put both links, in my opinion we should put a number of links greater than 3, for

[2021-02-05 14:05] evilpie opened #2856 "Compatibility table background for disabled-by-default features is too positive"
Currently for features that are implemented, but require a setting a flag, the background is green. In reality such a feature can not be used in production in that browser, because the the majority of people will not have this flag set.

I think MDN should use a different color. For example "Partial" uses orange/yellow from what I remember.

[2021-02-05 17:28] kalyank23 commented on #2802
I came from this link https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS

![image](https://user-images.githubusercontent.com/34736945/107067680-a35f7780-6805-11eb-8e67-70bc60b72ef8.png)

[2021-02-05 18:51] Ryuno-Ki commented on #2793
The hash is there for „cache busting”.
If there are adjustments to CSS, there will be a new hash. That triggers a new download by the browser.
This way, you can configure to cache the downloaded CSS for a long time (usually a year) without having to fear, that updates won't make it to users.

[2021-02-05 18:56] Ryuno-Ki commented on #2582
@peterbe I understand your frustration. Could you keep polite here? (Or take this dicussion off-thread by using e-mail).
It feels toxic to readers of these issues.

[2021-02-05 19:34] #2745 closed

[2021-02-05 22:19] kalyank23 opened #2837 "Nss 3.36 version is not supporting EC keys"
Nss 3.36 version is not supporting EC ( Elliptic Curve) keys and is causing PKCS unknown error in RHEL6, could you please let us know if EC keys are supported by NSS or not?

EC keys will have starting string "-----BEGIN EC PRIVATE KEY-----"

While going through official website of NSS https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS, I came across here.

![image](https://user-images.

[2021-02-05 22:20] #2837 closed

[2021-02-05 22:22] kalyank23 opened #2838 "Nss 3.36 version is not supporting EC keys"
Nss 3.36 version is not supporting EC ( Elliptic Curve) keys and is causing PKCS unknown error in RHEL6, could you please let us know if EC keys are supported by NSS or not?

EC keys will have starting string "-----BEGIN EC PRIVATE KEY-----"

While going through official website of NSS https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS, I came across here.

![image](https://user-images.

[2021-02-05 23:10] Ryuno-Ki commented on #2838
I suggest to close as duplicate of https://github.com/mdn/yari/issues/2837 and https://github.com/mdn/yari/issues/2802
Please stop.

[2021-02-05 23:30] escattone commented on #2838
@kalyank23 To be clear, those links are not for reporting suspected bugs/issues with NSS, but rather for reporting issues with the documentation on MDN Web Docs (or the code that we use to build, deploy, and serve that documentation -- which we call the "platform"). You will need to ask your question directly to the team responsible for NSS. I think their repository is at https://hg.mozilla.org/pr

[2021-02-05 23:30] #2838 closed

[2021-02-06 06:45] sarkariresulta commented on #2830
<a href="https://sarkariresulta.com/">Check the footer of this website for better footer</a>

[2021-02-07 22:31] hamishwillee commented on #2830
@chrisdavidmills

1. Re [Source on Github](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases) vs [Edit on Github](https://github.com/mdn/content/edit/main/files/en-us/mozilla/firefox/releases/index.html)

Let me put it to you another way - what's the user experience now, and which is better? Try it out - both links above are "good".

Consider the current case. You go to the source.

[2021-02-08 10:25] chrisdavidmills commented on #2830
1. I think we agree here.
2. Yeah, I like "Report a bug on this page" too.
3. Spam comment deleted.

[2021-02-08 18:46] peterbe commented on #2683
25 days ago, https://github.com/mdn/mdn-minimalist/issues/422 seems to have been the trigger that added `height: auto` to all code examples.

[2021-02-08 18:47] chrisdavidmills commented on #2843
This will be useful when we start to actually do the work to get rid of KS

[2021-02-08 18:51] tannerdolby commented on #2478
@schalkneethling I know your working on this already (and may have committed fixes) but I wanted to share that the [position - CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/position) page is also experiencing the overflow issue.

[2021-02-08 18:59] peterbe opened #2847 "Remove the magnifying glass icon?"
**Note** We can't act on this issue until we've ported the home page and site-search over to Yari. Otherwise we'd have inconsistencies and we'd have to edit Kuma front-end code.

Why do we have this magnifying glass?
<img width="883" alt="Screen Shot 2021-02-08 at 1 55 31 PM" src="https://user-images.githubusercontent.com/26739/107267986-9022f680-6a15-11eb-8837-6434df582fa4.png">
It adds weight an

[2021-02-08 19:08] Ryuno-Ki commented on #2847
As a stop-gap solution, I think, you could hide the icon with `display: none;`.

[2021-02-08 20:19] mattiapontonio commented on #2847
Google was the first to do this idiocy of putting things visually into inputs (I don't have the commit to mention) like microphones, X, other. From then on a number of designers (myself included) have wanted to embrace this problem which is in fact a problem of putting an internal border on the input and the magnifying glass for example. Today we should take a step back and go back to the good old

[2021-02-08 20:30] peterbe commented on #2846
Regarding the list of "Remove" (above)...
Since https://github.com/mdn/yari/pull/2746 it's now a flaw to use one of the KS macros whose code (`.ejs` file) includes the line `mdn.deprecated()`. And it's a fixable flaw so it will automatically remove the KS macro. So, to tackle the KS macros that should be removed, you just need to update the `.ejs` file to have that line (look at https://github.com

[2021-02-08 20:34] peterbe commented on #2846
Also, can we not say that this issue is complete and can closed? If [Will's comment above](https://github.com/mdn/yari/issues/2846#issuecomment-593693054) is the final verdict, then that answers the issue's title and the next action is to explode this into fresh new smaller atoms of issues that we can work against.

[2021-02-08 20:39] peterbe commented on #2843
What I propose we do is write a flaw that treat a macro as "render-out-able" :)
It'll be a flaw but it'll gracefully continue to work. Then, as part of the fix fixable flaws, we basically replace the `{{MACROCALL}}` with the HTML it produced and save it back to the source `index.html` file.

I think we can take a page from the `mdn.deprecated()` trick. I.e. the macros that should be replaced (at t

[2021-02-08 21:45] peterbe commented on #2582
Sure. Thanks for reminding me. If you can, when you see comments that are distracting and off-tangent, help out to remind to keep the discussion focussed.

[2021-02-08 22:13] hamishwillee commented on #2830
@peterbe I think we've converged here - first link opens current page to edit on github and second link just changes text - ie.

![image](https://user-images.githubusercontent.com/5368500/107287949-ce242700-6ab6-11eb-8809-cbffb18a198a.png)

Could someone in the dev team be assigned to this (not in a hurry, just want to make sure that it is owned by someone to either progress or close).

[2021-02-08 22:19] peterbe commented on #2830
Curveball here; I often click "Source on GitHub" to see it and it links me to things like the git history and the git blame and stuff. For actually editing I always used my local git version and VSCode for the actual editing.

Another curveball; are we sure that "bug" is the right word for things that aren't completely broken but could do with an improvement. I.e. "This paragraph isn't wrong but i

[2021-02-08 22:21] peterbe commented on #2830
What do you think @schalkneethling @escattone @fiji-flo ?

[2021-02-08 22:25] Ryuno-Ki commented on #2582
Will do (and did in the past).

Sometimes, I feel like there are some parts, that feel so common for engineers, though, that I take the time to explain them.
If you feel it would be distracting, I could go ahead and mark them as off-topic. That would make GitHub collapse them, but still keep them in an issue / PR.

Bear in mind, that we are attracting newcomers here. I want to cater for them if I

[2021-02-08 22:31] hamishwillee commented on #2830
I do too, but neither of us are/should be the main audience for this link. We're going to be able to find this page anyway, and if we wanted to we could click an edit link and then cancel to see the file.

The main audience we want for a link like this is fly-by-helpers who don't want to understand our toolchain and we want to encourage to do quick fixes through the github interface.

If you saw t

[2021-02-08 22:32] mattiapontonio commented on #2582
Please forgive me for this non-engineering comment.
Delete It.

They say **newcomers** have a certain smell
You have trust **issues**, not to mention
They say they can smell your intentions

https://www.google.com/amp/s/genius.com/amp/Twenty-one-pilots-heathens-lyrics

[2021-02-08 22:43] mattiapontonio commented on #2830
GitHub uses _Create Issue_.

![Screenshot_20210208-234242.png](https://user-images.githubusercontent.com/44380480/107290769-6692bb00-6a67-11eb-875c-b37b321764f2.png)

[2021-02-08 22:56] Ryuno-Ki commented on #2830
„Make this page better”?

„Improve this page”?

Bug and issue sounds pretty much like technical jargon to me.

[2021-02-08 22:58] mattiapontonio commented on #2830
One should always try to tell the truth. And this cliché serves as a general opinion on this whole issue.

[2021-02-08 23:10] Ryuno-Ki commented on #2830
I can see your reference to CRUD (Create, Read, Update, Delete) here. But bear in mind, that naming the tool isn't helping much.

If you would … let … don't know, aliens write the content, the visitors couldn't care less. Yari is out of question.
Deleting is destructive. You often don't come to GitHub to delete pages.

In fact, glancing over the reported issues at mdn/content, those drive-by edito

[2021-02-08 23:14] mattiapontonio commented on #2830
I see your points but for convenience I don't focus on objectives like those (let's say strategic) but I prefer consistent code, clear and as universal as possible (Wikipedia and co for words). 👍

[2021-02-08 23:21] mattiapontonio commented on #2830
Yes, but some might want shortcuts. In the end I think there is always a PR involved.

[2021-02-08 23:33] hamishwillee commented on #2830
The audience for these kinds of links is beginners who don't know how MDN works. If you want them use these instructions they need to be unambiguous, succinct and easy to find.

These suggestions both imply a call to edit a page, not to report a problem or improvement (i.e. you might use them on the Edit on Github link, but not the report an issue link).
- Make this page better”?
- Improve this pa

[2021-02-08 23:55] mattiapontonio commented on #2830
Keep going on the tangent of your ideal world divided into ideal groups of people and ideal issues. The reality is that those links actually create objects on a GitHub database or view or modify them through a web interface that requires code authentication of files on a filesystem hosted by GitHub according to a technology called Git. Now this is long to explain and therefore we could make guides

[2021-02-09 00:17] hamishwillee commented on #2830
@mattiapontonio I certainly will, though I prefer to think of them as "real people". My favourite design principle is KISS. Look it up :-)

Anyway, I am now more interested in what the people who haven't commented have to offer.

[2021-02-09 02:11] hamishwillee opened #2849 "AvailableInWorkers macro - some workers might not be supported"
`{{AvailableInWorkers}}` can be applied to a page to add a note like this:
![image](https://user-images.githubusercontent.com/5368500/107305652-7d70f600-6ad7-11eb-91b9-c8293751bb4d.png)

Thing is, there are three (maybe 4) types of web workers, and depending on the thing you're talking about it might not be supported in all workers. For example, XMLHttpRequest does not work in service workers. To

[2021-02-09 03:38] mattiapontonio commented on #2849
Comment to stay updated on this. 🎲🎟️

[2021-02-09 04:45] #2683 closed

[2021-02-09 06:55] fiji-flo commented on #2830
I think send them sending a beginner directly to [Edit on GitHub](https://github.com/mdn/content/edit/main/files/en-us/web/html/index.html) (open this link in a private window!) which prompts them directly with a login/signup page is not a great user experience. Signing up, editing and figuring everything out is a lot to ask. I would link the the file on GitHub but also have a link to a contributi

[2021-02-09 07:22] Ryuno-Ki commented on #2849
@mattiapontonio In cases like this, there's a „Subscribe” button in the Desktop view (which you can enforce even on mobile) on the right sidebar under „Notifications”. This allows you to get informed without sending a comment.

[2021-02-09 08:23] mattiapontonio commented on #2830
The real problem is that you can't know if a server will reply [200](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200) or [401](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401) to a client without it fetching so you shouldn't worry about it when giving a URL.
It's a bit like asking an editor to test links before using them in articles, if they did we wouldn't need flaw che

[2021-02-09 08:40] hamishwillee commented on #2830
@fiji-flo **Edit on github** is so popular in the SSG world that is almost defacto standard - perhaps to some extent supported by the fact that the default Read the docs theme has this in the header - see https://docs.scrapy.org/en/latest/

It is certainly a better experience that going to the source and trying to read the wall of text that is our contribution guide to work out the next step. Logg

[2021-02-09 09:16] Ryuno-Ki commented on #2830
This could be also your personal echo chamber (*shouts 'Hey there' into a shared bubble).

I agree. I can see it in several technical documentations.

Seeing the source would allow me to orient myself (and perhaps denote the line number I'm about to change). But vertical scrolling makes the experience less appealing - another issue about max column length once we are on Markdown-base.

But then, g

[2021-02-09 09:20] fiji-flo commented on #2830
Am I looking at the wrong link? That one does not open the edit page:
[Edit on GitHub](https://github.com/mdn/content/blob/main/files/en-us/web/html/index.html) vs [Edit on GitHub](https://github.com/mdn/content/edit/main/files/en-us/web/html/index.html)

I was just voting to use the first one, sorry if I didn't make myself clear. And that's just about changing the link text in the footer.

[2021-02-09 10:40] Elchi3 commented on #2856
Transferred to yari since this about how we render compat data. I think the relevant file is https://github.com/mdn/yari/blob/master/client/src/document/ingredients/browser-compatibility-table/feature-row.tsx

[2021-02-09 10:44] mattiapontonio commented on #2856
I was just thinking about it the other day. In fact I believe supported means 100% supported as per specification and any other case could fall into unsupported.

[2021-02-09 12:36] #1058 closed

[2021-02-09 12:40] peterbe commented on #2830
Interesting twist there; Readthedocs uses the phrase "Edit on GitHub" but it doesn't link to "edit mode", it links to "view mode" which seems to be a mix of what you, @fiji-flo, and I prefer. I.e. keep the URL as is but change the label for the link.
[code]
I can get behind that. Readthedocs is prevalent and it's a phrase that a lot of people are used to.

However, not to be weird, but a part of m

[2021-02-09 13:37] schalkneethling commented on #2158
Resolved by https://github.com/mdn/content/pull/1661

[2021-02-09 13:37] #2158 closed

[2021-02-09 13:40] schalkneethling opened #2858 "Aspiring web devs banner"
Copy provided by @chrisdavidmills

I propose that the new banner for the education survey could read something like this:

Learning web development survey
Help us understand how to make MDN better for beginners (5 minute survey)
Take the survey

[2021-02-09 16:31] Ryuno-Ki commented on #2830
I side with @mattiapontonio here. Let's make it easy for contributors to submit small patches and welcome them so stay for the CLI.

[2021-02-09 16:51] Ryuno-Ki commented on #2856
@Elchi3 Browsing a GitHub file and then hitting <kbd>y</kbd> will give you a permalink (in case we break up the file or rename it or something the link will remain being navigateable).

So … in my understanding, we have two issues worth talking about here:

1) How to deal with features, that are implemented, but hidden behind a flag (with respect to tooltips, iconography etc)
2) Do we need more co

[2021-02-09 17:11] Ryuno-Ki commented on #2809
Please, respect DNT (I mean, I'm blocking Google Analytics anyway, but …)

Mozilla used to be known for privacy respecting behaviour. There is some actions that made Mozilla shed a bad light on it, so respecting DNT could be a small step to regain the trust.

No, but completely ignored by the ad industry, because it would mean loosing :money_mouth_face:

[2021-02-09 17:19] peterbe opened #2861 "Post-process all content external links to set the right attributes"
Today, the only thing that happens with external links is that they get the `class="external"` automatically set on them at build-time. We should extend that to be `target="_blank"` and `rel="noopener noreferrer"` as well.

[2021-02-09 17:24] Ryuno-Ki commented on #2861
Should we?

I mean, you could argue, that it's up to the user to decide, whether a link should be opened in a new tab or not.

But **if** you do, the `rel` attributes are required to prevent an attack.

[2021-02-09 17:42] peterbe commented on #2861
It's a fair point. I think I put that into the issue because @fiji-flo put it in my head :)
But come to think of it, I quite like the idea of not enforcing it.

[2021-02-09 17:47] Ryuno-Ki commented on #2861
I mean, I can't blame you. It's a pretty common pattern. But I've heard other arguments from UX folks. So perhaps worth to shortly stop and think about it. I'm fine with either solution.

[2021-02-09 17:47] peterbe commented on #2861
Also, when I'm re-reading https://mathiasbynens.github.io/rel-noopener/ I see that he does not actually recommend the `noreferrer` value. So it's actually only the `noopener` one that matters.

@schalkneethling @escattone  Do you remember, we spun on this a bunch on the Wiki with the python code at some point but I can't remember the conclusions or reasons. Any guidance here?

[2021-02-09 17:48] fiji-flo commented on #2861
I think it's nice to open in a new tab for user generated content. We could have an allow list for domains where we do not enforce it.

[2021-02-09 17:49] Ryuno-Ki commented on #2861
Hm, does he recommend to not do (as in: Don't do it) or does he not recommend to do (as in: makes no statement about it)?
Because, I think, the `noreferrer` attribute was for some older browser only …

[2021-02-09 19:37] mattiapontonio commented on #2809
![Screenshot_20210209-203502.png](https://user-images.githubusercontent.com/44380480/107417878-4ff76d00-6b16-11eb-9ac7-d10002f2cb10.png)

I see Obsolete. Is BCD wrong?
Anyway Yes I agree. I'm for old school HTML text and graphic without too much psicology 🧠🧐 etc

[2021-02-09 20:16] mattiapontonio commented on #2861
I disagree to open in a new window. Besides, the story is lost which is something I find inconvenient.

[2021-02-09 20:19] peterbe opened #2863 "Salvage 404s that are 404s because of lack of /docs/"
Take https://developer.mozilla.org/en-US/DOM/element.addEventListener for example.
It came up in https://github.com/mdn/content/issues/2073

What ought to happen is that the fundamental redirects should have...
[code]
but that list is very long. As of today, it's basically anything where the word after the locale isn't `search` or `settings` or `sign-up` or whatever we come up with next.

A simple

[2021-02-09 20:24] mattiapontonio commented on #2856
Move them as is outside the table. 🚜

✖️ Nope

[2021-02-09 20:26] peterbe commented on #2856
If you and/or @ddbeck can reduce all those old discussions, plus @evilpie 's fresh one, then I think I can easily execute the change. Happy to but it'll take me a while if I have to forensically figure out what the nuisance and details are of discussions past.

[2021-02-09 21:36] peterbe opened #2864 "Use developer.mozilla.org to proxy site-search in CRUD_MODE"
If you're using the CRUD_MODE from the mdn/content repo and do a search, it won't have the proxy set up.

But it would be nice if the site-search works even if you don't have kuma and/or Elasticsearch running on your laptop.
Let's proxy to the production server's `/api/v1/search` when you're in localhost:5000.

[2021-02-09 21:36] peterbe commented on #2864
Note, this is a follow-up for https://github.com/mdn/yari/pull/1473

[2021-02-09 21:46] hamishwillee commented on #2830
@fiji-flo So yes I really did mean "Edit", but you're right, that ReadTheDocs really does just view. If we're not opening to edit then I'm ambivalent about the text.

It is not at all weird to want people to use the CLI. But in practice, my experience indicates that no matter how simple your tooling setup or how great the experience, people will still jump through crazy complicated hoops to use Gi

[2021-02-09 21:46] #2830 closed

[2021-02-09 22:15] peterbe opened #2866 "Make site-search results score-debugging optional"
This stuff is only really useful if you're actively debugging the Kuma algorithm for combining "matchness" with the popularity.

<img width="1317" alt="Screen Shot 2021-02-09 at 4 33 17 PM" src="https://user-images.githubusercontent.com/26739/107435565-511aa100-6afa-11eb-9f52-803e83b2f98a.png">

[2021-02-09 22:23] peterbe opened #2867 "The "Did you mean..." suggestions' total is wrong"
The "Did you mean..." says there are supposed to be 103 matches on this suggestion:
<img width="503" alt="Screen Shot 2021-02-09 at 5 21 50 PM" src="https://user-images.githubusercontent.com/26739/107436375-6fcd6780-6afb-11eb-8989-a6ea605881eb.png">

But if you apply it, you get a different total:
<img width="458" alt="Screen Shot 2021-02-09 at 5 22 00 PM" src="https://user-images.githubuserconten

[2021-02-09 22:45] mattiapontonio commented on #2866
I would leave them

[2021-02-09 22:46] peterbe commented on #2867
It's a problem with the Kuma code. Yari displays the numbers correctly. It's just the wrong number.
<img width="657" alt="Screen Shot 2021-02-09 at 5 45 33 PM" src="https://user-images.githubusercontent.com/26739/107438538-9e990d00-6afe-11eb-9131-e3ff4eb4390a.png">

Transferring this to Kuma.

[2021-02-09 22:54] mattiapontonio commented on #2830
It would be nice if GitHub did the preview of the html too, always highlighting the differences

[2021-02-10 11:12] #2858 closed

[2021-02-10 11:19] #2864 closed

[2021-02-10 11:41] schalkneethling opened #2874 "Change "Jump to section" to "Table of contents""
Originally discussed here https://github.com/mdn/content/issues/1371#issuecomment-762091835 and then discussed further here https://github.com/mdn/yari/pull/2839/files#r572166625. A decision was made to headline the table of contents with a "Table of contents" heading.

[2021-02-10 12:24] peterbe commented on #2795
@escattone Considering that the work you did in https://github.com/mdn/yari/pull/2799 means it's going to be done on ALL responses, couldn't we close this issue now? I.e. it's going automatically apply to static SPAs like the home page and the site-search.

[2021-02-10 13:43] duongdominhchau opened #2876 "Low constrast link in heading"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators

Here is what I see on my computer:

![image](https://user-images.githubusercontent.com/56427890/107517501-69fd8200-6be0-11eb-9d98-e04a60244b6e.png)

The dark background seem out of place, is it because I configure my system to use dark theme and yari doesn't dark theme yet?

[2021-02-10 13:51] mattiapontonio commented on #2876
It should be due to the color of the link. Thinking about it I think you could avoid putting links inside the titles. In the end why should I read a title and then browse without reading the paragraphs to which the title refers?

[2021-02-10 13:57] chrisdavidmills commented on #2876
This is really a content issue — this has happened because the headings have all got anchors inserted inside them, and so are being styled like links. This isn't needed now because Yari handles this automaically.

So whoever fixes this just needs to remove the anchors from the source code. I'll move this over now.

[2021-02-10 14:48] Elchi3 commented on #2856
Sure, the idea is that everything here should be red: https://developer.mozilla.org/en-US/docs/Web/API/Bluetooth/getDevices

The compat data is here https://github.com/mdn/browser-compat-data/blob/master/api/Bluetooth.json#L206.
You can see a `flags` property for chrome and friends and that's the indicator in the data that should make things red in rendering.

[2021-02-10 15:03] #2874 closed

[2021-02-10 15:09] schalkneethling commented on #2755
Looks like this is not needed for us. This applies to pretty old version of Safari and other browsers. I reckon we are fine as the behavior in our supported browsers are as expected without setting `tabindex`

[2021-02-10 15:09] #2755 closed

[2021-02-10 15:21] peterbe opened #2877 "The main JS bundle is too large"
The `client/build/static/js/main.HASH.chunk.js` bundle is too large. At the time of writing, it's 67KB.
Its source map analysis looks like this:

<img width="1493" alt="Screen Shot 2021-02-10 at 9 59 24 AM" src="https://user-images.githubusercontent.com/26739/107527264-aac8ad00-6b86-11eb-83e9-e272276ce9ee.png">

And here's the breakdown as a list:

[code]

Things to maybe dig in to:

* [The `page-

[2021-02-10 15:22] peterbe commented on #2877
Here's a spreadsheet and a cryptic pie chart of that same table as above: https://docs.google.com/spreadsheets/d/1doQcM7uLLEGvfN2EW8Ztxa3mMH08JpRZoZ9HW_nqMEc/edit#gid=1266556508

[2021-02-10 15:23] peterbe commented on #2877
Note-to-self how I generated the source-map treemap:
[code]

[2021-02-10 15:24] peterbe commented on #2877
https://evanw.github.io/source-map-visualization/ is a great resource too. You click to upload and select `main.*.map` file.

[2021-02-10 15:47] #2866 closed

[2021-02-10 16:23] schalkneethling commented on #1442
![Screenshot 2021-02-10 at 18 23 17](https://user-images.githubusercontent.com/10350960/107538846-0e75c900-6bcd-11eb-828d-5426139757ca.png)

I can confirm that this has been resolved.

[2021-02-10 16:23] #1442 closed

[2021-02-10 17:02] mattiapontonio commented on #2856
It would take a
https://json-schema.org/
so you could refer to that

[2021-02-10 20:22] peterbe opened #2879 "Deploy redirects from the archived content"
It started with https://github.com/mdn/content/issues/2181
A bunch of links in the archived content are broken because when we migrated, we didn't migrate the archived *redirects*.
https://github.com/mdn/archived-content/pull/6 took are of having a `_redirects.txt` for all the archived content redirects.
Now we just need to support to upload these. The current deployer can only look for `_redirect

[2021-02-10 22:01] mattiapontonio commented on #2877
Why not.

[2021-02-11 00:06] escattone commented on #2843
@peterbe Just so there's no confusion when others read this issue (since this issue is for the `replace` case), your proposal would be for the macros that are in the `render` list, not the `replace` list.

Also, I'm not sold on your approach for the `render` case, mainly because fixing these `render-out` flaws (the `remove` -- aka "deprecated" -- flaws as well)  becomes a tedious process because t

[2021-02-11 00:13] #2879 closed

[2021-02-11 00:52] escattone commented on #2861
Regarding `noopener`, that one we all agree is good to have for security reasons.

Regarding `noreferrer`, after reading https://mathiasbynens.github.io/rel-noopener/, I had the same impression as @Ryuno-Ki, that it might be good to use because it improves security when using older browsers. Also, like @peterbe said, I do remember discussing the pros/cons of using it (or not) a long time ago. I do

[2021-02-11 01:11] escattone commented on #2863
@peterbe I like this idea! In addition to this, I'm going to think about something we can do either in the origin-response Lambda@Edge function on 404's, or perhaps even better, in the S3 redirect rules.

[2021-02-11 04:04] escattone opened #2884 "Add additional security-related headers"
When we launched Yari, we also inadvertently dropped the following headers:
- `X-Content-Type-Options: nosniff`
- `X-XSS-Protection: 1; mode=block`

Let's add them back.

[2021-02-11 07:08] schalkneethling commented on #2861
So, if we decide to not do `target="_blank"` does that not also make the discussions around using `noopener` and/or `noreferrer` moot?

If we do, I reckon we are ok with only using `noopener` as `noreferrer` is mainly for browsers older than those mentioned in this paragraph from the article:

On MDN Web Docs I reckon we hardly ever see browsers older than those.

Also, from the MDN docs:

But als

[2021-02-11 07:16] schalkneethling commented on #2877
In https://github.com/mdn/yari/pull/2882 @peterbe moved the default fallback avatar image to assets 👍  - we can shave a few more bytes of if we convert the `png` to an `svg`.

[2021-02-11 07:17] schalkneethling opened #2888 "Change avatar.png to an SVG if it saves us some bytes"
In https://github.com/mdn/yari/pull/2882 @peterbe moved the default fallback avatar image to assets 👍  - we can shave a few more bytes of if we convert the `png` to an `svg`.

_Originally posted by @schalkneethling in https://github.com/mdn/yari/issues/2877#issuecomment-777246551_

[2021-02-11 07:32] schalkneethling opened #2889 "Style the new site-search"
With https://github.com/mdn/yari/issues/1058 closed it is time to adding needed style, evaluate the HTML and accessibility of search.

[2021-02-11 08:24] Ryuno-Ki commented on #2888
@mattiapontonio Is this something you'd like to do?

[2021-02-11 08:27] Ryuno-Ki commented on #2861
I cannot tell. What does your analytics say?

[2021-02-11 09:20] schalkneethling commented on #2888
I am happy for him to do it but, I already have the relevant asset in our design system.

[2021-02-11 09:21] schalkneethling commented on #2861
That is what our analytics tell us. We have very, very few people using the site with older browsers. It does happen, but rarely.

[2021-02-11 11:00] mattiapontonio commented on #2877
Readme?

[2021-02-11 11:03] mattiapontonio commented on #2877
The logo takes a giant slice of cake (**12,2%**), nothing can be done?

[2021-02-11 11:40] mattiapontonio commented on #2888
Happy build-day 🎂😏
However I would convert them in any case because it is also good that I can zoom 🔍 in on the default avatar to see something more closely I don't know why but I do.

[2021-02-11 12:07] peterbe commented on #2888
Actually don't. I looked at 10,000 user accounts and tallied how many have an avatar picture in their details, the numbers are:

[code]

So if you can figure out a way to sign in to Persona, and you haven't uploaded a picture manually in your Edit Profile, the chances of a user NOT having a picture are extremely slim.

Close?

[2021-02-11 12:17] mattiapontonio commented on #2888
How much? **6.8%**?

[2021-02-11 12:49] #2520 closed

[2021-02-11 13:12] #2888 closed

[2021-02-11 13:31] schalkneethling commented on #2889
A note:

[code]

[2021-02-11 14:09] mattiapontonio commented on #2888
We missed an opportunity here

[2021-02-11 14:20] mattiapontonio commented on #2861
FTR
- https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/noopener
- https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/noreferrer

[2021-02-11 15:21] peterbe commented on #2861
So all my browsers are automatically safe. The (second link) demo on https://mathiasbynens.github.io/rel-noopener/ does not manage "to hack me" with Safari, Firefox, or Chrome.

In his demos he's using `target="_blank"` which is contentious. I personally quite like those kinds of links but it's more appropriate for apps, and MDN isn't an app, it's a website.

So the big question is; if you *don't*

[2021-02-11 15:38] aardrian opened #2901 "Issue with all content: Missing link underlines"
MDN URL: https://developer.mozilla.org/en-US/docs/ (and all pages below)

#### Issue

None of the links within the content have an underline. They are difficult to distinguish from the surrounding content and require interaction to identify them in some cases.

The page content is dark gray (`#212121`) and the link color is dark blue (`#00458b`). with a contrast ratio of 1.7:1, it is fair to assum

[2021-02-11 17:28] #2794 closed

[2021-02-11 17:32] Ryuno-Ki commented on #2856
https://github.com/mdn/content/issues/2289 would be another instance for this „enabled-behind-a-flag” if I understood it correctly.

[2021-02-11 18:37] mattiapontonio commented on #2856
Yes It Is
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog
![Screenshot_20210211-193531.png](https://user-images.githubusercontent.com/44380480/107682297-71846000-6ca0-11eb-83a7-2779743d9f02.png)
![Screenshot_20210211-193558.png](https://user-images.githubusercontent.com/44380480/107682284-6d584280-6ca0-11eb-9094-0fc6f890d075.png)

(Too bad because the dialog seemed like a good fea

[2021-02-11 18:55] peterbe commented on #2889
Remember to search for things that yield suggestions. Then a "Did you mean..." thing pops up.

[2021-02-11 21:02] peterbe commented on #2877
@schalkneethling
Would it be feasible to move the SVG from the JS code into external images? I know it becomes hard to control styling then but it would be a win since, as images, they're technically lazy loaded and the footer is way below the fold.

[2021-02-11 21:18] escattone commented on #2884
This is done. I've updated the appropriate behaviors in our `dev`, `stage`, and `prod` Cloudfront instances so that all requests served by S3 (all of our doc pages, the static assets, and eventually the home, search, and account pages) will respond (after the caches time-out) with the proper security headers.

[2021-02-11 21:18] #2884 closed

[2021-02-11 21:51] escattone commented on #2795
@peterbe Yes, we can close this now. I've updated the proper Cloudfront behaviors such that **all** responses from S3 will get the security headers we've added to https://github.com/mdn/yari/blob/master/deployer/aws-lambda/content-origin-response/index.js.

[2021-02-11 21:51] #2795 closed

[2021-02-11 23:37] mattiapontonio commented on #2877
Great point. So we have to do a PR on Yari every time we decide whether or not to style an SVG with CSS?

https://developer.mozilla.org/en-US/search?q=style+external+svg

[2021-02-12 06:13] schalkneethling commented on #2877
I reckon it is fine. At the moment we do not style them at all, or if we do we simply invert the color. I have a way to do that without the SVG being in the DOM. I will create an issue for it.

[2021-02-12 06:14] schalkneethling opened #2900 "Move icons in footer to CSS background images"
@schalkneethling
Would it be feasible to move the SVG from the JS code into external images? I know it becomes hard to control styling then but it would be a win since, as images, they're technically lazy loaded and the footer is way below the fold.

_Originally posted by @peterbe in https://github.com/mdn/yari/issues/2877#issuecomment-777788131_

[2021-02-12 06:31] schalkneethling commented on #2901
Thank you @aardrian for reporting this. It is a BIG oversight. Whoever picks this up, here is what you are going to need to change:

https://github.com/mdn/yari/blob/200521ca2a9fe9a6e0a77295e3d2d5a2d4e8b6bb/client/src/document/index.scss#L46

[code]

[2021-02-12 08:36] Ryuno-Ki opened #2903 "Tag deprecated content"
It is much more scalable and reliable to dynamically generate these kinds of lists from "tagged" content than to try to manually keep them up to date.

_Originally posted by @hamishwillee in https://github.com/mdn/content/issues/2086#issuecomment-777892990_

I was wondering, whether this tagging could go into frontmatter (think of markdown times in the future).

[2021-02-12 08:40] Ryuno-Ki commented on #2903
Note, the discussion in https://github.com/mdn/yari/discussions/2905

[2021-02-12 08:43] mirunacurtean commented on #2035
https://github.com/mdn/yari/pull/2839#issuecomment-777597073

[2021-02-12 08:43] #2035 closed

[2021-02-12 08:47] Ryuno-Ki opened #2906 "Handling invisible unicode"
Honestly, don't know. The zero-width ones are bad because they can cause problems and be very hard to debug. But your point is good.

_Originally posted by @peterbe in https://github.com/mdn/yari/issues/2172#issuecomment-747601180_

There's the Big List of Naughty Strings on GitHub which holds „known to be bad” strings.
On top of my head, I could imagine of Zero-Width-Joiners and Unicode confusabl

[2021-02-12 08:55] mirunacurtean commented on #1198
@fiji-flo Can you please triage this?

[2021-02-12 08:57] mirunacurtean commented on #1057
@escattone Could you please take another look at this and see if it's still valid?

[2021-02-12 09:06] mirunacurtean commented on #2706
@escattone As I was trying to categorize the issues in yari I also came across this issue and I was wondering, isn't it better to turn it into a discussion?

[2021-02-12 10:18] fiji-flo commented on #1198
Even though some parts are still applicable I prefer closing this as the smartling integration is on hold I guess.

[2021-02-12 10:18] #1198 closed

[2021-02-12 13:56] mattiapontonio commented on #2900
IMHO
We should challenge ourselves not to use the Sprites because they are non-standard and are an over-engineering

[2021-02-12 13:57] mattiapontonio commented on #2877
I'm interested. Please let's mention this in MDN if Is not.

[2021-02-12 14:18] mattiapontonio commented on #2903
It makes perfect sense that articles are modeled as objects and have properties.

[2021-02-12 14:35] peterbe commented on #2906
We don't limit the folder names to ASCII even for the regular en-US content. E.g. https://github.com/mdn/content/tree/main/files/en-us/glossary/b%C3%A9zier_curve
But once all the translated content has gotten "Englishified" I think it would be sensible to extend our treatment of slugs and folder names a bit.

@fiji-flo and I were talking about the fact that we probably should force slugs in a way

[2021-02-12 14:37] peterbe commented on #2906
Note, my comment "assumes" that `sanitizeFilename` is the same as filtering out weird (in particular invisible) unicode. But it's only an assumption and an estimate.

[2021-02-12 15:33] peterbe commented on #2903
Let's focus on the discussion first and if the team reaches a consensus there, we'll turn it into an actionable issue.

[2021-02-12 15:33] #2903 closed

[2021-02-12 16:35] mattiapontonio commented on #2906
I have to think more about this but being in the file system I think it must be a GitHub action. If these strings came from a web App it would be different but the point should be to clean content and not allow them to be inserted there. You have to think about it to understand in which languages it is useful to use these characters.

[2021-02-12 17:38] mattiapontonio commented on #2035
This could be reopened...
Why be inconsistent in UI between languages?

![Screenshot_20210212-183811.png](https://user-images.githubusercontent.com/44380480/107802363-8674f800-6d61-11eb-86d2-c65fd41ed106.png)

[2021-02-12 17:43] mattiapontonio commented on #2706
Or into a project (same menu).
https://github.com/features/project-management/

![Screenshot_20210212-184251.png](https://user-images.githubusercontent.com/44380480/107802827-20d53b80-6d62-11eb-9f1c-739f071c319a.png)

[2021-02-12 18:44] peterbe commented on #2438
https://github.com/mdn/yari/pull/2689 has been merged. Now we need to add the SSR rendering and the Hacks blog feed thing.

[2021-02-12 19:00] peterbe commented on #2901
Please don't assign issues. Not even to people in the core team. We assign them to ourselves or perhaps in some exceptions, for each other after we've had offline conversations.

Contributors are more than welcome to make pull requests but they have to take the chance that a PR might come in slightly later than another contributors PR.

All too often we've seen it happen over the years that well-m

[2021-02-12 19:14] peterbe commented on #1057
I checked the `/api/v1/*` endpoints and they're sane and don't need much cleaning up.

I don't know what other endpoints still exists outside of that because there's no way to get to anything under `/$locale/docs/*` anymore.

[2021-02-12 19:34] mattiapontonio commented on #2901
In my opinion, it could be an anarchist attempt in which everyone can self-assign issues and even steal them from others and see if the team manages itself as the Agile theorists theorize.

---

Aside from that, you should investigate where the links have been unsubscribed and not add places where they are underlined (although it may seem like a maintenance gesture). And it would be nice to give a

[2021-02-12 20:31] peterbe opened #2909 "Don't Elasticsearch index noIndexing documents"
Documents that are flagged `noIndexing` don't show up in the sitemap XML files, the `search-index.json`, and they get the "noindex, nofollow" robots header tag. However, they do get sent to Elasticsearch:
<img width="1337" alt="Screen Shot 2021-02-12 at 3 29 36 PM" src="https://user-images.githubusercontent.com/26739/107819569-62a4b880-6d47-11eb-868a-b1630ea55340.png">

They shouldn't.

[2021-02-12 20:36] #2707 closed

[2021-02-12 20:38] peterbe commented on #2762
We will take care of all of these. Soon enough `/es/docs/Web/JavaScript/Guide/Bucles_e_iteracion` will automatically become a redirect to `/es/docs/Web/JavaScript/Guide/Loops_and_iterations` and if that Spanish translation page doesn't exist you get what @mirunacurtean is demonstrating in her screenshot.
More about the work to move translated slugs here: https://hacks.mozilla.org/2021/02/mdn-local

[2021-02-12 20:38] #2762 closed

[2021-02-12 20:49] peterbe opened #2911 ".live-sample-frame is never used for anything"
Every `<iframe>` live sample gets this class name. But it's never used for anything. Not in SCSS or in any JS code. (as far as I can see).

[2021-02-12 20:49] peterbe commented on #2911
We should remove that wherever we see it.

Do you know of any reason *not* to @schalkneethling ?

[2021-02-12 20:59] peterbe commented on #2805
Not much we can do here. CI always starts afresh.

[2021-02-12 20:59] #2805 closed

[2021-02-12 21:00] peterbe commented on #2791
@schalkneethling Do you want me to file an issue about adding `stylelint` to the CI in yari. I think a lot of stuff should/could be moved from minimalist into Yari and when we do that it'll be nice to have this in CI.

[2021-02-12 21:01] peterbe commented on #2784
Been pondering? I really see no reason to ever width-limit any `<pre>` tag.

[2021-02-12 21:05] peterbe commented on #2863
Once https://github.com/mdn/yari/pull/2891 lands, we'll be able to use Google Analytics to see what URLs people ended up on when they got a 404.
We can download a report of that and see if there are any major patterns. For example, I did see some 404s fly by on URLs like `/en-US/JavaScript/...` and that seems like something we could treat similarly to https://github.com/mdn/yari/pull/2872
Otherwis

[2021-02-12 21:06] peterbe commented on #2690
Blocked on https://github.com/mdn/yari/issues/2224
Hint hint @escattone

[2021-02-12 21:07] peterbe commented on #2662
@schalkneethling Now that you have https://github.com/mdn/mdn-minimalist/issues/453 can we close *this* one?

[2021-02-12 21:08] peterbe commented on #2613
I thought we finished this?
What's missing?

[2021-02-12 21:09] peterbe commented on #2593
I don't know why GitHub didn't link it, but the PR that'll close this is: https://github.com/mdn/yari/pull/2878

[2021-02-12 21:09] #2582 closed

[2021-02-12 21:11] #2410 closed

[2021-02-12 21:13] peterbe commented on #2472
@chrisdavidmills Can you help me.
The content isn't structured. Documents have `tags` but Yari has no great way to navigate by tags. At the moment, tags are only ever used by the KumaScript sidebar macros.

Is this a Yari issue or a Content issue?

[2021-02-12 21:14] peterbe commented on #2299
@Ryuno-Ki wanna try to fix this in Yari [See comment above](https://github.com/mdn/yari/issues/2299#issuecomment-754244721).

[2021-02-12 21:18] peterbe commented on #2411
I think it's honestly too late to deal with this. Our current plan in unfreezing locales is that they share a repo so then it makes perfect sense to keep the prefix.
But even if we someday give each locale its own repo, there might still be enough value in using a prefix always.
And given the size of the task (including risks of dealing with quirks and legacy) to move away from the redundant prefi

[2021-02-12 21:18] #2411 closed

[2021-02-12 21:19] peterbe commented on #2213
https://github.com/mdn/yari/pull/2912 will solve this.

[2021-02-12 21:21] peterbe commented on #2161
For now, I'm going to close it. The depth of this issue discussion was important and interesting, but matching the issue-title with what we're doing and going to do means this issue should resolve since, yes, `raw` and `summary` parameters are no longer supported.

[2021-02-12 21:21] #2161 closed

[2021-02-12 21:26] peterbe commented on #2187
https://github.com/mdn/yari/issues/2784 is still open but the only distinct issue based on this initial discussion. Going to close now for spring cleaning.

[2021-02-12 21:26] #2187 closed

[2021-02-12 21:28] peterbe commented on #2196
@JKROUGE Thank you for your wonderful screenshots! I'm not sure what to do with this. But it seems like a tricky browser bug which is always what I hope it is.

A lot has happened to Yari since Dec 18 2020. Can you test if it's still and issue?

[2021-02-12 21:47] peterbe commented on #2038
Ah. So if the header + footer is English, but the article text is French we could do:
[code]
Cool. But what's the value in doing this? Where and how does it matter?

[2021-02-12 21:49] peterbe commented on #2017
It's still an issue. I'm just going to override it in the Deployer.

[2021-02-12 21:51] peterbe commented on #1764
Too late :)

[2021-02-12 21:51] #1764 closed

[2021-02-12 21:51] peterbe commented on #1702
Fixed some time ago.

[2021-02-12 21:51] #1702 closed

[2021-02-12 21:53] peterbe commented on #1405
Did this earlier this week. Solves some issues mentioned in busted link in the Rhino (archived) documentation.

[2021-02-12 21:53] #1405 closed

[2021-02-12 21:54] peterbe commented on #1699
We don't use the watcher anymore for content. But you can still run into this error in Linux because of all the various source code files that `react-scripts` might be keeping an eye on. So we kept a blurb about it in the "Troubleshooting" section.

[2021-02-12 21:54] #1699 closed

[2021-02-12 21:55] peterbe commented on #1255
@chrisdavidmills @schalkneethling So close now! The Kuma home page is almost ready. Once there we can open up the discussion about what *else* to put on the home page.

As a matter of fact, I think we should move this to Discussions and move it back here to an issue once we decide on what to do. Also, we might be getting some external help with the home page.

[2021-02-12 21:57] #2091 closed

[2021-02-12 21:58] peterbe commented on #1400
@ddbeck @Elchi3 I actually like this suggestion. I don't dare to think how hard it would be to implement, but if you know of something available within the BCD data, it might be significantly easier to implement.
Also, what do you think about Schalks idea?
Personally, it's often something I find myself wondering too. "Available since verson 89?? But how many stable relases ago was that?!"

[2021-02-12 21:59] #2017 closed

[2021-02-12 22:02] #2909 closed

[2021-02-12 22:08] Ryuno-Ki commented on #2038
A screenreader will switch pronounciation accordingly.

For example, `Berlin` is pronounced differently depending on your language:
https://en.wiktionary.org/wiki/Berlin (the speaker within that article play back some audio file)

It can have a serious effect on their UX: https://webaim.org/techniques/screenreader/#video (English text spelled with Czech pronounciation for demo purposes).

Also, it

[2021-02-12 22:12] Ryuno-Ki commented on #2299
I'll give it a shot (but not today).

[2021-02-12 22:16] mattiapontonio commented on #2038
[code]
I believe that when the UI will be translated we will need to find a way to manage the attribute on the individual elements based on the presence or absence of the JSON file or more specifically the key, assuming a list of elements of which only a part are translated.

[2021-02-12 22:19] escattone commented on #1057
Thanks @mirunacurtean and @peterbe. This issue was meant to cover what we might have to disable **prior** to the launch of Yari. We can close this.

[2021-02-12 22:19] #1057 closed

[2021-02-12 22:21] peterbe commented on #2038
Then, let's just do it.
The code for figuring out the `lang` based on the `locale` is probably the same as we do for the `hreflang` meta tags.
I'll attempt this next week.

[2021-02-12 22:22] escattone commented on #2706
Thanks @mirunacurtean. Yes, let's move this into a discussion.

[2021-02-12 22:22] #2706 closed

[2021-02-12 22:58] mattiapontonio commented on #2038
I did not understand, however, even `hreflang` should be analyzed to understand if it can serve and as a value and how to do it.

[2021-02-12 23:34] hamishwillee commented on #2582
Thanks for sorting this one out. Much appreciated.

[2021-02-13 02:38] peterbe opened #2920 "Deployer should treat the home page `index.html` exceptionally"
We usually create S3 keys based on the `index.html` file's parent. E.g. `en-us/docs/web/foo/index.html` becomes, as an S3 key, `en-us/docs/web/foo`
That way we immediately get final URLs that *don't* end in a trailing slash. (We can question whether this is right or good another time; it's how MDN works and has worked for many years)

But the home page is different. A request to `/en-US` should ac

[2021-02-13 04:34] escattone commented on #2920
@peterbe and I discussed this over Slack and Zoom.
- We need to 301 redirect `/en-US` to `/en-US/` in Yari like Django currently does.
- We're **not** going to do this in the deployer. I already have a solution that's implemented in our origin-request Lambda@Edge function.

[2021-02-13 09:22] mattiapontonio commented on #2920
If a browser in French visits `en-us/` is redirected to `/` in `fr` or in `en`?

[2021-02-13 09:55] mattiapontonio commented on #2017
Could it have a correlation with the FOIT that I always seemed to see from time to time?

[2021-02-13 09:58] mattiapontonio commented on #2161
It occurs to me that requesting a `Content-Type: json` on the URL could return the _representation_ of the document in JSON.

[2021-02-13 10:13] mattiapontonio commented on #2196
[code]

It should be noted that the background of `h3` is less than a because for some reason the child a does not expand the father `h3`. So only graphically as I see it from the screenshots _if it were a single element_ the `background` should adapt to `innerText`.
After that you should understand the computed `width`s in the reference browser.

[2021-02-13 13:54] Ryuno-Ki commented on #1104
Is this still relevant / open?

[2021-02-13 13:58] Ryuno-Ki commented on #1997
I think, the fear is that it might lack some secrets.
Like, in business, you don't want to let everybody know how your code was written („security by obscurity”).
That's likely different for MDN.

The only thing I'd double-check here, is whether the Sourcemaps are inlined or referred to by URL.
The latter is preferable, since it would be only loaded on-demand (instead of to everybody)

[2021-02-13 14:01] Ryuno-Ki commented on #1966
I can see an open issue #2277. But it doesn't look like anybody would work on a fix?

[2021-02-13 14:20] marcuspag opened #2921 "Cannot find "Add translation""
According to "Translating MDN pages" guide, at the bottom of the Language dropdown list of every MDN page I should be able to find "Add a Translation" (at the bottom of the list). Unfortunately, there's no such item in my list. If I try to go to the wiki site (as stated in the same "Translating MDN pages" guide), whose base URL should be https://wiki.developer.mozilla.org/, I get redirected to htt

[2021-02-13 16:34] mattiapontonio commented on #1400
Should We out these 3 tr in thead?

| Device  | Smartwatch |   |
| Name    | Opera      |   |
| Version | 1.0        |   |
|---------|------------|---|

https://www.w3.org/WAI/tutorials/tables/irregular/

[2021-02-13 16:49] Ryuno-Ki commented on #1400
Hm, actually a good point, Mattia is pointing up here.
What are the headings? I'd expect device (mobile, desktop) and browser combined for `scope="col"` (which might need an `aria-labelledby` to have been spoken out in conjunction) and the first column as `thead` for `scope="row"`.

I'd expect a screen reader to read out „Supported in Flex Layout. Desktop. Firefox. 52. Remark […]”.

[2021-02-13 16:52] Ryuno-Ki commented on #2921
@chrisdavidmills Is this a relict of our wiki times? You're the best to decide, what to communicate regarding translation process.

[2021-02-13 16:58] loilo opened #2960 "Use correct lang attribute in <html> tag"
The `lang` attribute on the `<html>` tag seems to always be set to `en`, regardless of the actual language of the page. This is a regression bug, it possibly has been there since the recent technological reboot of the page.

Example: [`Array.prototype.forEach` in German](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach). In the language switcher dropdown,

[2021-02-13 17:09] mattiapontonio commented on #2921
Where Is Translating MDN pages guide URL?
The add `button` in any case I would not put it in the `select` because the `select` only supports `option` as descendant.

[2021-02-13 17:15] mattiapontonio commented on #2613
This could be solved with a React component that _always works wherever we put it_.

[2021-02-13 17:34] mattiapontonio commented on #2805
How about do this in `preintall`?

[2021-02-13 17:58] mattiapontonio commented on #2889
Why not draw up both the case in which there are suggestions and the one in which there are not?

[2021-02-13 20:06] tannerdolby commented on #1966
I think @peterbe was working on a fix for this as the issue was a little bit more involved.

[2021-02-13 21:19] Ryuno-Ki commented on #2299
Geez. Okay, I've managed to get a local Yari running. Next step is too pick up your suggestion regarding the if-statement and see, whether it makes a difference.

[2021-02-13 21:25] escattone commented on #2920
@mattiapontonio No, the locale in the request is always respected. Only requests for `/` (home page with no locale specified.

[2021-02-13 21:54] escattone commented on #2920
I'm closing this since I fixed it via the Lambda@Edge function (see #2922).

[2021-02-13 21:54] #2920 closed

[2021-02-14 00:23] mattiapontonio commented on #2903
On what? Please comment there with your thoughts.
A big point is _Where to tag_.

[2021-02-14 13:57] Ryuno-Ki commented on #2299
Hm, no, adding an exception for `window.origin === "null"` (sic!) doesn't do the trick.

Instead, I suspect a problem with the webpack config:
![yari](https://user-images.githubusercontent.com/3097194/107878728-db854b00-6ed4-11eb-9347-ab8894c17ea9.png)

Since the data is loaded lazily, it cannot be fetched for downloaded sites.

[2021-02-14 14:19] Ryuno-Ki commented on #2299
[code]

Geez, I need a better laptop :sweat_smile:

`yarn build` does not help here either (= same error as in the screenshot). So it's really something with webpack.

[2021-02-14 14:24] mattiapontonio commented on #2593
Is because case? _Fixes_ vs _fixes_.
https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue

[2021-02-14 14:26] Ryuno-Ki commented on #2299
I think, what needs to change somehow is `client/build/static/js/runtime-main.<hash>.js`, which looks at time of reporting like the following (after beautifying):

[code]

[2021-02-14 14:31] mattiapontonio commented on #1702
Yes but it is not in the sidebar but in the main. Maybe it's better this way otherwise on mobile it would not be at the top but at the bottom.

[2021-02-14 14:35] mattiapontonio commented on #2762
I did not understand if the first _folder_ of the _path_ must be a canonical _locale_ or a canonical _language_ because they change due to the fact that they have an underscore that separates _language_ and _geographical area_.

[2021-02-14 15:01] mattiapontonio commented on #2438
These are the [high level folders which are less than the French](https://hacks.mozilla.org/2021/02/mdn-localization-update-february-2021/) ones which is good.
Shouldn't they be listed on the homepage to give the menu and the blog a separate structure?

- games
- glossary
- learn
- mdn
- mozilla
- plugins
- related
- tools
- web
- webassembly

[2021-02-14 15:37] mattiapontonio commented on #2472
I am thinking of a `returns` key in `YAML` that accepts a `URL`.

[2021-02-14 16:36] mattiapontonio commented on #1966
Being that this renaming is a [global issue](https://www.google.com/search?q=github+master+main+change) I share this [research](https://github.com/mdn/yari/search?q=master&type=) to understand if you can do a _local but globally adjustment in this repository_, without considering possibly URLs coming from other sources of course.

[2021-02-14 17:16] mattiapontonio commented on #2791
I expected the opposite

[2021-02-14 17:52] mattiapontonio commented on #2920
Nit
You could [link](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#:~:text=On%20GitHub%2C%20navigate%20to%20the,right%20sidebar%2C%20click%20Linked%20issues.) the issue from the PR so it closes on merge.

[2021-02-14 23:59] mattiapontonio commented on #2224
Is this the status code?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/410

[2021-02-15 00:12] mattiapontonio commented on #2690
FTR
https://github.com/mdn/content/commits/main?before=0c6578a2e1479a5cd2ded2889afc4cb76e0c62c4+35&branch=main&path%5B%5D=files&path%5B%5D=en-us&path%5B%5D=web&path%5B%5D=api&path%5B%5D=window

- How to search in Git [deleted](https://intellipaat.com/community/9088/git-how-to-find-a-deleted-file-in-the-project-commit-history) files?
- How to [list files deleted](https://stackoverflow.com/a/6018043

[2021-02-15 00:41] mattiapontonio commented on #2299
In other projects in which I worked, the Front End was practically unreadable due to a sort of encryption that took place through optimization but also to _protect the business_ I think. In this case of open source, however, I think it is useful and right to leave the files we serve practically the same as the repository, at most the compiled Typescript which is always unreadable. On the fact of p

[2021-02-15 01:17] mattiapontonio commented on #1997
That's likely different for MDN.

I basically commented the same way without reading here before 🔮
https://github.com/mdn/yari/issues/2299#issuecomment-778874011

Source maps are a complex way of tracing back to code you could have served from the start, not dealing with PHP debugging because if there was an error there the page wouldn't even be served with [500](https://developer.mozilla.org/en-U

[2021-02-15 08:03] tomayac commented on #2472
The W3C repo https://github.com/w3c/webref/ looks pretty close to something that could be promising for this purpose. A simple [search](https://github.com/w3c/webref/search?p=1&q=readablestream+extension%3Aidl&type=) already turns up usable results. All that's missing now would be a tool on top to filter by return types.

[2021-02-15 09:14] ddbeck commented on #1400
I think adding more version numbers to the table would be a mistake. If we're going to go to the trouble of making big changes to the table, I'd much rather see us do something a bit more holistic. For example, I think it'd be much more fruitful  to have a top-line summary for each browser (e.g., "Unsupported", "In development", "Supported (new in the last X months)", "Supported (with non-standard

[2021-02-15 09:58] chrisdavidmills commented on #2472
Maybe I am underestimating how difficult this would be to do. I had it in mind that we could create functionality that could crawl webapi pages and find all the ones that contain say `<code>ReadableStream</code>` underneath the `<h2>Return value</h2>` heading. This is what all such pages should feature.

Of course, there is currently no linting that goes on for MDN pages to enforce this, so we can

[2021-02-15 10:13] dhananjayd1729 commented on #2901
I have been trying to run 'yari' on my pc but I'm getting an error. I followed the instructions given in the readme file. I'm attaching ss, please have a look. I would appreciate the help.
![githuberror](https://user-images.githubusercontent.com/61632269/107932947-2621c880-6fa4-11eb-9026-8b425b43800a.PNG)

[2021-02-15 10:47] chrisdavidmills commented on #2921
This page was deleted a long time ago, and should not be still showing on the site. I just checked the source, and it no longer exists in the repo, so I'm not sure why this is still showing.

@escattone any thoughts here?

[2021-02-15 10:57] Elchi3 opened #2935 "Deleted pages and redirects with HTMLHyperlinkElementUtils"
Maybe I'm hitting https://github.com/mdn/yari/issues/2224 but filing a new issue to track this specific issue. (Maybe I screwed up redirects and it has nothing to do with the issue, let me know)

First, https://developer.mozilla.org/en-US/docs/Web/API/HTMLHyperlinkElementUtils is not deleted but it should be.

Second, the following pages act weird (I guess because of strange redirects):

https://d

[2021-02-15 12:06] mattiapontonio commented on #1400
Could be the table footer.

But have you seen what the table looks like? have you seen that lines are different features? Do we all agree on how a table should work in terms of coordinates?

[2021-02-15 13:24] schalkneethling commented on #2911
This is one place we would need to update and remove it:
https://github.com/mdn/yari/blob/f3200f1abbd027119ce665cdcda98a949d74b33f/testing/tests/headless.test.js

[2021-02-15 13:28] schalkneethling commented on #2911
These are the places to remove it:

- /yari/client/src/document/ingredients/examples.tsx
- /yari/kumascript/macros/EmbedGHLiveSample.ejs
- /yari/kumascript/macros/EmbedLiveSample.ejs
- /yari/kumascript/tests/macros/EmbedLiveSample.test.js
- /yari/testing/tests/headless.test.js

[2021-02-15 13:53] schalkneethling commented on #2784
So, it is not the width of the `pre` element that is width-limited but the container it is in. That is what makes this extra tricky to implement. If you look at the context of the original report, you will see the `pre` elements were wrapped inside `li` elements:

https://developer.mozilla.org/en-US/docs/Learn/Forms/How_to_structure_a_web_form#active_learning_building_a_form_structure

The unorder

[2021-02-15 14:02] mattiapontonio commented on #2784
This certainly doesn't help but let's say that a component should perform well wherever you put it regardless of the context. In this regard, in another project we had created blank test pages where there were only the components in different containers to see them. A sort of catalog.

[2021-02-15 15:27] Elchi3 commented on #2935
I tried to move more pages, but the move command did some changes related to this issue then. I put that in https://github.com/mdn/content/pull/2368 and I'd appreciate a look.

[2021-02-15 15:32] #2213 closed

[2021-02-15 15:32] #2749 closed

[2021-02-15 15:36] schalkneethling opened #2939 "Yari NPM publish broken on master"
From what I can see it looks like the underlying error is:

https://reactjs.org/docs/error-decoder.html/?invariant=294

Here is the partial log from GitHub Actions:

[code]

[2021-02-15 15:47] #2662 closed

[2021-02-15 15:52] schalkneethling commented on #1255
Let's move the discussion over here: https://github.com/mdn/yari/discussions/2940

[2021-02-15 16:14] schalkneethling commented on #2196
Tested with Chrome on Galaxy S10

![Screenshot 2021-02-15 at 18 05 46](https://user-images.githubusercontent.com/10350960/107970105-59bb1d80-6fb9-11eb-8aba-a524af2b4b63.png)

![Screenshot 2021-02-15 at 18 06 35](https://user-images.githubusercontent.com/10350960/107970119-5fb0fe80-6fb9-11eb-8383-9c7720f757d3.png)

Firefox on Xiaomi Redmi Note 8

![Screenshot 2021-02-15 at 18 10 38](https://user-im

[2021-02-15 16:14] #2196 closed

[2021-02-15 16:15] schalkneethling commented on #2613
I _think_ this is ok now that we have a single search field. I will just double check as I work on the UI. I am fine with closing this one though.

[2021-02-15 16:15] #2613 closed

[2021-02-15 16:18] schalkneethling commented on #2901
Did you clone the content repo at the URL below to that location @dhananjayd1729?
https://github.com/mdn/content

[2021-02-15 16:20] schalkneethling commented on #1400
I agree, there is a multitude of problems with the table and I doubt any real low hanging fruit. I would totally be for a rethink of how we present the data in general.

[2021-02-15 16:22] dhananjayd1729 commented on #2901
Yes, I did. I cloned 'content' and 'yari' repo in the 'mozilladocs' folder.

[2021-02-15 16:59] schalkneethling commented on #2901
Ah! Just noticed. You need to add `/files/` so, `/content/files/`

[2021-02-15 17:03] mattiapontonio commented on #1400
There are object [patterns](https://www.github.com/mdn/browser-compat-data/tree/master/schemas%2Fcompat-data-schema.md) in the readme.
It might be useful to create classes or _Components_ that map these objects to a template.

Example:

[code]

[2021-02-15 19:49] Ryuno-Ki commented on #2901
Also, is the `C:\c\` in the screenshot on purpose?
(I've got a similar case on Matrix at the moment)

[2021-02-15 20:48] #2861 closed

[2021-02-15 22:51] escattone commented on #1104
@Ryuno-Ki 👍 Yes, this is still relevant.

[2021-02-16 07:43] schalkneethling commented on #2901
All good now @dhananjayd1729?

[2021-02-16 08:43] dhananjayd1729 commented on #2901
I will try in a bit and will comment here.

[2021-02-16 09:22] dhananjayd1729 commented on #2901
@schalkneethling .
![newerror](https://user-images.githubusercontent.com/61632269/108042759-3dc18580-7066-11eb-8d2f-1db0bf10b374.PNG)

[2021-02-16 09:34] schalkneethling commented on #2901
@dhananjayd1729 That is interesting. I am not entirely sure on that one, I reckon either @fiji-flo or @peterbe will be able to assist here.

On a side note, are you planning on working on this issue? In other words, is that why you are getting all of this set-up? Or is it unrelated?

[2021-02-16 09:43] dhananjayd1729 commented on #2901
Thanks, @schalkneethling. Yes, I'm planning to work on this issue and would like to work on more issues in the future.

[2021-02-16 09:46] mattiapontonio commented on #2472
It will be trivial but I like this idea because it is _W3C_ and it is _already done_. I just don't know how to make [idl](https://en.m.wikipedia.org/wiki/Interface_description_language) _talk_ to Node.

[2021-02-16 10:02] fiji-flo commented on #2901
@dhananjayd1729 what's your `CONTENT_ROOT` when you're running this?

Can you run `yarn tool gather-git-history`?

[2021-02-16 10:08] dhananjayd1729 commented on #2901
@fiji-flo CONTENT_ROOT=<path-to-clone-of-content >/files . I didn't run 'yarn tool gather-git-history' yet.

[2021-02-16 10:20] fiji-flo commented on #2901
There's a lack of context.

I assume you checked out https://github.com/mdn/yari to `%USERPROFILE%\mozilladocs\yari` and https://github.com/mdn/content to `%USERPROFILE%\mozilladocs\content`

In that case make sure your `CONTENT_ROOT` is set to `%USERPROFILE%\mozilladocs\content\files`.

Could you then try to run `yarn tool gather-git-history` from within `%USERPROFILE%\mozilladocs\yari`.

[2021-02-16 10:26] dhananjayd1729 commented on #2901
Yeah, I checked both clone of 'content' and 'yari' to %USERPROFILE%\mozilladocs\content and %USERPROFILE%\mozilladocs\yari
respectively. Okay, I will run yarn tool gather-git-history from %USERPROFILE%\mozilladocs\yari.

[2021-02-16 13:04] schalkneethling commented on #2901
@dhananjayd1729 also ensure `CONTENT_ROOT` is set as follows:

[code]

[2021-02-16 14:43] peterbe opened #2948 "Title isn't highligted"
See https://developer.mozilla.org/en-US/search?q=banners for example, the first title "Banners and notices" should have the word "Banners" highlighted. See https://developer.mozilla.org/api/v1/search?q=banners

[2021-02-16 15:28] #2939 closed

[2021-02-16 15:34] peterbe commented on #2948
Nope. My bad. Prod is still using the Kuma's front-end.

[2021-02-16 15:35] #2948 closed

[2021-02-16 16:23] schalkneethling commented on #2901
@dhananjayd1729 You up and running?

[2021-02-16 16:51] peterbe commented on #1966
[`master` is gone](https://github.com/mdn/yari/discussions/2951)

[2021-02-16 16:51] #1966 closed

[2021-02-16 16:51] peterbe commented on #2277
[`master` is gone](https://github.com/mdn/yari/discussions/2951)

[2021-02-16 17:18] dhananjayd1729 commented on #2901
What do you mean by %USERPROFILE% ?(is it my github id or C:Users/..)
Also instead of make it messy here can we chat on matrix?

[2021-02-16 17:22] Ryuno-Ki commented on #2901
On Windows, `%SOMETHING%` refers to an environment variable „SOMETHING”.
`%UserProfile%` (since Windows is case insensitive, you might have seen this notation) should point to `C:\Users\daund` in your case.

[2021-02-16 17:47] dhananjayd1729 commented on #2901
After running this command I've got this error.
![yarngather1](https://user-images.githubusercontent.com/61632269/108101264-fdd1c100-70ac-11eb-8098-8f6bdd60aabb.PNG)

[2021-02-16 17:54] #2856 closed

[2021-02-16 18:28] peterbe commented on #2472
Yes! That would be a very nice a structured place. Not perfect, but much better than parsing the content.

[2021-02-16 18:32] mattiapontonio commented on #2472
If you put it there it can be smart to accept the full URL so in case there is more metadata to take you can make a number of promises in retrieving these URLs including the title. So does the 1 time build right? In general the whole URL is better than a string which we then have to keep consistent around.

[2021-02-16 19:53] peterbe commented on #2901
@dhananjayd1729 Can you run that again but with this:
[code]

It won't solve the immediate problem but next time, it'll print out a log stacktrace that shows exactly in which file that happened.

[2021-02-16 20:58] peterbe commented on #2438
The new home page is live and in prod.
We have some [more work to do with the Lambda function](https://github.com/mdn/yari/pull/2922) but that's run separately.

[2021-02-16 20:58] #2438 closed

[2021-02-16 21:23] peterbe opened #2957 "Can we drop the className=article on all <article> tags?"
We currently render it out as:
[code]
And we have some (S)CSS (e.g. `document/index.scss` and the `client/public/index.html` for prints) that uses `.article`.
Can we drop the className and just use the tag `<article>`?

[2021-02-16 21:24] peterbe commented on #2957
@schalkneethling Can you weigh in on this?

I can imagine we added the `className="article"` (and the CSS) because of the "Kuma transition". But I could be missing something.

[2021-02-16 21:40] peterbe commented on #2960
[Regression should be fixed soon.](https://github.com/mdn/yari/pull/2958)

[2021-02-16 21:53] peterbe commented on #2784
So it's only a problem in pages where you have `<li><pre>`?
How common is that? And can we instead encourage people to write their code examples, when it's part of a bullet point list in a way that they're not very wide in the first place?

Also, there was talk about a fancy widget that expands it that you have to press. If that *can* be implemented at all, and if it's important, it should just do

[2021-02-16 21:55] peterbe commented on #2935
@fiji-flo you're the uber-redirect-guru. Can you help with this one?

[2021-02-16 21:58] mattiapontonio commented on #2784
?
https://developer.mozilla.org/en-US/docs/Web/API/Element/requestFullScreen

[2021-02-16 22:08] peterbe commented on #2449
I'm going to make a PR that partially close this issue and then "hand it over" to you @schalkneethling when it's in `main`.

[2021-02-16 22:09] peterbe commented on #2449
Note-to-us: We can implement the new sign in and sign up under a new endpoint in the App, but we mustn't change the "Sign in" link otherwise we need to nail this perfectly when we merge to `main`. So it'll be an optional env var that just exists quite temporarily.

[2021-02-17 00:44] escattone commented on #2277
@peterbe This is still an issue. We're still referring to the content repo's `master` branch in any doc's contributor.txt file (e.g., https://developer.mozilla.org/en-US/docs/Web/contributors.txt), but we should change that to use the `main` branch instead.

[2021-02-17 09:24] fiji-flo opened #2963 "Syntax highlighting breaks Formal Syntax for CSSSyntax"
[code]

Our syntax highlighting breaks the *CSSSyntax* macro. It strips the links and explanations. Easiest fix would be fixing the content as this is not highlighted anyhow.

[2021-02-17 09:25] Elchi3 commented on #2935
I think https://github.com/mdn/content/pull/2368 fixed the cycle redirects already.

I wonder if the cycle checking could be added to CI? It was a bit of a shame I only noticed that things got wrong after trying to move more pages. So, if the cycle checking the `yarn content move` command does could be added to some validation step that might make sense to avoid more bad redirects?

[2021-02-17 10:17] schalkneethling commented on #2449
Here are the layout comps for the first iteration of the sign-in/sign-up page:

## Desktop

![Screenshot of sign-in page on desktop](https://user-images.githubusercontent.com/10350960/108189700-b6354e80-7119-11eb-8249-3effcb1fff24.png)

## Tablet

![Screenshot of sign-in page on tablet](https://user-images.githubusercontent.com/10350960/108189866-e7158380-7119-11eb-86cf-13e310f5d52d.png)

## Mobil

[2021-02-17 10:37] schalkneethling commented on #2504
Here are the comps for the first iteration of this page:

## Desktop

![Screenshot 2021-02-17 at 12 33 45](https://user-images.githubusercontent.com/10350960/108192326-cb5fac80-711c-11eb-89a2-646293193ac6.png)

## Tablet

![Screenshot 2021-02-17 at 12 33 57](https://user-images.githubusercontent.com/10350960/108192355-d31f5100-711c-11eb-8a53-7d3d37d1ec99.png)

## Mobile

![Screenshot 2021-02-17 at

[2021-02-17 10:52] schalkneethling commented on #2784
Exactly

I do not know honestly.

--

I think we need to revisit this issue. It feels like an edge case where the "real" solution is to guide authors to not have code examples inside list items. It kinda sucks because sometimes it makes a lot of sense when it explains something in a step-by-step process to wrap it in an ordered list for example.

@chrisdavidmills Thoughts?

[2021-02-17 11:13] chrisdavidmills commented on #2784
It is pretty common in tutorials/guides, not so much in other content types.

Yeah, I for one certainly use code blocks inside ordered lists a lot.

Could we have some kind of styling update whereby all code blocks stretch the entire width of the content area, both to the left and right. Would that be doable in a way that looks OK?

[2021-02-17 12:17] schalkneethling commented on #2784
Let me look at this and get back to you @chrisdavidmills

[2021-02-17 14:22] peterbe commented on #2277
Here's what I see.
<img width="767" alt="Screen Shot 2021-02-17 at 9 22 00 AM" src="https://user-images.githubusercontent.com/26739/108217452-98f48600-7101-11eb-8494-d680bd450458.png">

[2021-02-17 14:24] peterbe commented on #2963
So the correct fix is to turn that into:
[code]
?
Do you have a good URL we can test and confirm against?

[2021-02-17 14:33] fiji-flo commented on #2963
https://developer.mozilla.org/en-US/docs/Web/CSS/max()#formal_syntax

[2021-02-17 14:50] peterbe commented on #2963
[code]
If it's a simple matter of a bunch of search-and-replace (78 to be exact), let's just do that in the mdn/content and never have to think about it :)

[2021-02-17 15:18] HolgerJeromin commented on #2277
The links to github are still wrong. ref: https://github.com/mdn/yari/issues/2277#issuecomment-767665956

[2021-02-17 15:19] saschanaz commented on #2277
Could you refresh and check again? I see them properly changed to `main`.

[2021-02-17 15:29] peterbe opened #2964 "localStorage cleanup for users"
This is what I have in my Firefox Nightly for developer.mozilla.org:
<img width="1150" alt="Screen Shot 2021-02-17 at 10 27 45 AM" src="https://user-images.githubusercontent.com/26739/108226377-dc9fbd80-710a-11eb-8163-155e37c75d7a.png">

I'm pretty sure that the only things that matter these days are:

- `login-service`
- `banner.common_survey_banner.embargoed_until`

Everything else is "garbage"

[2021-02-17 15:30] peterbe commented on #2964
This can be something we execute after the `api/v1/whoami` XHR and we can also deliberately delay it a bit so it doesn't get in the way of the first rendering path. I.e. some sort of idle callback.

[2021-02-17 15:31] peterbe commented on #2277
Could be that the CDN cache is still warm. Try messing with the casing of the URL to bypass that.

[2021-02-17 15:55] schalkneethling commented on #2957
@peterbe No, it is generally bad practice to attach style directly to an element type such as `article` unless you set very general base styles such as in a reset.

As you can potentially have multiple `article` elements on a page, it is best to target using a class. With that said, I am not confident that `article` is the best of all possible class names 😄

[2021-02-17 17:52] mattiapontonio commented on #2957
I would like to see the article drawn up a little bit perhaps with a double border and I don't know a gradient that makes it look like newspaper and review the exact same style when listing the articles on the home page or category page.

[2021-02-17 18:34] peterbe commented on #2957
But why would you ever have more than 1 `<article>`?
I can totally understand the point if the chosen tagname was something "generic" like `<div>` or `<section>`.
But `<article>`, `<header>`, and `<footer>` feels like tags you only use once.

[2021-02-17 18:55] chrisdavidmills commented on #2957
`<article>` refers more to multiple standalone items (like articles of clothing) than blog or newpaper articles, although you can use them for those purposes. You'd use multiple `<article>`s in a situation like a blog summary where the summary for each blog article can go inside an `<article>`.

And `<header>` and `<footer>` are not just for page headers and footers — the meaning is more generic t

[2021-02-17 18:59] mattiapontonio commented on #2957
Let us remember that in CSS you can make selectors of things within things

[2021-02-17 19:14] Ryuno-Ki commented on #2957
If I recall correctly, an `<article>` could be thought of as the part of a website, that could be shown in an Atom feed.

[2021-02-17 19:27] peterbe commented on #2957
So if there's a slight chance that we might have `document.querySelectorAll('article').length > 1` it makes sense to have a `class="..."` so we can distinguish which one is the "document/article meat area". But even then, can't you do something like `main article` or `.document-page article` to get the CSS "targetting" right?

It's not critical that we fix this but I think it's worth pausing to qu

[2021-02-17 20:05] mattiapontonio commented on #2957
In my opinion, a good rule of thumb is that if you can't define something with one word, it's not a class.

[2021-02-17 21:11] peterbe commented on #2504
I quite like the idea of displaying your full name and mugshot as part of the sign-up process. It might be very doable at little effort and I think it would make sense to display that to you when you're signing up because it feels like the computer "has at least understood you" so far.

[2021-02-17 21:20] peterbe opened #2967 "Remove disk-based caching for gather-git-history CLI tool"
The reason the `gather-git-history` CLI tool has things like `--save-history=...` and `--load-history=...` is ultimately so you can do a shallow clone and "complement" the git history with a previous file. E.g.

1. Run `gather-git-history` and save to `~/cache/git-history.json`
2. Wait X months
3. Do a shallow (or limited depth) clone (of `mdn/content` repo)
4. Run `gather-git-history --load-histo

[2021-02-17 21:28] hamishwillee opened #2969 "Filecheck and savecompress should be run as part of flaw checking"
Given that an uncompressed file will stop fail PR acceptance tests in CI it would be much better if uncompressed files were reported as flaws and I was given the opportunity to fix them before submitting the PR.

Note, I've reported this before, but only as part of other issues.

[2021-02-18 05:49] tannerdolby commented on #2478
Pinging you again Schalk, [Array.prototype.filter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter) page has the `overflow-x` issue. Not sure if this is just happening on MacOS when viewing in chrome but that's what I'm currently using.

[2021-02-18 07:42] schalkneethling commented on #2478
Thanks, @tannerdolby. This will be addressed by something I snuck into https://github.com/mdn/yari/pull/2839

[2021-02-18 07:43] schalkneethling commented on #2504
I agree, a good suggestion @peterbe. I will update the layout comps.

[2021-02-18 13:30] peterbe commented on #2504
Actually, don't rely on the email. In fact, the email will never be present. But the full name and/or avatar (image url) might be. Also, neither might be.

[2021-02-18 14:37] Elchi3 opened #2971 "yarn content move errors"
On latest yari, do a move like

`yarn content move Web/API/DocumentOrShadowRoot/fullscreenElement Web/API/Document/fullscreenElement`

Output:

[code]

Questions:

1. Are there docs on what to do regarding CONTENT_TRANSLATED_ROOT? Do I need to set this even though I don't want to do anything with translations?
2. `error: To-URL has to resolve to a file (/en-US/docs/Web/API/DocumentOrShadowRoot/ful

[2021-02-18 15:13] tannerdolby commented on #2478
Your welcome, @schalkneethling. Ok sounds good, thanks for the heads up.

[2021-02-18 15:14] Elchi3 commented on #2971
I can't really move pages anymore since this `yarn content move` aborts with the above errors and no `_redirect.txt` file updates happen.

[2021-02-18 17:34] wbamberg opened #2972 "Support scrolling sidebars"
It's common for sidebars to scroll independently of the main document:
* [Stripe](https://stripe.com/docs/keys)
* [GitHub](https://docs.github.com/en/graphql/reference/enums)
* [Microsoft](https://docs.microsoft.com/en-us/cli/azure/cdn/custom-domain?view=azure-cli-latest)

This means users can scroll the main doc without losing the sidebar, and scroll the sidebar without losing where they are in t

[2021-02-18 17:35] peterbe commented on #2972
@schalkneethling Got a feeling for this?

[2021-02-18 17:43] peterbe commented on #2969
I suspect this is a duplicate of another issue filed as an "enhancement" or "post-launch" issue.
You're suggesting that the flaw checker should also do what the file-checker does so that you're alerted before you make the PR.

[2021-02-18 17:47] peterbe commented on #2971
It happens because the tool that validates redirects gets invoked as part of the `move` CLI. This was a recent addition and the problem persists within the `yari` repo too (ie. `yarn tool move ...`).

To get yourself unstuck, since @fiji-flo is on PTO today, consider cloning the whole `mdn/translated-content` repo somewhere and run:

[code]

[2021-02-18 17:51] Elchi3 commented on #2971
Thanks Peter! That fixes the first problem. I guess the real one is the second TO-URL error.

[2021-02-18 17:53] #2809 closed

[2021-02-18 17:56] peterbe commented on #2971
What I find annoying is that it did things even if it failed. I'm trying to wrap my head around the code.

[2021-02-18 18:25] peterbe commented on #2971
I think I know what's going on. If you open the `_redirects.txt` file you'll find entries like this one:
[code]
I.e. before Florian S came along, `/en-US/docs/Web/API/DocumentOrShadowRoot/fullscreenElement` was a prefectly good destination.
So the error, which does seem confusing, actually makes sense. It's not choking on the new entry but on an existing entry.
So what needs to happen is that all

[2021-02-18 19:56] #1950 closed

[2021-02-18 22:13] hamishwillee commented on #2969
Yes.

Fixing these as a flaw would save quite a bit of time.

Typical cycle right now is ... _after_ finishing a PR, uploading, and indulging in some FIGJAM I get an email telling me one of the images I uploaded needs to be compressed. I fix it and reupload. Then I get a second notification for another image I forgot to compress. Repeat.

[2021-02-18 22:19] escattone commented on #2277
Yep, it's a caching issue. This is resolved.

[2021-02-18 22:19] #2277 closed

[2021-02-18 22:27] #2593 closed

[2021-02-18 22:57] escattone commented on #2921
@chrisdavidmills @marcuspag Finally getting to this, sorry for the delay. This is due to a known deficiency in our deployer (see https://github.com/mdn/yari/issues/2224). We don't yet handle deleted documents/redirects (i.e., we don't remove them from S3), so that's why the "Translating MDN pages" guide **was** still visible. I haven't had time to work on that issue yet, but will shortly. In the m

[2021-02-18 22:58] #2921 closed

[2021-02-18 23:25] hamishwillee opened #2974 "Flaw check that docs don't link to themselves?"
I just fixed an issue where there was a link to a topic with a different name that actually went back to the current page: https://github.com/mdn/content/pull/2464

This case was clearly a flaw, and it might be useful to have these pointed out automatically - both direct links to same page and links that go via a redirect.

Might be useful in the flaw checker

[2021-02-19 00:35] escattone commented on #2974
Interesting, thanks @hamishwillee. Just for the record (for others), the specific case you fixed above actually originated from an act of fixing a flaw (see https://github.com/mdn/content/pull/1051), where `/en-US/docs/Web/HTTP/Server-Side_Access_Control` was fixed to `/en-US/docs/Web/HTTP/CORS` because it was redirected (you can see the redirect in https://raw.githubusercontent.com/mdn/content/ma

[2021-02-19 01:10] hamishwillee commented on #2974
Yes, that could work (in particular if the flaw-warning explained _why_ it wasn't fixable).

Note further, that I do not know if there are cases where a link to the current page is something that we allow/support/want.

[2021-02-19 03:24] peterbe opened #2976 "search-index worker will pick up files that are not `index.html` files"
See https://github.com/mdn/content/tree/main/files/en-us/mozilla/projects/nss
There are folders there that are called `something-something.html`.
That means it matches this glob pattern: https://github.com/mdn/yari/blob/5e791e52d82ec8b3f68d496ada549420dd06878c/server/document-watch.worker.js#L42
because `glob.sync` doesn't distinguish between folders and files.

Also, it's weird that the `document

[2021-02-19 05:25] dhananjayd1729 commented on #2901
No, I'm stuck even after 'content root' points to files folder in a clone of 'content' .

[2021-02-19 09:38] chrisdavidmills commented on #2921
Thanks @escattone , much appreciated!

[2021-02-19 13:33] peterbe opened #2986 "<img> without a src will crash the flaw checker"
You get:
[code]

[2021-02-19 13:49] Ryuno-Ki commented on #2986
Hm, could a fix check also for missing `alt` attributes?

[2021-02-19 13:50] peterbe commented on #2974
You're so good at coming up with great ideas for the flaw system.
I think the `broken_link` flaw should be extensible enough. You have the free reign of an `explanation` string which you could do something like this with:
[code]

[2021-02-19 14:30] peterbe opened #2988 "interactive-examples.scss no longer included"
When we [removed the Stumptown ingredients](https://github.com/mdn/yari/pull/2881), we accidentally deleted the relevant scss files that got sucked up into the bundle too.

This means that some necessary CSS was missing and broke some interactive examples. E.g. https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang
Notice how it has a scroll now.

[2021-02-19 14:44] peterbe opened #2990 "The dino.svg does not need to be part of React"
In the document we have this:
[code]
See https://github.com/mdn/yari/blob/d1f339096937cd3a8764b4c9d0b03dfee3e6414f/client/src/document/index.tsx#L23

It's used like this:
[code]
But the only time that gets used is in the loading screen when the client-side navigation has to XHR load in a new doc. This is rare and definitely not "urgent". I.e. it's never used in the initial render (because it's SSR

[2021-02-19 14:47] peterbe commented on #2990
here's how big it was:
<img width="759" alt="Screen Shot 2021-02-19 at 9 46 32 AM" src="https://user-images.githubusercontent.com/26739/108519321-84e28d00-7297-11eb-8db4-69290824a147.png">

[2021-02-19 15:23] #2986 closed

[2021-02-19 16:08] peterbe commented on #2901
Another important fix landed today relating to Windows and that `gather-git-history`. Can you try with the latest `main` again?

[2021-02-19 16:28] peterbe opened #2991 "The BCD CSS adds 9.1KB worth of CSS to the main bundle"
Making the main CSS bundler smaller and lighter is gold for web performance. Getting rid of 9KB would be a great boost for those clicks from a Google search where the CSS might *not* be hot in the browser cache.
Also, the BCD table triggers the download of possible 12 extra `.svg` images. That adds a strain on the initial load too.

Almost always the BCD table is below the fold. It might not be, i

[2021-02-19 16:32] peterbe commented on #2991
Interesting page to test: http://localhost:3000/en-US/docs/Web/API/IntersectionObserver/disconnect
If you have a sufficiently large screen the BCD table should be above the fold. So in a page like that, which is quite rare, it makes sense to load it asap.

Another interesting page to test is: http://localhost:3000/en-US/docs/Mozilla/Add-ons/WebExtensions/Browser_support_for_JavaScript_APIs which h

[2021-02-19 16:42] peterbe commented on #2988
[In about 1h from right now](https://github.com/mdn/yari/actions/runs/582047579) and once we've bypassed the CDN cache, we should be able to see this fixed in production. I'm going to reopen until that's been properly confirmed.

[2021-02-19 16:45] dhananjayd1729 commented on #2901
'Latest main' as in?

[2021-02-19 16:48] peterbe commented on #2901
We used to have the default branch be called `master`. Now it's called `main`.

[2021-02-19 16:57] dhananjayd1729 commented on #2901
So you are basically suggesting me to change the directory to content? Because yari is the master branch at this stage.

[2021-02-19 17:26] peterbe commented on #2901
I know it's confusing with all the branches and stuff. It takes some getting used to.
But if it's really tricky, consider starting over a bit and seeing if a fresh clone helps.

[2021-02-19 17:49] peterbe commented on #2988
You can bypass the CDN cache by editing the casing of the URL:
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lAng works like a charm now.

[2021-02-19 17:49] #2988 closed

[2021-02-19 18:02] fiji-flo opened #2993 "Consolidate redirect target validation"
Currently we don't take into account:

1. a redirect might point to another redirect in the translated content repo
2. a redirect might point to an archived page

We should put assertions in place that:

- we check for 1. in the `validate-redirects --strict`
- have / enforce that redirects to an archived page belong into the archived content repo

[2021-02-19 18:15] #2038 closed

[2021-02-19 18:15] #2960 closed

[2021-02-19 18:29] peterbe opened #2994 "Switch to useSWR for useUserData hook"
At the moment, [the XHR request to `/api/v1/whomi`](https://github.com/mdn/yari/blob/7bf88df5769a523848134b67e24dee3c8f94d7e1/client/src/user-context.tsx#L62) uses a plain `fetch()` as part of an on-mount `useEffect`.

We should consider switching that to `useSWR` because it support retries and it supports the refresh on Page Visiblity API.
So, if you're signed in on one tab, signed in a second ta

[2021-02-19 18:37] peterbe commented on #2994
I don't think the `useSWR` can ever use the `stale-while-revalidate` cache because the API will send a no-cache cache control header.

[2021-02-19 18:39] peterbe commented on #2994
Another thing that `useSWR` allows which is nice it that you can use `sessionStorage` to caching the responses too. That might help us shave a couple of milliseconds of flicker for people since the "Sign in" vs. mugshot in the top nav will display nothing until it resolves the XHR request.

[2021-02-19 22:21] escattone commented on #2449
@schalkneethling I like your latest mock-ups!

[2021-02-19 22:25] escattone commented on #2504
@schalkneethling @peterbe's I like the suggestion to add the avatar and full name (but **not** the user's email) to the mock-ups as well. I would say we could even get by with just the avatar if that's easier or works better.

[2021-02-20 16:51] Ryuno-Ki commented on #2901
@dhananjayd1729 In https://github.com/mdn/yari/discussions/2951 @peterbe explained how to update a local setup to use `main` on Yari, too.

[2021-02-21 19:55] usecry opened #3004 "about if you search <a> in https://developer.mozilla.org"
**Summary**
_What is the problem?_
when you search <a> in search bar, it tell you that:"0 documents found for "a" in en-US."

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. go to https://developer.mozilla.org
2. there's a search bar that on the right top, say:"search MDN"
3. write a or <a>

**Actual behavior**
_What actually happened?_
there no document found, but if you sear

[2021-02-22 12:41] #2967 closed

[2021-02-22 12:47] #2976 closed

[2021-02-22 15:26] peterbe commented on #3004
The indexing is actually happening in the Deployer which is a piece of code that's part of Yari's build process.

The reason `<a>` yields nothing is because when broken down into tokens it first becomes `a` and that's a stop word so all you're left with is `''` (no tokens).

It's a bit better with [`<video>`](https://developer.mozilla.org/en-US/search?q=%3Cvideo%3E) but if someone typed that it wi

[2021-02-22 16:19] peterbe commented on #2224
By the way, I think it was discussed offline but the blocker *was* archived content. If you download a list of all existing S3 uploads (roughly 60k) of them, and then compare that with all the this-time built ones (roughly 50k). How do you know which wasn't built because it's considered archived? The solution is to read in and parse [the `archived.txt` file](https://github.com/mdn/yari/blob/main/c

[2021-02-22 17:57] peterbe opened #3010 "prod-build.yml should always build translated content"
(this applies equally to dev-build.yml and stage-build.yml)

Today, you can optionally disable `CONTENT_TRANSLATED_ROOT` in the prod build. Perhaps you'd want to do that to finish a build faster. But if you don't have CONTENT_TRANSLATED_ROOT set, the English documents won't know what other locales are available for translations.

Let's just remove it as an option altogether.

[2021-02-22 20:06] peterbe commented on #2528
@fiji-flo Is there any point in doing this? ...soon. ...after we've done the translated-content slug sync.

See https://github.com/mdn/yari/issues/2713
I don't know how a user got to https://developer.mozilla.org/es/docs/Web/Events/statechange, perhaps it was an old bookmark, but once `es` gets all the redirects that `en-US` has, it'll get taken care of automatically.
Because translated-content ha

[2021-02-22 20:09] peterbe commented on #2528
Actually, I looked at the `translated-content` repo.
https://github.com/mdn/translated-content/blob/main/files/es/_redirects.txt does not have the same redirects as `en-us` has. Is that because of a bug? or perhaps you haven't run the sync for `es` recently.
Because, shouldn't `es` have its own redirects (e.g. Spanish translated slugs) and those from `en-us`?

[2021-02-22 21:45] #3004 closed

[2021-02-22 22:02] peterbe commented on #2863
I [downloaded](https://analytics.google.com/analytics/web/#/report/content-pages/a36116321w64965862p66726481/_u.date00=20210219&_u.date01=20210221&explorer-table.secSegmentId=analytics.pageTitle&explorer-table.plotKeys=%5B%5D&explorer-table.advFilter=%5B%5B0,%22analytics.pageTitle%22,%22PT%22,%22Page%20not%20found%22,0%5D%5D&explorer-table.rowCount=1000&explorer-table.rowStart=0) the top 1,000 mos

[2021-02-22 22:29] peterbe commented on #3012
https://github.com/mdn/yari/pull/2872 does not appear to have worked.
[code]
I don't know about that ending (`DOM/window.getComputedStyle`) but why didn't the fundamental redirects at least try to go to `docs/DOMS/window.getComputedStyle` first.
I.e. I'd expect...

1. A 301 (or 302!) redirect to `https://developer.mozilla.org/en-US/docs/DOM/window.getComputedStyle` first
2. A 200 or a 404 (or even

[2021-02-23 05:29] escattone commented on #3012
@peterbe See https://github.com/mdn/yari/pull/3013

[2021-02-23 10:46] tombigel opened #3025 "box-sizing rule in reset.css causes scrollbars across all of MDN"
I can't say since when, but lately every example in an `iframe` on MDN has a vertical scrollbar.

This is caused by a rule in `reset.scss` that forces `box-sizing: border-box` on everything (apparently ignoring existing css rules that doesn't take it into account).
Removing the rule and suddenly MDN looks good again (see attached gif of a screen recording).

![Screen Recording 2021-02-23 at 12 43

[2021-02-23 12:30] schalkneethling commented on #3025
Thank you for reporting @tombigel. We will have a look and decide how to best handle this situation. I would not want to remove the `box-sizing` rule. Other than those live examples, have you seen anything else affected?

[2021-02-23 12:53] tombigel commented on #3025
No... besides some layout shifts that either could be the right version.

Since I deal a lot with layouts at work, I keep my Mac with the "Always show scrollbars" setting turned on. You catch a lot of things that are hidden from other devs on Macs this way :)

[2021-02-23 15:06] peterbe commented on #2847
Let's work on this as soon as https://github.com/mdn/yari/pull/3009 has landed.

[2021-02-23 15:14] #3010 closed

[2021-02-23 17:39] fiji-flo commented on #2528
`yarn tool sync-translated-content es` shouldn't create that as https://developer.mozilla.org/es/docs/Web/API/RTCIceTransport/statechange_event does not (and will not) exist.

Overall I'm still voting for dropping react routing and not having any `index.json` but we can also work on fixing redirects for them.

[2021-02-23 18:24] peterbe commented on #2528
Ok. Gotcha. Yeah, it's a moot example because the final destination URL wouldn't end up in a 200 for Spanish.

My brains still hurting from trying to pretend to keep up with you. There's so much going on that it's confusing.

Let's switch the example from `es` to `fr` instead. The gist of my high-level case is that we *used* to have:

[code]
...**assuming** there exists a (after the unslug) file c

[2021-02-23 18:32] fiji-flo commented on #2528
And that should be the case, yes!

[2021-02-23 22:12] peterbe opened #3028 "Building SPAs shouldn't be part of 'yarn build'"
The SPA skeletons are currently created as part of the `yarn build` command. This is a bit weird because it means if you run `yarn build` over and over it re-creates those SPAs every time.

I think it became part of `yarn build` because it was a place where we knew all the content roots.
But this should become part of `yarn prepare-build` instead.

[2021-02-23 22:37] peterbe opened #3029 "HTMLRef.ejs doesn't use smartLink()"
The sidebar on any HTML page assumes all pages exist so it makes a hyperlink even if the page doesn't exist. Basically "tricking" people into a 404 page. `smartLink()` prevents this.
And as [discussed here](https://github.com/mdn/yari/pull/3008#issuecomment-784560478) we can later upgrade `smartLink()` for non-en-US documents to at least link to the English version.

[2021-02-23 22:38] peterbe commented on #3029
This is basically the same as https://github.com/mdn/yari/pull/2985

[2021-02-23 22:56] peterbe opened #3031 ".page-not-created can happen outside <article class=article>"
If a link in a sidebar is:
[code]
...for example, it does not get the CSS that it would have gotten if it was cascaded under `article.article`.
I think we need to move https://github.com/mdn/yari/blob/966e59c32c5861243513b41766e2873b87757900/client/src/document/index.scss#L104-L110
up one level. Then sidebars can benefit from this too.

[2021-02-23 22:57] peterbe commented on #3031
@schalkneethling Do you think you can take care of this one?
I would probably just move it from within `.article {` to anywhere outside that. But perhaps you have stronger/better preferences.

[2021-02-23 23:36] escattone commented on #3012
I merged #3013 and updated our CDN behaviors on `dev`, `stage`, and `prod` to use the latest version of our Lambda@Edge origin-request function. The  URL https://developer.mozilla.org/en-US/DOM/element.addEventListener works now, as should all of the `/en-US/DOM/...` family of URLs (e.g., https://developer.mozilla.org/en-US/DOM/DOM_Reference).

[2021-02-23 23:36] #3012 closed

[2021-02-24 15:40] #2911 closed

[2021-02-24 19:06] peterbe commented on #3028
@fiji-flo One thing I've noticed in the last couple of days when I've been testing a lot of `yarn dev` is that it's weird and annoying that the SPAs are built more than once. I'm going to take this one and move that SPA creation stuff to sit somewhere *similar* to how to transpile the `ssr` code into an ES5 bundle.

[2021-02-24 20:03] peterbe opened #3044 "We should CI test running yari as mdn/content does"
At the moment, we put things into Yari and about 1 day later the `npm-publishing.yml` workflow builds a tarball and uploads it to npmjs.com and another day later Dependabot upgrades the version of Yari inside github.com/mdn/content.
All of this is making me nervous. What if something there breaks but we don't notice until some unsuspecting writer runs `git pull upstream && yarn install && yarn sta

[2021-02-25 14:13] peterbe opened #3053 "smartLink() should fall back to English in some way"
We have a lot of xrefs and sidebars (soon!) that use `smartLink()` and these can recover to fall back to English if the translated content doesn't exist.

We can discuss implementation choices here. For example:

1. `<a class="page-not-created" title="Not yet created ...">SomeApiMethod</a> <a href="/en-US/docs/SomeApiMethod">English</a>`
2. `<a title="Not available in Japanese. Falling back to Eng

[2021-02-25 14:14] peterbe commented on #3053
@chrisdavidmills @schalkneethling @escattone any preferences and ideas for how the links should appear when the `smartLink()` KS function can fall back to English?

[2021-02-25 14:16] Ryuno-Ki commented on #3053
Perhaps worth to show an US flag behind?
As in, this is a default-link

[2021-02-25 14:16] Ryuno-Ki commented on #3053
https://emojipedia.org/flag-united-states/ - so Unicode support since 2015.

[2021-02-25 14:58] peterbe commented on #2963
Note-to-Florian; you can do it to the translated-content repo too now :)

[2021-02-25 15:00] peterbe commented on #2863
@escattone Can you tie your PR to this issue that adds it to the fundamental redirects?

[2021-02-25 15:06] peterbe commented on #2360
Close?

[2021-02-25 15:06] peterbe commented on #2359
Close?

[2021-02-25 15:48] #2359 closed

[2021-02-25 16:35] #2360 closed

[2021-02-25 16:38] #3028 closed

[2021-02-25 18:06] peterbe opened #3057 "Headless end-to-end test should test switching language"
In a version https://github.com/mdn/yari/pull/2839 we accidentally, broke the functionality such that non-en-US locales didn't get the language choice drop-down, but still the CI tests passed.

[2021-02-25 18:57] peterbe commented on #1727
Perhaps it's not perfect triaging but I'm going to close this in favor of https://github.com/mdn/yari/issues/1274

[2021-02-25 18:57] #1727 closed

[2021-02-25 19:50] peterbe commented on #1274
Today, now that Uplift is complete. I ran a complete build with `BUILD_MACROS_USED_LOGFILE` and analyzed which, compared to the `kumascript/macros/*.ejs` that were never executed.

[code]
https://github.com/mdn/yari/pull/3059

[code]
https://github.com/mdn/yari/pull/3060

[code]
https://github.com/mdn/yari/pull/3061

[code]
https://github.com/mdn/yari/pull/3062
[code]

[2021-02-25 20:01] Ryuno-Ki commented on #1274
Wow, that's a lot of cruft!
Another benefit of moving to GitHub, I guess?
(As in: this kind of analysis wouldn't have been possible with the wiki setup)

[2021-02-25 20:04] peterbe commented on #1274
Note-to-self; The following are used in less than 10 places:
[code]

Might be worth hunting those down.

[2021-02-25 20:09] peterbe opened #3063 "Deprecate KS macros never used in en-US"
When I worked on https://github.com/mdn/yari/issues/1274 I noticed there are a lot more macros that would be considered never-used if you focus on the en-US content alone. For example:

[code]
So, [that macro](https://github.com/mdn/yari/blob/main/kumascript/macros/B2GOnlyHeader2.ejs) is never used in the en-US content, but it's used in greater-than-zero places in the translated-content.

What we

[2021-02-25 20:23] peterbe commented on #3063
@escattone @chrisdavidmills What do you think about this?

A "fear" I have is that some ancient translation might have used these like this:

(imagine this is NOT in English)
[code]

If you render that to become an empty string you end up with:
[code]
which looks bad.

Perhaps a more industrious solution would be to mark all of these macros as deprecated but keep their functionality.
Then it becom

[2021-02-25 20:25] peterbe commented on #1274
To worry about macros that are only ever used in translated content, let's discuss that in: https://github.com/mdn/yari/issues/3063

[2021-02-25 20:27] Ryuno-Ki commented on #1274
What's the third one meant to mean? It shows `[][]` on my system (likely missing a font with those glyphs).
If I copy-paste them into a search engine, I get results like https://ja.wikipedia.org/wiki/%E8%A8%B3%E8%AA%9E - so something Japanese.

[2021-02-25 21:48] peterbe opened #3064 "Let's CDN cache most site-search queries"
I downloaded the 1,000 most frequent URLs when people do a site-search in `en-US`.
In en-US alone we have 7,586 searches per day. And that's based only on the top 1,000 search terms. Remember, this only counts people who have GA tracking not blocked.

And I estimate that roughly 59% of all our `/$locale/docs/` traffic is `en-US`. That means that **we get 13.5k site-searches per day**. And remember

[2021-02-25 21:55] Ryuno-Ki commented on #3064
I'm wondering … are you able to invalidate Cache on the server-side?
I mean, you could have a diff of the changes since the last deployment (`--since=yesterday` or something).
That would give you a list of files that change.
If you would happen to know, for which queries those documents were shown, these query search terms would be in need of invalidation.

In turn, you could bump the caching peri

[2021-02-26 00:58] diminutivesloop commented on #1124
So I implemented these changes in PR #2997 but after reading [this blog post](https://adrianroselli.com/2017/10/dont-use-aria-menu-roles-for-site-nav.html) I’m wondering if we should take a simpler approach that preserves the existing keyboard navigation experience and removes the “menu” role from the main menu treating it as a simple `nav` element with links.

[2021-02-26 08:13] schalkneethling commented on #1124
Thank you for all your work on this. My apologies for the slowness to respond, I have been heads down on some other items.
I will read the post you have shared. I am also going to ask one of our accessibility folks to assist with the review and making a decision around how to best proceed.

I will get back to you as soon as possible.

[2021-02-26 08:15] fiji-flo commented on #2971
@Elchi3 could you take another look? This should be fixed by #2982

[2021-02-26 10:14] Elchi3 commented on #2971
Thanks @fiji-flo, this works now as discussed in #2982.

Great work, I really appreciate you fixing this :)

[2021-02-26 10:14] #2971 closed

[2021-02-26 14:12] SphinxKnight opened #3068 "Search - No matching documents for "this""
Following the crumb trail of https://twitter.com/amk_boCO/status/1364334002643955713, I tested and went on https://developer.mozilla.org/en-US/search?q=this

This raised "0 documents found for "this" in en-US / No matching documents found."

I know "this" might be a stop word but in this case, having such pages in the result would be useful:

* https://developer.mozilla.org/en-US/docs/Web/JavaScri

[2021-02-26 14:12] SphinxKnight opened #3070 "Search - No matching document for "this""
Following the crumb trail of https://twitter.com/amk_boCO/status/1364334002643955713, I tested and went on https://developer.mozilla.org/en-US/search?q=this

This raised "0 documents found for "this" in en-US / No matching documents found."

I know "this" might be a stop word but in this case, having such pages in the result would be useful:

* https://developer.mozilla.org/en-US/docs/Web/JavaScri

[2021-02-26 15:52] #3057 closed

[2021-02-26 15:56] peterbe commented on #3070
Sorry. This issue was originally filed in `yari` and then I moved it to `kuma`. But my mistake. Oops. The indexing is actually a `yari` thing.

[2021-02-26 18:51] peterbe opened #3072 "Unable to download .svg external images because invalid file type"
Steps to reproduce:
Go to http://localhost:3000/en-US/docs/Web/API/WebXR_Device_API/Fundamentals#_flaws
Press "Fix fixable flaws"

Error:
[code]

What's wrong with https://mdn.mozillademos.org/files/17298/3-degrees-of-freedom-min.svg ??

[2021-02-26 19:24] peterbe commented on #3072
Curious. It worked perfectly fine with https://mdn.mozillademos.org/files/17125/binocular-vision.svg

The difference is that the `3-degrees-of-freedom-min.svg` image has its preamble stripped. When you download it with `wget` the first couple of bytes are:
[code]
whereas the `binocular-vision.svg` one is:
[code]

I'm going to try to see what happens if you "ignore" that and allow it to be download

[2021-02-26 19:29] peterbe commented on #3072
Yeah. Renders fine if you ignore the filetype checking stuff (temporarily).
I'll make another exception for SVGs.

[2021-02-26 20:51] Ryuno-Ki commented on #3074
Similar to #3070 and https://github.com/mdn/yari/issues/3004#issuecomment-783454139 I think.

Meaning, it gets likely reduced to `""` (which then obviously cannot find anything).

[2021-02-26 21:06] peterbe commented on #3053
No flags please.

[2021-02-26 22:01] wbamberg opened #3076 "BCD note layout is broken in visibilitychange event page"
Visit https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event#browser_compatibility and click the disclosure arrow for Safari, which is showing partial support:

<img width="526" alt="Screen Shot 2021-02-26 at 2 00 48 PM" src="https://user-images.githubusercontent.com/432915/109359925-23906000-783b-11eb-892e-096a9c30e9bc.png">

[2021-02-26 22:42] Ryuno-Ki commented on #3076
Looking into the inspector, I can see a wrap inside a `<dl>` which gets assigned a `max-width`.

![safari-broken](https://user-images.githubusercontent.com/3097194/109362775-03d55800-788c-11eb-941a-d26c15e29aa2.png)

That's where I would start looking into.

[2021-02-26 23:13] #3070 closed

[2021-02-26 23:13] #3074 closed

[2021-02-27 23:34] simonmysun opened #3078 "Some links in 'Related topics' leads to 404"
Hi, I found a bug and couldn't find the cause:

e.g. in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp in the related posts there is a link to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects//RegExp which should be itself with single slash instead of double slash. It leads to a 301 to https://developer.mozilla.org/en-US/docs

[2021-02-28 13:50] peterbe commented on #3078
Thanks @simonmysun
That page uses the [`JSRef` macro to produce the sidebar](https://github.com/mdn/content/blob/1f101eec408839d38a3878d6913b4f37e4b58596/files/en-us/web/javascript/reference/global_objects/regexp/index.html#L11).
The file `kumascript/macros/JSRef.ejs` does something wrong with the slashes.
It produces:
[code]
which has a double `//` when it shouldn't. Do you think you can start Ya

[2021-03-01 10:10] #2994 closed

[2021-03-01 11:33] chrisdavidmills commented on #3078
We had a duplicate over on the content repo, and I opened a PR that I think fixes this earlier today: https://github.com/mdn/yari/pull/3085.

So we could close this, but I'm happy to wait until the PR is merged ;-)

[2021-03-01 12:12] tshinnic commented on #3078
Please see comment https://github.com/mdn/content/issues/2755#issuecomment-787901462

[2021-03-01 16:33] vitaly-zdanevich commented on #2178
At least we can start with dark theme only for code examples.

[2021-03-01 16:46] peterbe opened #3088 "HTML escaping in feed titles"
Screenshot says it all:
<img width="863" alt="Screen Shot 2021-03-01 at 11 46 06 AM" src="https://user-images.githubusercontent.com/26739/109529421-b7546d00-7a83-11eb-8e0f-313768cc61c4.png">

[2021-03-01 17:06] peterbe commented on #3078
Fixed in `main` now. We'll push out a prod build in a matter of hours.

[2021-03-01 17:06] #3078 closed

[2021-03-01 17:33] stof commented on #2590
an option to avoid downtime while doing a full recreation of the index would be to use an [index alias](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-add-alias.html) for the *reading* usage of elasticsearch in the search endpoint.
The script would create a new index (probably with the date of the build in the index name), index all new content in it. Then it would recreat

[2021-03-01 21:09] peterbe opened #3091 "Non-distinct listings in Downshift results"
See
<img width="1616" alt="Screen Shot 2021-03-01 at 4 06 05 PM" src="https://user-images.githubusercontent.com/26739/109558997-1f1caf00-7aa8-11eb-996e-737351fb88ed.png">

[2021-03-01 21:12] peterbe commented on #3091
Hmm.. I'm unable to reproduce this at all. It can only happen if the `/en-US/search-index.json` ever returns a JSON where the same URL is repeated. Weird.
Let's keep an eye out.

[2021-03-01 21:39] peterbe commented on #2590
@stof Your comment is great. I'd love to expand on it. But you posted it as a reply comment on something unrelated. Sorry. I can create a new issue based on your comment but then it would appear under my name. Would you prefer to start a fresh new comment or do you prefer that I create a new issue myself?

[2021-03-01 21:51] #3088 closed

[2021-03-01 23:42] Schweinepriester opened #3095 "Watch or subscribe to a page or set of pages?"
Apologies if this has been asked before/is already known/available/in development, but I've tried searching for it using e.g. watch, subscribe, follow, etc. and didnt find it. Feel free to close if thats the case.

Is it still possible to watch a page (and all sub-articles) like <https://developer.mozilla.org/en-US/docs/MDN/Tools/Page_watching> describes?
If not, is that planned to come back?
Emai

[2021-03-02 08:42] Ryuno-Ki commented on #3095
The closest I can recall is https://github.com/mdn/content/issues/1877#issuecomment-769947104 - but that would make you watch all changes (which is likely not what you want).

Instead, you'd be interested in changes on a certain file :thinking:

[2021-03-02 09:16] stof commented on #2590
I'll create it

[2021-03-02 09:17] stof opened #3098 "Use ElasticSearch index aliases to avoid search downtime"
An option to avoid downtime while doing a full recreation of the index would be to use an [index alias](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-add-alias.html) for the *reading* usage of elasticsearch in the search endpoint.
The script would create a new index (probably with the date of the build in the index name), index all new content in it. Then it would recreat

[2021-03-02 09:25] Schweinepriester commented on #3095
And sub-files even - I've only ever watched <https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases>, implying a hierarchy to the individual changelogs. ~~Not sure if that is still given, because of ...~~ Looks like there's still a hierarchy:

https://github.com/mdn/content/blob/8da9351322bca5d3d41488cd1b8b3f2f4aaf078e/files/en-us/mozilla/firefox/releases/index.html#L14

[2021-03-02 10:47] sohamsshah commented on #2900
Hi, I would like to work on this issue. Can you guide me how shall i proceed? Thrilled to contribute to MDN (though I am very neophyte to this)

[2021-03-02 11:29] Ryuno-Ki commented on #2900
Hey @sohamsshah,

so, technically, right now the elements are part of the bundle:

https://github.com/mdn/yari/blob/5f398b3c0f2615bb6aa1a77f9f8fddc6df126697/client/src/ui/organisms/footer/index.tsx#L73-L123

The SCSS is defined in

https://github.com/mdn/yari/blob/5f398b3c0f2615bb6aa1a77f9f8fddc6df126697/client/src/ui/organisms/footer/index.scss#L51-L59

Here, you'd need a way to use `background`

[2021-03-02 13:24] peterbe commented on #3095
No. It most likely will not. The content is a git repo now.

I don't know if it's feasible but when we build, we do have access to the complete git history of every file. So you could, at every level, create a `rss.xml` file based on...:
[code]
Then, you'd be able to RSS subscribe to any tree. Just type in a URL, chop off the last part of the URL and add `/rss.xml` :)

[2021-03-02 14:06] peterbe commented on #2901
I tried that but it only underlines the `a` within the articles. And the headline links too.
Other features such as the document footer, sidebars, breadcrumbs, and home page are unaffected.
<img width="1237" alt="Screen Shot 2021-03-02 at 9 04 22 AM" src="https://user-images.githubusercontent.com/26739/109660087-74070680-7b36-11eb-9441-a456354e68b7.png">

I'm too old-school to understand why minim

[2021-03-02 14:40] aardrian commented on #2901
Since the content links are the ones that need the underlines, not affecting footer, sidebars, and breadcrumbs seems fine. I agree that the headings likely do not need underlines (though I do like the pattern of an icon to indicate they can be used as anchor links for sharing, making them distinct from content links that navigate someone).

[2021-03-02 16:34] schalkneethling commented on #2901
That is fine and the intent of the change here.

I did consider it but, I think we will have to undo more underlining than we currently will have to add exceptions where we _do_ want underlines.

[2021-03-02 16:35] schalkneethling commented on #2901
@dhananjayd1729 were you able to get up and running?

[2021-03-02 16:39] schalkneethling commented on #2900
❤️  - Are you all setup with Yari locally? That would be the first step.

[2021-03-02 18:01] peterbe opened #3101 ""Open in your editor" doesn't work for non-en-US content"
E.g. http://localhost:3000/ca/docs/Learn/CSS/Building_blocks#_flaws
Click "Open in your editor"
And it says something like "Error: 400: /Users/peterbe/dev/MOZILLA/MDN/content/files/ca/learn/css/building_blocks/index.html does not exist on disk."
Note that it tried to open `...MDN/content/files/ca/...` when it should be `...MDN/translated-content/files/ca/...`

[2021-03-02 18:04] peterbe opened #3102 "search-index.json doesn't work for translated content"
Even with `CONTENT_TRANSLATED_ROOT` set, something like http://localhost:5000/fr/search-index.json isn't working. It just returns an empty string.

[2021-03-02 18:06] peterbe opened #3103 "The "On GitHub" document footer should be present for actively maintained locales"
Currently, the present of the "On GitHub" section of the document footer is simply dependent on
[`!doc.isTranslated`](https://github.com/mdn/yari/blob/a2f1d59dbc40034598bab4debda0434bc48d9cf2/client/src/document/organisms/metadata/index.tsx#L30)

How we solve this issue will need to depend on knowing, in advance, which locales are actively maintained.

[2021-03-02 18:30] peterbe commented on #3053
Here's a great example of a page that would benefit from this:
https://developer.mozilla.org/ca/docs/Web/API/WebGL_API#refer%C3%A8ncia
It looks like this at the time of writing:
<img width="1201" alt="Screen Shot 2021-03-02 at 1 27 02 PM" src="https://user-images.githubusercontent.com/26739/109696376-fd303480-7b5a-11eb-9186-021d0ecae259.png">

These are `domxref` macros which already uses `smartLi

[2021-03-02 18:33] peterbe commented on #3053
@schalkneethling @escattone @fiji-flo @chrisdavidmills   Can you share your feelings/opinions about how we should treat these links?
See the bullet point list above. Feel free to add new alternatives to that list.
**And please share your vote of preference.**

Please keep in mind that real-estate is real. A lot of links are displayed in a fashion that it's not conducive to display a lengthy additi

[2021-03-02 18:37] peterbe opened #3104 "Broken link checkers should fallback nicely to English if need be"
See https://github.com/mdn/yari/issues/3053 which this issue can be blocked by.
If there's a pure HTML link like:
[code]
but that doesn't exist in `zh-CN` yet, we have a chance to fall back to `en-US`.
The Broken link checker always runs. If set, it also spits out a flaw. But every `href` value is checked.
And in the builder, we do have access to the `translationsOf` Map object so it's cheap to lo

[2021-03-02 18:39] peterbe commented on #3053
Keep this one in mind too: https://github.com/mdn/yari/issues/3104
Whatever we solve here, we should consider regular broken localized links that can be salvaged too.
One thing that comes to mind is that regular cheerio `<a>` objects are easy to mutate with things like `.addClass('page-only-in-english')` or `.attr('title', 'Only available in English (US) at the moment')`. But it's less obvious to

[2021-03-02 18:51] peterbe opened #3105 "Translation out-of-date'ness (heuristics) flaw compared to English"
It's hard to qualitatively describe how out-of-date a translation is compared to the English original purely based on the content. We can compare `git log` dates to see when an English document was touched more recently than a translation but that might lead to "false positives" in that the touches to the English document are immaterial.

Another idea we've discussed is heuristics on things that a

[2021-03-02 19:18] peterbe commented on #3098
I like this idea. But before we jump into this we should assert that it's possible in a hosted Elasticsearch.

Also, @stof at the moment, there's been quite a lot of interesting new changes to the way we index so it's quite nice that any new mappings gets in within 24h. But a very low-tech solution we've considered is to make the decision whether to use `--update` or not use `--update` can be deci

[2021-03-02 19:20] peterbe commented on #2889
@schalkneethling What's left now?

[2021-03-02 19:47] dhananjayd1729 commented on #2901
@schalkneethling I was having exams back then so I couldn't look into it. But yeah from today onwards I will try to run again.

[2021-03-02 20:06] stof commented on #3098
to be checked with your own hosting. As I don't know which one you use, I cannot answer for you.
If the hosting used is the one from Elastic, the answer is yes though.

[2021-03-02 20:21] peterbe commented on #3098
That's what we use! Excellent. Thanks.

[2021-03-03 01:22] escattone commented on #3053
I really like the idea of falling-back to the English link if the non-English link doesn't exist. I think we should do that. I like option #2, but I suppose it has to be translated, at least for the 4 actively-supported locales.

[2021-03-03 08:31] schalkneethling commented on #3053
Instead of just presenting a non-functioning link, it makes a lot more sense to offer users the English version when it exists. Of the options provided I also vote for option 2

[code]

When a user hovers over the link the title will pop-up as a tooltip which will then contain the explanatory text. For screen reader users it would read: "SomeApiMethod. link. The linked document is currently only a

[2021-03-03 09:06] schalkneethling commented on #2901
Ok, let me know if you run into problems or have any questions.

[2021-03-03 09:07] schalkneethling commented on #2889
Good question :) I will take a look

[2021-03-03 10:31] chrisdavidmills commented on #3053
I feel a bit uneasy about solution 2. A little while back we got rid of the title tooltip stuff from all the *xref macros because of concern over accessibility bad practice. I believe the concern is that not all AT reads out the title contents consistently, , at least not by default, so you are supposed to not include any vital information in there, just extra "nice to have" information that isn't

[2021-03-03 11:59] schalkneethling commented on #3053
Thanks, @chrisdavidmills. I think this is a nice compilation of everything that was suggested here.

That is very true. I tested it out and while NVDA does a good job, VoiceOver reads it in such a way that the connection between the link text and the text in the `title` attribute is easily missed.

[2021-03-03 14:38] peterbe commented on #3053
I'm very impressed with @chrisdavidmills 's arguments there. I added his alternative solution.
I think it would be technically very feasible to force-change the link text to add that extra ` (en-US)` which is short, accurate, and helpful.

Unless someone screams a stronger argument for an even better alternative, I'd be delighted to implement Chris's suggestion.

[2021-03-03 15:09] #1486 closed

[2021-03-03 15:09] #2478 closed

[2021-03-03 15:15] schalkneethling commented on #2478
@tannerdolby So https://github.com/mdn/yari/pull/2839 as landed in `main`. In ~24 hours or so it should on production. I will of course test, but if you could also have a look and see whether the overflow issues have been resolved I would very much appreciate that.

[2021-03-03 16:04] peterbe opened #3113 "Search for `function*` should find the page about function*"
[Searching for `function*`](https://developer.mozilla.org/en-US/search?q=function*) works and it does find [`function*`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function*) but it finds it because the character filters we have first converts it to [`function`](https://developer.mozilla.org/en-US/search?q=function).

In the mdn/content repo here are all the exist

[2021-03-03 16:15] escattone commented on #3053
@peterbe @schalkneethling I'm switching my vote to @chrisdavidmills' solution! ❤️ it!

[2021-03-03 16:20] escattone commented on #3053
Thanks for leading this discussion @peterbe! Let's move ahead with @chrisdavidmills' solution.

[2021-03-03 16:58] peterbe commented on #3053
I think we should do the same with regular `<a href>` links too. E.g.

[code]
should automatically become:
[code]

But that can be done as a separate thing.

[2021-03-03 17:25] peterbe opened #3116 "Sporadic errors in headless tests relating to switching language"
See https://github.com/mdn/yari/runs/2023484911?check_suite_focus=true for example.
It seems to have started happening since https://github.com/mdn/yari/pull/2839 landed. It doesn't always fail. For example, Schalk's PR didn't fail in the last CI build before he merged it.
It's probably something flaky in the puppeteer-expect testing due to "network luck".

Let's fail forward and try to make that

[2021-03-03 19:22] Ryuno-Ki commented on #3053
Crosslinking #2705 in case we want to pick up on https://github.com/mdn/yari/issues/3053#issuecomment-789536813 in the future.

[2021-03-03 19:49] peterbe commented on #3116
Found the culprit. https://github.com/mdn/yari/pull/2839/files#r586729857

[2021-03-03 19:59] #3116 closed

[2021-03-03 20:09] #3113 closed

[2021-03-03 23:45] tannerdolby commented on #2478
@schalkneethling Sure thing. I'll have a look tonight and see if I can find any pages where the overflow issues still exist.

[2021-03-04 01:06] wbamberg opened #3119 "Sidebar is broken for the API/Element page"
Reported in Matrix.

See https://developer.mozilla.org/en-US/docs/Web/API/Element: in the sidebar, pages are often (not always) listed twice:

********

<img width="271" alt="Screen Shot 2021-03-03 at 5 03 55 PM" src="https://user-images.githubusercontent.com/432915/109894510-79517780-7c42-11eb-9876-497b092736c9.png">

********

The sidebar here is built using the APIRef macro, which fetches the l

[2021-03-04 09:22] schalkneethling commented on #2155
@zcdunn We launched a bit of a refresh for the docs pages. The below is what I now see on a screen with a width of 1024px. Has this improved the experience for you? I remember you mentioned you often browser at 1090px

![Screenshot 2021-03-04 at 11 20 55](https://user-images.githubusercontent.com/10350960/109941318-b3228c80-7cdb-11eb-8b31-b9007ee0f9c6.png)

[2021-03-04 11:54] glacambre commented on #2155
@schalkneethling I'm not @zcdunn, so if you specifically care about their input feel free to disregard what I have to say ;)

I use a tiling window manager on a 1920x1080px screen. When I open two windows, they each get half of a screen (960px, minus 2px borders on each side, so my viewport is actually 956px wide). MDN still hides the "related topics" column for me, which is a shame because I use

[2021-03-04 15:08] Elchi3 commented on #3119
Sigh. Sorry about this. See https://github.com/mdn/yari/pull/3131

[2021-03-04 15:17] schalkneethling commented on #2972
@wbamberg Funny you should mention this 😃  I have something in mind that related mostly to BCD tables but, it kinda hinges on the fact that the sidebar has some aspect of what you are suggesting. I will expand on the idea a bit more in Figma and then propose the idea here for further discussion. Thank you for bringing my attention to this @peterbe

[2021-03-04 15:40] schalkneethling commented on #2504
Updated design to take into account the avatar

![Screenshot 2021-03-04 at 17 40 19](https://user-images.githubusercontent.com/10350960/109988946-b421e100-7d10-11eb-8367-6cefde58f317.png)

[2021-03-04 17:46] zcdunn commented on #2155
@schalkneethling I don't see any change. I still get a mobile view with a large empty column on the right.

[2021-03-04 17:57] peterbe opened #3134 "Translated broken links might be saved by linking to en-US instead"
I think we should do the same with regular `<a href>` links too. E.g.

[code]
should automatically become:
[code]

But that can be done as a separate thing.

_Originally posted by @peterbe in https://github.com/mdn/yari/issues/3053#issuecomment-789878223_

[2021-03-04 17:58] peterbe commented on #3134
This is blocked by https://github.com/mdn/yari/pull/3133

[2021-03-04 18:01] peterbe opened #3135 "Bad warning when an `img` lacks a `src`"
E.g.
[code]
`undefined` is supposed to be the document's URL.

[2021-03-04 18:16] #3135 closed

[2021-03-04 21:49] peterbe opened #3137 "Markdown"
Support `index.md` as well as `index.html`.

Things that should work:

- [ ] Fix fixable flaws
- [ ] Create/move CLI apps
- [ ] Markdown rendering errors should propagate nicely
- [ ] Syntax highlighting (Prism?)
- [ ] Not mess up leftover HTML (e.g. notecards, definition lists) or KS macros that could be problematic.
- [ ] Make a decision if you should support GitHub Flavored Markdown or not

[2021-03-04 21:53] Ryuno-Ki commented on #2155
o/

Using AwesomeWM on one machine. Or side-by-side feature of Desktop Environments (like Mate, here).

[2021-03-04 22:31] peterbe opened #3139 "refactor how search-index works"
At the moment, the `search-index.json` is generated when you start the server (Express server). It's generated in a `Worker` to avoid blocking the main thread.
Because it's directly imported by the server, whenever `nodemon` restarts, it triggers the `Worker` to rebuild the search index again. This is often quite annoying because it takes 2-4 seconds which is a waste of CPU when it probably hasn't

[2021-03-05 06:48] himanshu-web opened #3143 "< Dark Theme > Pls provide dark theme option"
I love documentation but it is so hard to read the document for an hour and two because of the light theme it affects on eyes so pls provide a dark theme option on the website. thanks and love to all

[2021-03-05 06:55] Ryuno-Ki commented on #3143
Issues are meant for actionable items.
See https://github.com/mdn/yari/discussions/2539 for the discussion.

[2021-03-05 06:55] tannerdolby commented on #2478
@schalkneethling I checked all the pages that I had taken note of having the overflow issue, and everything seems to be fixed. I will continue looking around to see if any issues still exist, but I think you've fixed the problem. Nice work!

[2021-03-05 08:25] schalkneethling commented on #2478
Thanks so much for double-checking!

[2021-03-05 08:31] chrisdavidmills commented on #3143
Closing this in favor of the existing discussion. Please add your thoughts there @himanshu-web ; your contribution is very welcome.

[2021-03-05 08:31] #3143 closed

[2021-03-05 09:19] ddbeck opened #3146 ""yarn content delete" can break redirects"
I accidentally broke CI by removing pages in https://github.com/mdn/content/issues/2691, but it was only discovered in https://github.com/mdn/content/issues/2866.

Three things came together to cause this failure:

1. The README for mdn/content says "**Don't edit the _redirects.txt file manually!**" (emphasis in the original).
2. `yarn content delete` doesn't make the corresponding modifications t

[2021-03-05 09:42] fiji-flo commented on #3146
@ddbeck if you take a quick look at #3147 I'd merge it.

[2021-03-05 12:30] JKROUGE commented on #2196
Unfortunately the bug is still the same, as Mr. @peterbe has suggested it might be a tricky browser bug (specifically Chrome browser), while in desktop-mode the issue happens on portrait view of site on my mobile screen of 2-3 inches width. Anyways no issues in landscape view (6-7 inches width) of desktop-mode. Ok let it be, may be vendor will update their browser and the bug will go away in near

[2021-03-05 13:19] #3146 closed

[2021-03-05 23:26] KartikSoneji opened #3148 "[Feature Request] Generate clickable anchor tags for HTML attributes"
Anchor tags allow reference links to target a particular section of a document easily.
The `htmlattrdef` already generates `id`s, so wrapping in them an `<a>` tag will make them clickable, increasing ease of use.

https://github.com/mdn/yari/blob/c878b4c6adae1972d424ba5dec2611fff5796bad/kumascript/macros/htmlattrdef.ejs#L1-L2

For example:
[code]

[2021-03-07 01:34] nurullah7733 opened #3149 "Please Add your website bangla language."

[2021-03-07 14:45] Ryuno-Ki commented on #3149
Feels invalid. I don't have the permission to close.

[2021-03-07 19:36] chrisdavidmills commented on #3149
My apologies @nurullah7733, but we aren't adding any more languages to MDN at the moment.

[2021-03-07 19:36] #3149 closed

[2021-03-08 09:03] sylvestre opened #6670 "Cannot use "yarn content delete" on https://github.com/mdn/archived-content/"
I would like to delete some pages there but the recommended way to delete a page doesn't work.

note that I am happy to use my chainsaw and do "git rm" ;)

cc @chrisdavidmills

[2021-03-08 16:15] peterbe commented on #3072
Fix fixable flaws didn't work on http://localhost:3000/en-US/docs/Web/API/EffectTiming/easing#_flaws

[2021-03-08 16:18] peterbe commented on #3072
Better wait for https://github.com/mdn/content/pull/2943 because I did the other fixable flaws with that document.

[2021-03-08 16:28] escattone commented on #2504
@schalkneethling Looks great!

[2021-03-08 17:30] peterbe commented on #3148
I think I can see how that could be useful. For example, to link a friend to the `dns-prefetch` section I first have to use http://localhost:3000/en-US/docs/Web/HTML/Attributes/rel#values and then say "Scroll down to `dns-prefetch`".

[2021-03-08 18:07] peterbe commented on #3072
Oops. I fumbled on the button!

[2021-03-08 19:03] dmarti opened #3159 "Add HTTP header to opt out of "interest cohort" training"
At least one commonly used web browser is planning to deploy a system in which users are classified into "interest cohorts" based on web history. (Federated Learning of Cohorts, or FLoC). This is widely considered a risk to user privacy. Background information is available from

 * [EFF](https://www.eff.org/deeplinks/2021/03/googles-floc-terrible-idea)

 * [Gizmodo](https://gizmodo.com/google-cont

[2021-03-08 19:40] peterbe commented on #1031
This doesn't happen anymore.

[2021-03-08 19:40] #1031 closed

[2021-03-08 19:41] peterbe commented on #2756
Is this still relevant?

[2021-03-09 06:40] tannerdolby commented on #2692
@schalkneethling After having a look at potential fixes for this, I noticed the underlying `max-width` styling is coming from `@import "~@mdn/minimalist/sass/mixins/utils";` within the `/browser-compatibility-table` folder. I tried tweaking other selectors to allow the content to occupy the entire `<td>` content-box but was unsuccessful since the `.article dl` style from `index.scss` (ie _utils.sc

[2021-03-09 11:46] peterbe commented on #3072
The reason the fixable flaws on http://localhost:3000/en-US/docs/Web/API/EffectTiming/easing#_flaws don't work is because the two external images there are 404'ing. It's just too subtle, and that's unfortunate, but it's not a problem with downloading svgs specifically.

[2021-03-09 12:12] chrisdavidmills opened #3166 "Add "needs-triage" label automatically to issues created via bottom-of-page links"
As part of the triage process for content bugs (being added in https://github.com/mdn/content/pull/2947), we want to make sure that a label of "needs-triage" is added to every new content bug created.

This already happens with issues created via the new "Content bug" issue template, but could someone please update the site code so that this also happens when issues are created using the "Report a

[2021-03-09 12:16] peterbe commented on #3159
Hi Don! Thanks for filing.

@escattone @chrisdavidmills @fiji-flo This one's non-trivial. I haven't had a chance to read those lengthy articles yet.
Technically it would be as simple as add the `Cache-Control` header to the Deployer, but it would be nice to get some buy-in from other privacy experts within Mozilla to back up Don's claims (i.e. that MDN *should* opt-out). Know anybody good to call

[2021-03-09 13:59] peterbe opened #3168 "Deal with "No BCD data" more gracefully?"
Look at http://localhost:3000/en-US/docs/Web/API/DeprecationReportBody#_flaws for example:
<img width="707" alt="Screen Shot 2021-03-09 at 8 55 41 AM" src="https://user-images.githubusercontent.com/26739/110481136-3c0f3e80-80b5-11eb-83b9-8abf7803814b.png">

[In the raw content you'll find this](https://github.com/mdn/content/blob/39a29a5c88db77f82bb2b68273e3bf5f653df622/files/en-us/web/api/depreca

[2021-03-09 14:00] peterbe commented on #3168
What do you think @ddbeck @Elchi3 @chrisdavidmills ?

[2021-03-09 14:12] #3053 closed

[2021-03-09 15:38] peterbe opened #3169 "APIRef should use smartLink()"
That now means that for translated content, if the page doesn't exist at least it automatically falls back to English.

[2021-03-09 15:45] Elchi3 commented on #3168
We previously had a call for contribution in the content itself (but hidden). See https://github.com/mdn/content/issues/2228

I think it would be better to do what you describe here.

[2021-03-09 16:56] #3166 closed

[2021-03-09 17:01] chrisdavidmills commented on #3168
I also think that @peterbe 's suggestion for handling this is a good one. Question — should we make the CTA ask them to submit a PR to add the data, or submit an issue if they just want to report it? Or is that too complicated?

[2021-03-09 18:07] ddbeck commented on #3168
A failure like this doesn't necessarily mean that there's no data. Possible failure modes:

- The author used the wrong identifier in the macro (e.g., a typo)
- BCD hasn't caught up to the content (e.g., a page author opens PRs on mdn/content and mdn/browser-content-repo and the content PR gets merged while the compat changes are still waiting for review)
- Yari hasn't caught up to BCD (e.g., the

[2021-03-09 21:17] peterbe opened #3174 "Image flaw checking should be different for translated content"
If a translated document has an external image like:
[code]
before downloading that image, it should see if the `en-US` equivalent already has a `opera-mac-select-2-closed.png` and then the result should become:
[code]

And if it's *already* something like:
[code]
it should not be a flaw even though there exists no `translated-content/files/fr/Web/Foo/bar/opera-mac-select-2-closed.png`.

But there

[2021-03-09 21:20] escattone commented on #1102
This (and much more) was already done by @chrisdavidmills.

[2021-03-09 21:20] #1102 closed

[2021-03-09 21:21] escattone commented on #805
@chrisdavidmills has already addressed this.

[2021-03-09 21:21] #805 closed

[2021-03-09 22:56] peterbe opened #3177 "Unsafe HTML should be a breaking flaw"
The scenario is that someone tries to sneak in some unsafe HTML into a PR. It should break the PR build (on the content) and raise awareness/attention so it doesn't easily get merged.
For example `<script>` or `<p onmouseover="bad()">`.

[2021-03-10 09:36] #3139 closed

[2021-03-10 09:37] #3072 closed

[2021-03-10 14:08] schalkneethling commented on #2155
I just tested at 1024px and I get the desktop layout. Can you please test again on your side?

@glacambre To answer your question. Keeping the desktop layout below 1024 is going to be a tight squeeze 😃

With that said, I do have an idea of how we can surface the related topics better on tablet-sized devices which I will raise in a separate issue. Thank you for your feedback.

[2021-03-10 18:40] #3119 closed

[2021-03-10 19:32] dmarti commented on #3159
@arthuredelstein is also knowledgeable about browser privacy and may be able to help advise.

[2021-03-10 19:43] peterbe opened #3184 "Bad React loop key on MacroPagesErrors with the same source"
See http://localhost:3000/en-US/docs/Web/API/Window/personalbar#_flaws

<img width="1303" alt="Screen Shot 2021-03-10 at 2 42 28 PM" src="https://user-images.githubusercontent.com/26739/110687879-f9ca2800-81ae-11eb-9b48-d718326a2171.png">

It's because the same exact line `<div>{{APIRef}}</div>` is causing multiple distantly different `MacroPagesError` flaws.

[2021-03-10 19:49] englehardt commented on #3159
Since FLoC is only going through origin trials in Chrome, I think it's premature to add a header that interacts with the feature to our web properties. We should definitely revisit this if Chrome decides to move FLoC beyond an experiment.

[2021-03-10 19:52] peterbe opened #3186 "<img src="#x"> crashes the builder"
Put this into a HTML page:
[code]
This is what happens if you try to view the page:
[code]

This is what happens when you try to `yarn build` a HTML file that contains that:
[code]

[2021-03-10 20:38] #3186 closed

[2021-03-10 20:58] peterbe opened #3189 "The git log Last modified date probably the wrong date"
When we build up the git log history, to later be displayed in the document footer, we're relying on the commit date. That date might be very different from the date it got merged to `main`.

Imagine this timeline:

1. Contributor commits in their branch and make a PR on Monday
2. Reader looks at the document on Tuesday
3. Reviewer merges the PR on Wednesday
4. GitHub Actions builds and ships on W

[2021-03-10 21:10] peterbe opened #3190 "Don't crash on <img src="/">"
If you have `<img src="/">` in the HTML and try to view it through the JIT server with flaw checking this happens:
[code]

[2021-03-10 21:18] peterbe commented on #3190
It actually happens with any `<img src>` whose value is an attempt to lookup the "parent document".
E.g. if the HTML is `<img src="/en-US/xxx">` ends up finding `~/content/mdn/files/en-us` which is a directory.
The API function `Image.findByURL()` should make sure it only returns things that are images.

[2021-03-11 00:26] #3044 closed

[2021-03-11 14:31] peterbe opened #3198 "Automate PR comment that warns that a locale is "frozen""
If someone makes a PR on some `ru` or `pl` pages in mdn/translated-content, we should post a PR comment (automatically) that explains that this locale is not actively maintained (i.e. not unfrozen).

[2021-03-11 15:16] #3190 closed

[2021-03-11 15:41] schalkneethling commented on #2756
Yup still relevant.

[2021-03-11 15:53] schalkneethling commented on #2692
@tannerdolby indeed that is unfortunate. It is because there are a number of elements that are set to a `max-width` that is actually defined by our `readable-line-length` class and mixin. Removing it from the underlying implementation might be an option but, moving it into `.article` will also not solve the problem.

Let me think about it a little more.

[2021-03-11 16:36] peterbe opened #3199 "9k 404s on /en-US/Security/CSP in the last 3 weeks"
We need to add it to the fundamental redirects list.

[2021-03-11 20:29] #2901 closed

[2021-03-11 20:56] #3199 closed

[2021-03-11 20:57] aardrian commented on #2901
Glad to see this wrapped up, thanks all!

How long before it appears on the site? I just purged my cache to be sure it is not already out there before asking.

[2021-03-11 21:09] escattone commented on #2901
@aardrian It should be fully deployed about 5-6 hours from now, and then it's a matter of when each page's CDN cache expires (at most 24 hours). So, at the latest, all pages should show this change 30 hours from now. Cheers.

[2021-03-11 21:25] peterbe opened #3205 "headings should have an underline when you hover over"
In Prod (which hasn't upgrade itself yet at the time of writing)
<img width="563" alt="Screen Shot 2021-03-11 at 4 23 05 PM" src="https://user-images.githubusercontent.com/26739/110856786-11c0ab00-8286-11eb-84e9-bccb170e71fb.png">
<img width="513" alt="Screen Shot 2021-03-11 at 4 23 36 PM" src="https://user-images.githubusercontent.com/26739/110856834-2309b780-8286-11eb-845a-a0e37d9e89b8.png">

In

[2021-03-11 21:35] peterbe opened #3206 "WebAssemblySidebar.ejs should use smartLink()"
E.g. https://developer.mozilla.org/es/docs/WebAssembly
Many of the links in the sidebar, under "Tutorials", will 404 but could easily be replaced at build-time with the `en-US` equivalent.
We just need to change these lines: https://github.com/mdn/yari/blob/6d3e84d67172959dea95650a815fc58f7ed4d818/kumascript/macros/WebAssemblySidebar.ejs#L31-L39
to do something like:
[code]
...plus the relevant ch

[2021-03-11 23:10] #3177 closed

[2021-03-12 13:47] #3174 closed

[2021-03-12 15:34] peterbe opened #3215 "unsafe_html fails on all iframes if BUILD_LIVE_SAMPLES_BASE_URL is empty"
See https://github.com/mdn/content/pull/3064/checks?check_run_id=2095600358
[code]

It's a bit hard and ugly to see but it's basically complaining about the `https://interactive-examples.mdn.mozilla.net/pages/tabbed/abbr.html` iframe `src`.
It happens because...
[code]

so now the list of `safeIFrameSrcs` contains an entry which is an empty string.

[2021-03-12 15:50] peterbe opened #3217 "Fix our auto-merge workflow"
tl;dr; Dependabot PRs are now run in a way that it has no access to any write-access secrets. But `auto-merge` can be used if we switch to `pull_request_target`.

See https://github.com/ahmadnassri/action-dependabot-auto-merge/issues/60

[2021-03-12 16:18] peterbe commented on #3217
It works!
https://github.com/mdn/yari/pull/3212
and https://github.com/mdn/yari/pull/3214
were merged thanks to https://github.com/mdn/yari/pull/3218

[2021-03-12 16:21] peterbe commented on #3217
Once https://github.com/mdn/content/pull/3071 has proven to fix problems for content too, we can close this.

[2021-03-12 17:19] peterbe commented on #3217
Don't be fooled to think it was me, the real Peter, who posted this: https://github.com/mdn/content/pull/3073#pullrequestreview-610979933
It's the auto-merge workflow working again in mdn/content. Yay!

[2021-03-12 17:19] #3217 closed

[2021-03-12 18:07] SphinxKnight opened #3219 "Equivalent service of https://whatsdeployed.io/s/DLi/mdn/content for translated-content"
Currently writing some "guidance" post for localizers, I was wondering if it is currently/would be possible to use something like https://whatsdeployed.io/s/DLi/mdn/content but for translated-content.

As far as I can tell, some commit which were merged today on translated-content are not displayed on the list.
(ex. c398cf9 as of 2021-03-12)
I was wondering if some additional setup was required/an

[2021-03-12 18:07] peterbe commented on #3219
Let's create one of those .json files for the `translated-content` too.

[2021-03-12 18:07] SphinxKnight opened #3220 "Delete orphaned page on translated-content fails unless CONTENT_TRANSLATED_ROOT is an absolute path"
## Steps to reproduce
1. Set up both repositories (mdn/content and mdn/translated-content) (incl. installing node, yarn)
2. Set up .env file accordingly (`CONTENT_TRANSLATED_ROOT=../translated-content/files`)
3. Check some orphaned pages which are obsolete under fr
4. Run `yarn content delete orphaned/Learn/How_to_contribute fr` from translated-content local directory. Got 'Command content not fou

[2021-03-12 18:17] SphinxKnight commented on #3220
I'm guessing this also applies to other subcommands of `yarn content` such as `move`

[2021-03-12 19:09] sohamsshah commented on #2900
@Ryuno-Ki So currently we have components for each icon and have `hrefs` on it. Essentially we want to take SVGs of those icons instead of extrernal `hrefs` for those. As you told, we can use a simple CSS class with ```css background: url("path-to-SVG")``` attribute to do this. Am I right or terribly mistaken?

[2021-03-12 19:10] sohamsshah commented on #2900
Yes, I am trying to set up locally first. Apologies for a decade day delay. Would try to make a PR as soon as possible. Just need clarity upon my understanding of the problem.

[2021-03-12 20:49] #3215 closed

[2021-03-12 21:11] peterbe commented on #3219
Here it is: https://whatsdeployed.io/s/16d/mdn/translated-content

Now we just need to figure out a good place to "share" this link. Hmm... Where did we blather about the one for mdn/content?

[2021-03-12 21:52] peterbe opened #3224 "https://developer.mozilla.org/pagenotfound1234 is rendering the wrong route"
The server responds with the 404.html payload. But once the app hydrates and `react-router` kicks in, it incorrectly thinks it's on the home page (because it tries to XHR download the `index.json` in which it expects the feed entries to be)

<img width="1446" alt="Screen Shot 2021-03-12 at 4 51 24 PM" src="https://user-images.githubusercontent.com/26739/111002300-3171d500-8353-11eb-8a37-93df5b9e04

[2021-03-12 21:54] peterbe opened #3225 "https://developer.mozilla.org//xxx is failing hydration"
This is the 404.html (`en-us/_spas/404.html`) page but when rendered in the browser the react-router hydration gets horribly confused and has no route to render. So you get a blank page.

<img width="1440" alt="Screen Shot 2021-03-12 at 4 53 51 PM" src="https://user-images.githubusercontent.com/26739/111002493-8877aa00-8353-11eb-9ac6-f1b251b7e6b6.png">

[2021-03-12 21:55] peterbe commented on #3224
Possibly related: https://github.com/mdn/yari/issues/3225

[2021-03-12 21:55] peterbe commented on #3225
Possibly related: https://github.com/mdn/yari/issues/3224

[2021-03-12 22:44] peterbe commented on #3220
@fiji-flo Can you fix this one?

[2021-03-13 10:55] SphinxKnight opened #3226 "Create a separate dependency for `yarn content`/ "utils" commands - Portability between mdn/content and mdn/translated-content"
After having slept on #3220 and a quick discussion on Matrix with @chrisdavidmills, I'm opening this issue to discuss the following.

As I understand it, mdn/content has mdn/yari as a dependency to be able to use `yarn content/filecheck/build` and the corresponding subcommands.

If I'm not familiar with all of them, I think such "utils" could be useful for mdn/translated-content as well.

In order

[2021-03-14 14:47] ddbeck commented on #3168
Yeah, I suppose the second and third cases I mention would be transient and self-resolving. If we ignore those, there's at least a couple of ways we might approach this. One would be a two-pronged CTA:

Alternatively, we could make it one side's problem exclusively:

And then the content repo can relocate data issues to the correct repo.

[2021-03-15 05:57] SphinxKnight opened #3229 "Don't run scheduled workflows on forks"
I've forked this repo and received daily updates about failed actions on my repository (namely, pushing to production failed :))
A quick solution for this is to disable the actions on the fork.
I think it would be useful to add a quick note about this in the Readme.

I'll suggest a PR later.

[2021-03-15 09:06] fiji-flo commented on #3220
@SphinxKnight can you please make sure you're up to date (you probably are) by running ` yarn up-to-date-check` in the content repo.

deleting orphaned pages works for me. I'm fairly sure the issue is the relative `CONTENT_TRANSLATED_ROOT` we should make this explicit that it should be an absolute path.

[2021-03-15 10:09] foolip opened #3238 "Treat BCD ranges as exact versions, hiding "≤" annotation"
https://github.com/mdn/browser-compat-data/pull/9350 is an example of the display of these entries being confusing, with ≤79 being interpreted as "supported in 79 and earlier", instead of the intended "support in 79 and later, support before 79 unknown".

All allowed versions are here:
https://github.com/mdn/browser-compat-data/blob/fdf38f58f9e660034de914ccb82d34cfd82d91a8/test/linter/test-version

[2021-03-15 12:26] SphinxKnight commented on #3220
@fiji-flo I confirm this works after setting `CONTENT_TRANSLATED_ROOT` as an absolute path (which seems a bit counterintuitive to me but this issue can be closed now)

![image](https://user-images.githubusercontent.com/2413436/111153118-d11ca680-8591-11eb-870a-c4176092142e.png)

[2021-03-15 12:30] peterbe commented on #3220
I think we should treat that as a bug. It's nice to know you can unblock yourself by making it absolute but it seems like it should be fixed. For example, we have that code that checks if the `CONTENT_ROOT` was lacking the `files` suffix. I think we should do something similar to CONTEN_TRANSLATED_ROOT.

@fiji-flo Would you mind looking into it?

[2021-03-15 12:33] SphinxKnight commented on #3220
I've updated the title to something more relevant now. Let me know if you prefer to have a distinct issue than this one.

[2021-03-15 12:34] fiji-flo commented on #3220
Happy to add a check. I'd still enforce the path being absolute but show a warning in stead of failing ungraceful.

[2021-03-15 12:37] peterbe commented on #3229
Good point! I also think it's a waste of electricity that every individual's fork would be running CI.

I'm not entirely sure how to get to *your* Action runs. (Or mine, or Ryan's, etc.)
I think what we should do is make sure the cronjobs only run if the repository owner is `mdn`.

[2021-03-15 12:47] zcdunn commented on #2155
@schalkneethling Sorry for the delay. I tried again and now I get the table of contents on the left and the main content on the right. Thank you!

[2021-03-15 12:47] #2155 closed

[2021-03-15 12:49] #3184 closed

[2021-03-15 13:15] peterbe commented on #3229
What I don't yet understand is; how do you even see what Actions are running in a fork? On forks, you don't even have the "Actions" tab. If I take [the `mdn` on's URL](https://github.com/mdn/yari/actions) and just replace the `mdn` with `SphinxKnight` I get a 404: https://github.com/SphinxKnight/yari/actions

From what I can gather, people will have to manually click into their "Settings" (on thei

[2021-03-15 13:24] peterbe commented on #3226
In general, the mdn/translated-content repo could have a `package.json` too. And in it, one of the dependencies can be `@mdn/yari` too.
Because right now translators have to use mdn/yari to do previewing and that's kinda annoying because it's certainly slower and it's just a bit odd that the contribution instructions are so different from en-US writers compared to translators.

The challenge is th

[2021-03-15 13:24] peterbe commented on #3226
Ideas and preferences here @fiji-flo ?

[2021-03-15 13:41] fiji-flo commented on #3226
I don't have to many opinions here. I don't think there's to much overhead in the workflow. We currently encourage localizers to use the same workflow as _en-US_ editors + checking out `translated-content`. We do not ask them to use a `yari` checkout.

If I understand @SphinxKnight corrent: The proposal is to carve out the tooling like `yarn content` of yari and make them available in the `transla

[2021-03-15 13:49] schalkneethling commented on #2155
Thank you so much for checking again @zcdunn

[2021-03-15 14:59] peterbe commented on #3168
I think we already had a "solution" for when this happens. At some point we starting skipping the section rather than "letting it be broken". It looks like this:

<img width="1035" alt="Screen Shot 2021-03-15 at 10 56 46 AM" src="https://user-images.githubusercontent.com/26739/111173565-24d0c500-857d-11eb-8122-de6977262440.png">

It's incorrectly still doing an XHR lookup query which I'll deal wit

[2021-03-15 15:23] peterbe commented on #3229
@SphinxKnight I'm actually very confused now.
What Actions do you have in https://github.com/SphinxKnight/yari ?
What are your "Actions" setting set to? I.e. on your https://github.com/SphinxKnight/yari/settings/actions

Does anybody else get notifications about failed production builds from Yari that isn't from running inside `mdn/yari`?
@escattone @fiji-flo

[2021-03-15 15:26] SphinxKnight commented on #3229
A screenshot might be worth a 1000words so here goes:
![image](https://user-images.githubusercontent.com/2413436/111177946-fd90ec80-85aa-11eb-95e3-a99a80f1441e.png)

(I disabled them via the settings this morning (UTC+1))

[2021-03-15 17:26] escattone commented on #3229
@peterbe I just went through my forks and saw that I had not yet disabled Actions on all of them (so I did that).

[2021-03-15 17:35] peterbe commented on #3220
In `content/constants.js` we check that `fs.existsSync(CONTENT_TRANSLATED_ROOT)` but it still managed to crash because the context (aka current working directory) in which the `delete` was run isn't the same as when things started up.

I wonder if we can do this:
[code]
Would that have solved the bug?

[2021-03-15 18:13] peterbe opened #3249 "Check of unsafe HTML in SVG files"
In `fileCheck()` we're only looking for the presence of a `script` tag inside the SVG. We should look for other `on`-handlers.

[2021-03-15 20:23] SebastianZ commented on #2963
Tried [Peter's suggested change](https://github.com/mdn/yari/issues/2963#issuecomment-780590346) locally and it works.

Unfortunately, that also removes the code layout. Therefore it still needs to be wrapped in a `<pre>` (without the `class` attribute) to get a proper display.

Sebastian

[2021-03-15 21:09] SebastianZ commented on #2963
https://github.com/mdn/content/pull/3163 is meant to fix this issue.

@peterbe There are far more pages affected (exactly 536) because most of them embed the macro using its name in lowercase.

Sebastian

[2021-03-15 22:06] peterbe commented on #2963
@fiji-flo Took care of it. He timed a mass-edit of the content with an edit of the KS macro. So now, the KS macro is responsible for doing its own `<pre>` tag.

I think we can close this once we're certain it made it to prod as expected.

At the time of writing, it's about 1h until the Prod build builds and also at the time of writing, [GitHub is having problems with Actions](https://www.githubsta

[2021-03-15 23:10] #3249 closed

[2021-03-16 10:05] fiji-flo commented on #2963
#3244 resolves this. Thank you @SebastianZ, weird timing, we fixed it the same day.

[2021-03-16 10:05] #2963 closed

[2021-03-16 12:17] peterbe commented on #3249
Excellent! https://github.com/mdn/content/pull/3162 failed now. As expected.

[2021-03-16 12:46] peterbe commented on #2889
Ping?

[2021-03-16 13:47] peterbe opened #3253 "Stop saying "Building roots:" twice"
The "Build roots:" stdout logging is nice actually. I've often looked at it and gained insight from the fact that it reminds me what env vars I've set up.

<img width="461" alt="Screen Shot 2021-03-16 at 9 44 31 AM" src="https://user-images.githubusercontent.com/26739/111319353-48a71000-863c-11eb-8571-3449e16b836b.png">

But...

1. The "Building documents..." line is annoying
2. It doesn't need to

[2021-03-16 14:35] peterbe commented on #2528
https://github.com/mdn/yari/pull/3254 is going to avoid even getting to the 404 page because a lot of translated document's hyperlinks are now automatically switched over to the en-US equivalent and it does this using redirects.

[2021-03-16 15:42] #3220 closed

[2021-03-16 17:17] #3104 closed

[2021-03-16 19:53] SebastianZ commented on #2963
Yeah, what a coincidence! But don't worry! It's great this is got fixed now!

Sebastian

[2021-03-16 21:33] peterbe commented on #2224
We forgot to respect the archived files.
E.g. https://developer.allizom.org/en-US/docs/Mozilla/Projects/Rhino/Documentation should NOT have been deleted on Stage.

[2021-03-16 21:34] peterbe commented on #2224
Note, `en-us/mozilla/projects/rhino/documentation/index.html` is found in `content/archived.txt` and we should take that into account.

[2021-03-16 21:35] peterbe commented on #2224
@escattone Can you add a headless test that checks that some archived URLs are still 200 OKing.

[2021-03-16 22:12] wbamberg opened #3258 "Support `browser_compatibility` as a front matter key"
(and make it available to KS. Actually, make all of front matter available to KS).

Like:

[code]

At the moment compat tables are built something like:

* authors include the {{ Compat }} macro, passing it a BCD query like "css.properties.margin"
* the {{ Compat }} macro [emits a `<div class="bc-data">` with an `id` set to that query](https://github.com/mdn/yari/blob/main/kumascript/macros/Compat

[2021-03-16 23:14] wbamberg opened #3260 "Live samples should have a border"
Looking at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#examples, it's hard to see where the page content ends and the example output starts:

********

<img width="856" alt="Screen Shot 2021-03-16 at 4 12 46 PM" src="https://user-images.githubusercontent.com/432915/111391762-8030af00-8672-11eb-8ee3-9cade2069d8e.png">

********

I think it would help if live sample iframes got

[2021-03-16 23:22] escattone commented on #3260
cc @schalkneethling @peterbe

[2021-03-17 00:44] #3253 closed

[2021-03-17 13:17] peterbe commented on #3258
So instead of:
[code]

it's supposed to become:

[code]

And inside `Compat.ejs` something like this:
[code]

If we do that, nothing would (need to) change elsewhere. E.g. the way Yari converts the `<div class="bc-data" id="bcd:css.properties.margin">` would be unaffected.

I guess we can do a big search-and-replace one-off (or in batches) where we carefully fix `index.html` pages more or less one

[2021-03-17 14:36] peterbe commented on #3260
@schalkneethling I think this is an excellent example of using `style="..."` attributes directly in the KS macro. Wanna take this one?

[2021-03-17 15:33] schalkneethling opened #3475 "Snackbars/Toast/Growl Messaging"
Strangely enough, we do not have a specific notecard for errors.

[2021-03-17 15:35] fiji-flo commented on #2935
This should be fixed. However this might still happen if a 301 is cached and we reuse a slug. `yarn content move` will put out a warning, but there's nothing preventing it.

[2021-03-17 16:06] escattone commented on #3258
@peterbe That's exactly my understanding (after talking to @wbamberg) as well.

[2021-03-17 16:17] wbamberg commented on #3258
Yes, exactly!

I don't feel strongly here, but would vote for `browser_compatibility`: I agree it's harder to write but it is easier to read, and reading happens more often than writing.

[2021-03-17 16:24] Elchi3 commented on #2935
https://developer.mozilla.org/en-US/docs/Web/API/HTMLHyperlinkElementUtils is not yet deleted, but I guess that's https://github.com/mdn/yari/issues/2224 ?

[2021-03-17 16:30] fiji-flo commented on #2935
Indeed.

[2021-03-17 16:33] Elchi3 commented on #2935
okay cool, closing here then.

[2021-03-17 16:33] #2935 closed

[2021-03-17 19:24] peterbe opened #3267 "Ability to build by specific locale(s)"
When working on figuring out why some `ru` documents had `unsafe_html` I wanted to be able to just build the `ru` documents. But this is not possible. You can with `BUILD_FOLDERSEARCH` but then you can only filter specific `ru` files at the root.

[2021-03-17 19:35] peterbe opened #3269 "CompatibilityTable.ejs injects HTML that's considered unsafe"
For example, on https://developer.mozilla.org/ru/docs/Web/API/Element/classList it injects:

[code]

let's change it to:

[code]

[2021-03-17 19:51] peterbe opened #3271 "Don't choke on iframes without a src"
Steps to reproduce:
[code]
You get:
[code]

[2021-03-17 19:53] peterbe commented on #3271
I don't even know what the heck this is:
https://github.com/mdn/translated-content/blob/242f0b78b42992e2e1c961fa81172f364d2be6ca/files/es/learn/html/multimedia_and_embedding/responsive_images/index.html#L265

[2021-03-17 20:01] peterbe commented on #3101
Resolved now.

[2021-03-17 20:01] #3101 closed

[2021-03-17 20:13] #3269 closed

[2021-03-17 20:20] #3271 closed

[2021-03-18 09:01] SphinxKnight commented on #1197
@escattone is it possible to add the localization label on this issue please?

[2021-03-18 12:28] peterbe commented on #3278
Can some please summarize what the problem is here?

[2021-03-18 14:54] chrisdavidmills commented on #3278
I'm sorry, I misread this, and it turns out it is about content after all ;-)

The behavior of the iframe example is different now to how it was when the article was first written, but the effect is still the same. I've updated the wording, and I think this can be closed now; see https://github.com/mdn/content/commit/9e18a29da5ea7868959189d327309c4ad1e581bb

[2021-03-18 14:54] #3278 closed

[2021-03-18 15:12] peterbe opened #3279 "Get rid of 'pre.language-*`"
We have a lot of CSS in the main bundle just for `pre.language-*`.
In fact, look at the first 46 lines of https://gist.github.com/peterbe/735c93ff7b16eaefd463d36fb2a5147a which is a Prettier formatting of today's main CSS bundle.

We don't use `class=language-*` anywhere in the core Yari product. If you should be using `class="brush: *` instead.

The `language-*` is something you get from Markdown

[2021-03-18 15:14] peterbe commented on #3279
@schalkneethling Is this something we have in minimalist or in yari?

[2021-03-18 15:26] peterbe commented on #3279
By the way, compare http://localhost:3000/en-US/docs/Learn/Accessibility/HTML with https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML
This is what happens when you remove the `language-*` stuff:
<img width="1235" alt="Screen Shot 2021-03-18 at 11 25 13 AM" src="https://user-images.githubusercontent.com/26739/111651692-d588cf80-87dc-11eb-8b98-0b2899a485d9.png">

[2021-03-18 19:45] dhananjayd1729 commented on #2901
@schalkneethling First of all I'm really sorry for being not active on time(there was a lot things going with me lately, my exams and all).But when I said I want to work on this issue that time I tried my best to run yari locally but I couldn't. I would like to contribute to MDN docs for upcoming issues.I hope I will get help when I get stucked.

[2021-03-19 03:20] hamishwillee commented on #2675
@peterbe FYI This is still a problem (archived pages showing up as broken links). It is a bit of a pain frankly, because I have to check them manually.

[2021-03-19 09:03] webdev23 opened #3287 "Broken link"
https://developer.mozilla.org/Command_Line_Options

[2021-03-19 16:22] schalkneethling commented on #3279
Let me double-check.

[2021-03-19 17:14] peterbe opened #3286 "Archived banner is busted in the new design"
Archived pages don't have the new design. I.e. they have the breadcrumb *below* the document header.
<img width="1504" alt="Screen Shot 2021-03-19 at 1 12 20 PM" src="https://user-images.githubusercontent.com/26739/111817733-bf4e4280-88b4-11eb-9a78-a1b466691158.png">

In the new design, where the breadcrumb is *above* the document header it looks like this:
<img width="1502" alt="Screen Shot 2021-

[2021-03-19 17:17] #3267 closed

[2021-03-19 18:04] peterbe commented on #2675
The only way I think of solving this is if you have a checkout of the github.com/mdn/archived-content on your laptop and then you add `CONTENT_ARCHIVED_ROOT=path/to/mdn/archived-content` in your `.env` file.
The link is gone now, but for example `/en-US/docs/Web/JavaScript/New_in_JavaScript` isn't an actual archived URL but actually an archived *redirect* URL.

Do you think that's a viable thing?

[2021-03-19 19:15] peterbe commented on #3287
Thanks!
It's actually a duplicate of https://github.com/mdn/yari/issues/3224
but I'm happy to leave this open till we resolve that one.

[2021-03-19 19:26] peterbe commented on #3279
I just don't understand where it could come from:
[code]

[code]

[2021-03-20 06:04] SphinxKnight commented on #3229
Closed as per #3245 if I understand correctly.

[2021-03-20 06:04] #3229 closed

[2021-03-21 15:39] tristantheb opened #3290 "KS & CSS - Replacing titles of notes/warning/etc.. with correct semantic html/css"
**Observed:**
In many blocks whether in Kumascript or in CSS, it is written the use of title `<h3>` and `<h4>` thus creating the titles with the appropriate icons.

But this does not so much respect the structuring of an HTML page by creating a level 4 title directly under the page title (example using `{{SeeCompatTable}}`).

![Push API Exemple](https://i.imgur.com/TW8k2zY.png)

![Push API Exemple

[2021-03-22 03:53] hamishwillee commented on #2675
@peterbe That absolutely works "for **me**:.

Just an idea. Given that the archived links are more or less static might we not be better off just generating a static list of the archived topics and use that to hide the flaw (and possibly provide a stub target "archived topic").

If not, your suggestion will certainly make my life easier (and is really not too hard to document for those who need it

[2021-03-22 09:56] Elchi3 commented on #2224
Subscribing myself to this issue.
I deleted quite a few pages but they still show up (non-exhaustive list but to give you examples):

https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot
https://developer.mozilla.org/en-US/docs/Web/API/HTMLHyperlinkElementUtils
https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/init
https://developer.mozilla.org/en-US/docs/Web/API/XML

[2021-03-22 10:50] schalkneethling commented on #2504
This is taken care of by #2449

[2021-03-22 10:50] #2504 closed

[2021-03-22 13:00] SphinxKnight opened #3297 "Windows setup - Local server crash - EMFILE when editing / opening tabs"
After a few days using my Ubuntu machine, I switched back to a Windows one and set up a fresh environment (cloning mdn/content and mdn/translated-content in the morning).

However, when I was editing a localized page for a PR and checking a few links on my current page (localhost:5000 in/... my browser), I repeatedly had crashes.

[code]
I definitely reproduced this a few times without "trying too

[2021-03-22 13:01] SphinxKnight commented on #3297
@hamishwillee: as @tristantheb and I came across this one quite easily and, if I recall correctly, you are using Windows, I was wondering if this was something you stumbled upon.

[2021-03-22 13:13] #3224 closed

[2021-03-22 13:13] #3287 closed

[2021-03-22 14:55] #3205 closed

[2021-03-22 14:59] peterbe opened #3299 "Is anybody interested in the 'Wiki' GA event?"
In the last month, we've recorded roughly 1M events when people open and hover over links in the top navbar

Its category is called `Wiki` which in itself drives the point a bit about this issue
https://analytics.google.com/analytics/web/#/report/content-event-overview/a36116321w64965862p66726481/

Is anybody interested in this statistic?
Any plans to analyze it?
Can we delete the code if nobody's

[2021-03-22 15:00] #1672 closed

[2021-03-22 15:01] peterbe opened #3300 "Is anybody interesting in the 'MozMenu' GA event?"
In the last month, we've collected roughly 250k events when people click links in the Table of Contents sidebar.

Its category is called `MozMenu`
https://analytics.google.com/analytics/web/#/report/content-event-events/a36116321w64965862p66726481/explorer-segmentExplorer.segmentId=analytics.eventCategory&_r.drilldown=analytics.eventCategory:MozMenu

Is anybody interested in this statistic?
Any pl

[2021-03-22 15:07] peterbe commented on #3290
@schalkneethling Can you triage this one?
I for one would welcome something as simple as:
[code]

which can easily be turned into something as visually attention-grabbing as a `h4` there.

Besides, why can't it just be:

[code]
which'll become, hopefully, easier to transition to Markdown with since you can use `**` instead of having to rely on setting a `class=`.

[2021-03-22 15:09] tristantheb commented on #3297
**Observed:**
[code]

**Step to reproduce:**
1. Open 1 page
2. Open a page in a new tab (mouse middle click)
3. Sometime the server crash and the page return an 500 error ECONNREFUSED due to the crash

**When observed:**
-> Openning a US page from an FR page
-> Openning multiples pages
-> Return back to a previous page

**AND ! The error refers to a page I did not try to open...**

[2021-03-22 15:56] mnme commented on #1486
I just remembered this issue and lo and behold, the alignment doesn't seem to be fixed (Arch Linux / Firefox 86.0.1).

![Screenshot from 2021-03-22 16-50-06](https://user-images.githubusercontent.com/2905118/112018436-d5673780-8b2e-11eb-9417-48d85751e0bd.png)

[2021-03-22 16:37] peterbe opened #3301 "Orphaned translations "by birth" should break in CI"
We have code that checks that the folder matches in the slug (in the front-matter).
But what if you create a brand new page, inside a translation, that doesn't exist in English (aka. github.com/mdn/content)
Then, it should break in CI.
E.g. `cd translated-content && mkdir files/fr/web/nouveau && emacs files/fr/web/nouveau/index.html`

It's possible that we're already checking this but it's worth c

[2021-03-22 17:23] dmarti commented on #3159
The FLoC origin trial in Google Chrome is scheduled to begin some time in March 2021 (in Chrome 89). Only sites that are enrolled in the origin trial will be able to call the FLoC API.

 All sites that are detected to have "ad-related resources" (items that would be blocked by EasyList) will be included in the training, unless explicitly opted out.

If MDN does not have any third-party resource th

[2021-03-22 19:17] peterbe commented on #2224
The only thing we haven't done yet is to actually enable it on *Prod*.

For the record, I copied your list of URLs, replaced `mozilla.org` for `allizom.org` and checked each URL. They all 404'ed now.

[2021-03-22 19:18] peterbe commented on #2224
@escattone Would you mind doing the honors of adding `--prune` to `prod-build.yml` and kick off a build. Once Florian's list is all 404'ing and the archived pages are still working, then we can close this. ...finally :)

[2021-03-22 19:26] peterbe commented on #2675
Quite complicatedly, we have [a list of all the files](https://github.com/mdn/yari/blob/main/content/archived.txt)
But we don't have one for all the redirects. For that, the only place is https://raw.githubusercontent.com/mdn/archived-content/main/files/$LOCALE/_redirects.txt

[2021-03-22 20:38] escattone commented on #2224
@peterbe Will do.

[2021-03-22 21:09] peterbe commented on #3297
Skimming https://stackoverflow.com/a/21070580/205832 it seems it's quite a common thing and it's simply bound to happen.
But how do we solve it? We can either have a troubleshooting section about how to increase your OS's `ulimit` for various operating systems. Truth is, we actually already have such as a [section on the yari repo](https://github.com/mdn/yari/#troubleshooting) but that's not helpi

[2021-03-22 21:11] peterbe commented on #1486
That's a bummer. Would you mind filing a fresh new issue about that.
Also if you think you can figure out a solution we'd be delighted to guide you to how you can create a PR and stuff.

[2021-03-22 21:48] #3225 closed

[2021-03-22 22:37] hamishwillee commented on #3297
@peterbe This is a new thing, which first started happening last week (or so I recall).

I did not report because I always have around 200 chrome/ff tabs open and assumed I'd just gone over some limit. Did not appear to stop anything - ie at most a refresh of the page of interested still reloaded it. Note, my computer is not running short of any obvious resource according to the Windows Resource m

[2021-03-22 22:45] hamishwillee commented on #2675
I guess then it comes down to the effort of perhaps importing that list of redirects (and using it) or your proposal. Either is much better "for power users" than the current situation.

[2021-03-22 23:15] escattone commented on #2224
@Elchi3 @peterbe All of the URLs @Elchi3 listed in https://github.com/mdn/yari/issues/2224#issuecomment-803931336 now return 404 (after I invalidated the CDN cache for each of them). The CDN cache may still have unexpired content for any other URLs that have been deleted, but all cached entries in the CDN expire after 24 hours, so at worst we'll have to wait 24 hours for those to return 404. Wow,

[2021-03-22 23:24] #2224 closed

[2021-03-23 05:55] baloxhsahb opened #3306 "Code"

[2021-03-23 10:49] #3306 closed

[2021-03-23 10:51] #3168 closed

[2021-03-23 13:06] peterbe commented on #2449
We still need to enable it.

[2021-03-23 13:40] Nhawdge opened #3311 "Feature Request: My Compatibility Requirements"
I took the dev survey a couple weeks ago and one thing it mentioned is new features for MDN. I realized one feature I would like to see would be a personalized compatibility tables. For example. When I browse while at work, I have certain projects that still require IE11 compatibility, but not all. It would be nice to see "Your requirements for Project A are met, Your Requirements for Project B ar

[2021-03-23 13:50] #3031 closed

[2021-03-23 14:33] #2505 closed

[2021-03-23 14:33] #2449 closed

[2021-03-23 15:00] peterbe opened #3313 "EmbedTest262ReportResultsTable is deprecated"
We should remove the macro once all the content stops using it.

For en-US it's [already taken care of](https://github.com/mdn/content/pull/3375/files)
For translated-content [there's still 45 pages that use it](https://github.com/mdn/translated-content/issues/297)

[2021-03-23 15:22] #3189 closed

[2021-03-23 15:48] HerminaC commented on #3311
Hey @Nhawdge,

Thanks for this! Customising browser compat data to make it even more useful is something we've been discussing for a while now - and what you just described is one of the use cases we're considering for implementation. I don't know yet when this will happen, but I'll make sure to update this FR at that point. Also, thanks a lot for taking the survey!

Hermina

[2021-03-23 16:23] peterbe opened #3315 "Deployer needs to upload static assets first"
What happened to me was this:
<img width="1500" alt="Screen Shot 2021-03-23 at 11 42 59 AM" src="https://user-images.githubusercontent.com/26739/112174614-ed8d9400-8bcc-11eb-93d8-1f7595153896.png">

If you look carefully, what happened was that the HTML says it depends on `main.46b66fe7.chunk.css` but it's 404'ing.
I cache-busted the URL to make sure the HTML wasn't stale. But it wasn't. The probl

[2021-03-23 16:25] peterbe commented on #3315
I think we can easily solve this by sorting the keys that the Deployer needs to upload.
We need to upload things in this order:

1. all static assets
2. document Images
3. the `index.json` file
4. the `index.html` file (which becomes the directory name kinda thing)
5. sitemap XML and search-index.json files

[2021-03-23 16:27] peterbe commented on #3315
This whole problem is just more likely to happen on Stage because the CDN is very rarely warm there. It would rarely happen on prod because the CDN is much more likely to hold on to the HTML (which references old/existing static assets).

But a simple solution to avoid the problem altogether is probably to just make sure the static assets are uploaded first.

[2021-03-23 17:56] schalkneethling commented on #2900
Were you able to get set up successfully?

[2021-03-23 17:57] schalkneethling commented on #2889
Let's close it. We can open small issues for the little things we want to improve.

[2021-03-23 17:57] #2889 closed

[2021-03-23 19:27] escattone commented on #3315
@peterbe Great catch! You're right, we need to upload in that order.

[2021-03-23 19:51] tristantheb commented on #3297
I haven't tried to change the `ulimit` yet ^^'

But one thing I noticed mainly about my crashes today was that they all happened when I tried to search from an open US page. And I only had 2 tabs open (FR + US). When a launch the search en the MDN search bar (localhost:3000) => Error 500 + errno "-4066"

Regarding the Repo used, I use `mdn/yari` all the time, and errors are often triggered when I

[2021-03-23 21:14] peterbe commented on #3297
That's super helpful!
And I think I know why it is the way it is. When you request HTTP://localhost:5000/en-us/search-index.json it will trigger this:
https://github.com/mdn/yari/blob/0fcf5178e39791c36cd13087b6ab280feb96c540/server/index.js#L138
which does this: https://github.com/mdn/yari/blob/0fcf5178e39791c36cd13087b6ab280feb96c540/server/search-index.js#L29
which, if you look closely uses asyn

[2021-03-23 21:14] peterbe commented on #3297
@SphinxKnight @hamishwillee you're on Windows right?
Can you download all 3 gists ^ into your `yari` directory and run each one of them and report what happens?

[2021-03-23 23:37] #3315 closed

[2021-03-23 23:42] escattone commented on #3313
This macro is no longer used in any of our content repos, and has been removed via #3314.