[2022-03-02 20:36] AbhiGhorai opened #5438 "Issue with "Window.sessionStorage": The scroll of the page gets misaligned after the content tab reaches the end of its scroll at footer."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage

#### What information was incorrect, unhelpful, or incomplete? Information

Even with a slight scroll of the central container, the left one scrolls massively.

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/window/sessionstorage`
* MDN URL: https://developer.mozilla.org/en-US/d

[2022-03-02 20:37] HerminaC commented on #5369
Thanks @jonathantneal - thanks for the feedback - we'll implement the background as per your suggestion and we'll also center the letter. Should make them more easily identifiable.

[2022-03-02 20:50] DeciderWill commented on #5364
@initdc took 17 minutes to build on [Northflank ](https://northflank.com) example running at: [https://site--docs--mdn--nort-xjjq.code.run/en-US/](https://site--docs--mdn--nort-xjjq.code.run/en-US/) with `yari@0.6.69`

[2022-03-02 21:04] initdc commented on #5364
Try new a folder named `mdn`, put `yari content translated-content` in,
 setup .env,
run command in yari

[2022-03-02 21:21] initdc commented on #5364
In new design, font is more tiny, contrast ratio will falldown.
The font-size more small, the font-weight should bolder.

font-weight using 100-900 is a bad idea, because some of them doesn't make sense.

[2022-03-02 21:37] HerminaC commented on #5367
@caugner Maybe you can take this? First of, let's address the alert/messaging/notifications and use as guideline Mozilla's protocol design system: https://protocol.mozilla.org/patterns/molecules/notification-bar.html. Color palette considered both light and dark more, so it should do fine.
Once we have those established, we could go back to ensure the section colors are significantly different fro

[2022-03-02 21:39] hu0p opened #5428 "Bug: Interactive Editor doesn't honor theme after reload"
# Summary

If you visit any page with a Code Mirror REPL/Interactive Editor ([brought to you by Bob](https://github.com/mdn/bob/tree/main)) and toggle the theme to the opposite of your system's preferred color scheme the interactive editor's theme will update but this will not persist for subsequent visits.

## Where did you spot the bug?

Any page with an interactive editor will do e.g. [JavaScri

[2022-03-02 21:50] rniemela77 opened #5429 "BCD table shows "Full support" title for support with flags"
## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu#browser_compatibility

## What is the problem?

When hovering over a table cell with both the flag and (x) icons, the icons and tooltips do not match.

## Screenshots
![image](https://user-images.githubusercontent.com/84466763/156455322-5e0ccee8-9340-4cee-906f-e2743ca21487.png)

[2022-03-02 21:51] di3dev opened #5435 "Issue with "text-overflow": White text on white background section in dark mode"

[2022-03-02 22:27] #5359 closed

[2022-03-02 22:44] jjspace commented on #5377
I'll throw out that the previous design used 1.5 for most body text and applying that to the new design still looks pretty good.

[code]

[2022-03-02 22:57] jjspace commented on #5403
Same as #5353 and #5366 (which seems to have the most traction)

[2022-03-02 23:12] jjspace opened #5430 "Regression: Missing links are no longer highlighted properly"
# Summary

The theme color for links is currently overriding the error color for links that don't have a destination. This is doubly true for any links that also have a `code` block inside them.

## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/API/FileReader#event_handlers

The last three should have red text, or at least text of a different color showing that the link

[2022-03-02 23:59] pilchard commented on #5367
The truth is the 'colorways' applied to all links on the page makes the reading experience highly inconsistent between categories, and one often has to read across categories when referencing related APIs. I think it would be better to keep link colors consistent across all categories, especially inline links, and demarcate by 'colorway' in some neutral way that doesn't affect content.

[2022-03-03 00:24] superterrific opened #5431 "Bug: Output examples obscured by small scrolling region"
On the `<time>` and `<cite>` pages the output examples cannot be read without scrolling. In both cases the iframe height is set at 60px.

I did not check every HTML page but looked around enough to note that it seems to be an isolated issue. Several I looked at had no iframe height (`<em>`, `<mark>`, `<s>`, `<span>`) and others had larger fixed height (`<strong>` is set at 80px and was visible wit

[2022-03-03 00:49] HamzaAmar opened #5437 "Issue with "text-overflow": Contrast is too low"
I think the problem in not related to those pages But the text in the exemple is hard to see Contrast is too low

![image](https://user-images.githubusercontent.com/41877092/156474487-cf4fdd76-8c61-4202-b183-97b9c39621b5.png)
![image](https://user-images.githubusercontent.com/41877092/156474506-3088d6bc-94c3-4a67-8cfa-0fd61eafdceb.png)
![image](https://user-images.githubusercontent.com/41877092/15

[2022-03-03 01:29] wbamberg commented on #5431
Thanks for filing! These examples have the iframe height set in content, as an argument to the [`EmbedLiveSample`](https://github.com/mdn/yari/blob/main/kumascript/macros/EmbedLiveSample.ejs) macro that creates them. So it might be better (certainly easier, for these pages anyway) to treat this as a content issue rather than a platform one.

I *think* that might be a regression introduced a while

[2022-03-03 02:29] arctichotpot opened #5432 "Bug: Display error in dark mode"
# Summary

When I browse articles in dark mode, I found that the font color of some articles became the same as the background color, making it difficult to find

## Where did you spot the bug?

https://developer.mozilla.org/zh-CN/docs/Web/Performance/How_browsers_work#%E6%A6%82%E8%BF%B0

## What is the problem?

When I browse articles in dark mode, I found that the font color of some articles bec

[2022-03-03 02:31] danieldafoe opened #5440 "Browser compatibility table has invisible tab stops"

[2022-03-03 02:33] danieldafoe opened #5439 "Dark/light mode toggle switch has no focus indicator"
__Description__
When the dark/light mode toggle switch gets tab focus, there is no visible focus indicator.

__Proposed solution__
Apply either an `outline` or `box-shadow` to a parent element of the visually hidden `<input>` to indicate that the switch has focus and that any action taken will toggle its value.

[2022-03-03 02:47] danieldafoe opened #5441 "<th> in properties table for HTML elements is squished"
__Description__
There's an unnecessary amount of constrained space for the `<th>` within the table that comes after the first description of an HTML element. It's table that has information such as "Content categories" and "Permitted content". Current state screen shot is below.

<img width="500" alt="Content within the table headers of the table are forced to be squished" src="https://user-images

[2022-03-03 03:31] nhrones commented on #5393
I'm sorry to report that the issue was with Chrome.  For some reason chrome had the Zoom level for your URL set to %75.
After correcting that, I'm pleased with  the UX on your site.  I very much enjoy learning from MDN.

[2022-03-03 03:31] #5393 closed

[2022-03-03 03:59] cherrol opened #5436 "Bug: Embedded iframe styling issues in dark mode"
It is recommended to set the iframe background color to white to keep access in dark mode.

[2022-03-03 07:45] Thlnking opened #5434 "Content bug: index page search input's cursor."

[2022-03-03 08:17] schalkneethling commented on #5349
@fiji-flo Do we have a utility class for that or would it need to be an inline style attribute? I would definitely want to avoid adding inline `style` attributes in content as this has bitten us in the past.

[2022-03-03 08:20] schalkneethling commented on #5352
Thank you!

[2022-03-03 08:31] #5216 closed

[2022-03-03 08:44] fiji-flo commented on #5349
@schalkneethling My suggestion is to apply this to all tables.

[2022-03-03 09:34] schalkneethling commented on #5431
I ran into this as well yesterday. It looks like explicitly giving these a height of 100% solves the majority of the problems without causing any serious side effects. For some of these though, it still sometimes feels like it needs an explicit height in pixels.

@wbamberg Shall we try the 100% height fist and see how that works?

[2022-03-03 09:37] schalkneethling commented on #5428
Thank you for reporting @hu0p! This is on my list to address today.

[2022-03-03 09:45] schalkneethling commented on #5426
Had a look in Firefox and it seems to be using Menlo. I did have a look in Edge and there it is a bit more unclear but, it does seem like it uses whatever the default monospace font is on the system. Will have a closer look and see why this is happening. Thanks for reporting.

![Screenshot of Firefox devtools showing the font used to be Menlo](https://user-images.githubusercontent.com/10350960/156

[2022-03-03 09:48] schalkneethling commented on #4635
@teoli2003 Can you have a look and see if this is still a problem with the new design? Thanks!

[2022-03-03 09:50] caugner commented on #5429
Related: #5371

[2022-03-03 11:36] pleunv commented on #5366
Also baffled by the removal of the numbers on the default view. I think both the version numbers *and* the background colors are just too valuable to hide and/or remove. Quite frankly, even the browser icons add to the "glanceability". Less is definitely not more here.

[2022-03-03 11:38] teoli2003 commented on #4635
So the overlapping is not happening anymore (but I think it was before the redesign).
The comment about MDN not breaking at the dot, but before is still valid. I don't know if you wanted to change this with the redesign or not. Anyway, the original report (left sidebar overlapping text) is fixed.

![Capture d’écran 2022-03-03 à 12 34 16](https://user-images.githubusercontent.com/1466293/15655711

[2022-03-03 12:32] GeorgeDaris opened #5452 "Issue with "box-shadow": (short summary here please)"

[2022-03-03 12:48] joelanman opened #5445 "Bug: Links are not clearly differentiated"
# Summary

Links are not clearly differentiated from other elements (headings, body text). Sometimes they look identical to other elements (headings) sometimes they have a colour variation.

Sometimes links are obvious from their context (say a browse menu) but otherwise the most accessible way to differentiate links from surrounding elements is to use an underline.

[2022-03-03 12:54] mootari commented on #5349
The theme already defines a `div.table-scroll` element that is e.g. used to wrap the browser compatibility table. Why not alter the Markdown table output to automatically wrap tables this way?

[2022-03-03 13:25] sirajulm opened #5447 "Issue with "flex-grow": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
CSS Demo: flex-grow Editor section

#### What did you expect to see?
The editor need to respect the darkmode settings.
When dark mode is disabled by the toggle, and reloading the page, the page uses the updated settings, but the CSS

[2022-03-03 13:46] mootari commented on #5349
Applying `table-layout: fixed` would cause all columns to have equal width, which can result in very suboptimal table layouts.

[2022-03-03 13:56] caugner commented on #5436
Hi @cherrol, thank you for taking the time to report this. 👋

Would you mind verifying if #5428 covers the issue you're having?

[2022-03-03 13:57] HerminaC commented on #5366
Thanks everyone for the feedback - we'll address this before the end of the week. @schalkneethling - let's use this ticket to track the BCD work

[2022-03-03 14:01] caugner commented on #5434
Hi @Thlnking , thank you for taking the time to report this.

Just to check: Are you referring to the following search field?

![image](https://user-images.githubusercontent.com/495429/156579150-0903240c-fa9f-47dd-ba8b-26d40cb62405.png)

Before you focus the field, it permanently shows the underscore symbol (`_`). As soon as you enter the field, the underscore becomes the cursor and blinks. This i

[2022-03-03 14:03] caugner commented on #5445
Hi @joelanman, thank you for taking the time to report this issue. 👋

Would you be able to add some URLs and a screenshot to illustrate the issue you're reporting? That would be great. 🙂

[2022-03-03 14:16] tomayac opened #5448 "Bug: Breadcrumbs navigation doesn't have hover effect"
# Summary

Breadcrumbs navigation doesn't have hover effect, making it harder than necessary to navigate. A proposed fix is #5351.

[2022-03-03 14:16] caugner commented on #5447
Hi @sirajulm, thank you for taking the time to report this issue. 👋

We are aware of this issue and tracking it in #5354, so I will go ahead and close this issue in favor of that one. 🙂

[2022-03-03 14:16] #5447 closed

[2022-03-03 14:18] Rumyra commented on #4354
I think until we get around to addressing all the many API demo repos we have this won't creep up in priority. This is still very much on my bucket list, as we need to start prioritising these repos. However if it's in your way @schalkneethling I'm happy for you to close it and I can re-open it when I inevitably come across this issue again 👍

[2022-03-03 14:21] caugner commented on #5435
This is an issue specific to the interactive example for `text-overflow`, and we can avoid it by using a `border` instead of a `background-color` here:

https://github.com/mdn/interactive-examples/blob/b29b8a7abdc832c34e185f4f4f21a20d1bcb69a1/live-examples/css-examples/basic-user-interface/text-overflow.css#L8

I will go ahead and transfer this issue to the corresponding repository.

[2022-03-03 14:28] mootari commented on #5349
Here's a list of paths that should contain Markdown tables (grepped from the content repo):
<details>

- https://developer.mozilla.org/en-US/docs/glossary/alpn
- https://developer.mozilla.org/en-US/docs/glossary/effective_connection_type
- https://developer.mozilla.org/en-US/docs/glossary/entity
- https://developer.mozilla.org/en-US/docs/glossary/falsy
- https://developer.mozilla.org/en-US/docs/gl

[2022-03-03 14:40] sirajulm commented on #5447
Thank you @caugner for the update. 🙂
I'll make sure to check for the existing issues before creating new one's.
Btw new design look really great! ❤️

[2022-03-03 15:14] e3dio commented on #5364
The good thing is it is very easy to add your own styles, a couple changes made the site nice for me, I am using the styles here https://github.com/mdn/yari/issues/5389 with before and after screenshots. Basically just adjust the Header/paragraph styling, remove extra whitespace, remove 3rd column and use full screen width, add code contrast, scrollbar styling. I will update styles if I make more

[2022-03-03 15:58] caugner commented on #5437
This is an issue specific to the interactive example for `white-space`, and we might avoid it by using a `border` instead of a `background-color` here:

https://github.com/mdn/interactive-examples/blob/b29b8a7abdc832c34e185f4f4f21a20d1bcb69a1/live-examples/css-examples/text/white-space.css#L6

I will go ahead and transfer this issue to the corresponding repository.

[2022-03-03 16:21] OnkarRuikar commented on #5402
I think the output area, for all the interactive examples, shouldn't go in dark mode, it needs to stay as it is.
Otherwise we'll have to revisit all the examples to change element colors to suite dark mode!

[2022-03-03 16:22] wbamberg commented on #5431
Sounds great! Could you let me know when you have a PR and I'll try it out?

[2022-03-03 16:46] joelanman commented on #5445
its a problem on nearly every page, but as an example:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

some links are black, some are red, some are grey, none are underlined as far as I can tell. It's just really unclear what are links and what is just text

[2022-03-03 17:03] davidluhr commented on #5445
Some of the link text within a nested `<code>` element is rendering with `--text-secondary` (light gray) because of a direct descendant selector:

[code]

This selector doesn't apply to many of the links in `<dl>`/`<dt>`/ `<dd>` content due to the HTML structure:

[code]

The `<b>` element doesn't have any effect, so it could be removed. Alternatively, the CSS selector code simply be `a code { ...

[2022-03-03 17:21] scottdotjs commented on #5384
The JavaScript reference also has very shallow navigation. For example, the [docs
for `VisualViewport`](https://developer.mozilla.org/en-US/docs/Web/API/VisualViewport) have breadcrumb navigation of:

This bypasses the entire collection of Web APIs. I'd expect the breadcrumbs to look like this:

[2022-03-03 17:28] joelanman commented on #5445
to give one specific example:

<img width="395" alt="screenshot: <input> and <textarea> elements that currently have no value. input is grey, textarea is red" src="https://user-images.githubusercontent.com/1132904/156618747-6a081eb8-3e25-4f03-8608-02eb52e12088.png">

the grey 'input' and red 'textarea' do not contrast sufficiently to accessibly differentiate 'textarea' as a link

[2022-03-03 18:31] caugner commented on #5432
Hi @arctichotpot, thank you for taking the time to report this.

It appears that this is an issue within the `translated-content` repository here:

https://github.com/mdn/translated-content/blob/d5227564131854889f18abd8e8297751e7c5c9e5/files/zh-cn/web/performance/how_browsers_work/index.html#L131

Probably most of the inline CSS there is not needed, and the inline `color` in particular is causing

[2022-03-03 18:46] caugner commented on #5452
Hi @GeorgeDaris, thanks for taking the time to report this issue.

This looks like an `interactive-examples` issue, possibly caused by this line:

https://github.com/mdn/interactive-examples/blob/b29b8a7abdc832c34e185f4f4f21a20d1bcb69a1/live-examples/css-examples/backgrounds-and-borders/box-shadow.css#L2

I will go ahead and transfer the issue. :)

[2022-03-03 18:47] caugner opened #5454 "Known issues"
Hey, thanks for dropping by! 👋

If you're reading this, chances are you discovered [MDNs new design](https://hacks.mozilla.org/2022/03/a-new-year-a-new-mdn/) and you noticed something that doesn't look right or doesn't work as expected.

We want you to know that this feedback is extremely valuable to us in making the new MDN experience awesome. 👏

To avoid duplicate issue reports, we gathered a li

[2022-03-03 18:58] joelanman commented on #5439
I think this is a duplicate of https://github.com/mdn/yari/issues/5420

[2022-03-03 18:58] caugner commented on #5353
Closing this in favor of #5366, thanks for the heads-up, @Schweinepriester. 👍

[2022-03-03 18:58] #5353 closed

[2022-03-03 19:00] caugner commented on #5403
Closing this in favor of #5366, thanks! 👍

[2022-03-03 19:00] #5403 closed

[2022-03-03 19:05] caugner commented on #5438
Hi @AbhiGhorai, thanks for taking the time to report this. 👋

Unfortunately I'm unable to reproduce the issue, so this might have been resolved by #5413.

Could you please verify if the problem persists?
If you still have it, would you be able to provide a screen recording, or the exact steps for us to reproduce?

\Thanks again!

[2022-03-03 19:09] caugner commented on #5448
Hi @tomayac, thanks for taking the time to report this. 👋

I'm not sure if this is a regression compared to the old design, or a improvement.

If you could provide a URL and a screenshot to visualize the problem, that would help us a lot. 🙏

[2022-03-03 19:10] avidworks commented on #5383
Honestly I think even just changing the border color on code blocks from transparent to var(--border-primary) is a big improvement.

![image](https://user-images.githubusercontent.com/68607953/156635366-80d3749d-b9d6-4c27-a0b8-eaff0f180a55.png)

[2022-03-03 20:32] hugohabicht01 commented on #5364
+1
The old design wasn't really beautiful but it was really well-arranged, finding what I was looking for was easy. In the new design the font is waaaay too small, the contrast sucks, the font sucks, it's not well arranged. Who even thought that this was a good idea? I mean new design, sure I wouldn't mind, but who approved this horrendous design? Everything is worse than it was before

[2022-03-03 20:45] j-f1 commented on #5366
Another bit of feedback (let me know if this should be a new issue): features incorrectly say they’ve been “removed“ if a browser goes from partial to full support. Example: [`Notification.requestPermission`](https://developer.mozilla.org/en-US/docs/Web/API/Notification/requestPermission#browser_compatibility) in Safari
<img width="345" alt="Screenshot_2022-03-03 15 45 17" src="https://user-images

[2022-03-03 21:39] nhrones commented on #5393
I should have informed you when I discovered the cause.  Sorry for any
inconvenience!

On Thu, Mar 3, 2022 at 10:47 AM Claas Augner ***@***.***>
wrote:

[2022-03-03 23:49] dy opened #5455 "Issue with "if...else": (short summary here please)"

[2022-03-04 00:08] tamtnguyen93 opened #5475 "Make Browser Compatibility Clearer"
I recommend a change to the compatibility table to make it's clearer; especially, grid and flex layout.  For example, Align Items, the Start and End rows in the table with different data, because of that, it really confusing to tell which is for flex or grid layout.

[2022-03-04 01:08] debiru commented on #5366
I am one of the MDN contributors, and I am feeling inconvenienced.

I understand that this will be supported, but one thing I would like to add is that when making such a design change, I would like to see the ability to revert to the previous design on a per-user basis at the same time. This problem has already been a hindrance to my work as an MDN contributor.

[2022-03-04 02:06] cherrol commented on #5436
Looks like the same problem

[2022-03-04 03:09] danieldafoe commented on #5439
@joelanman Agreed. Seems this was already caught. Sorry about that!

[2022-03-04 06:21] spartanatreyu commented on #5367
Related to: https://github.com/mdn/yari/issues/5396

[2022-03-04 06:22] spartanatreyu commented on #5396
Related to https://github.com/mdn/yari/issues/5367

[2022-03-04 07:21] B2D1 opened #5457 "Bug: the TOC is overlapping page content"
# Summary

UI Problem, the TOC is overlapping page content

## Where did you spot the bug?

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Meta_programming#handlers_and_traps

## Environment

### Device

- [x] Desktop
- [ ] Mobile: ...
- [ ] Tablet: ...
- [ ] Other: ...

### Browser

- [x] Chrome: (98)
- [ ] Firefox: (what version?)
- [ ] Safari: (what version?)
- [ ] Other: (what

[2022-03-04 07:40] caugner commented on #5457
Hi @B2D1, thank you for taking the time to report this issue. 👋

We're aware of it and are tracking it in #5349.

[2022-03-04 07:40] #5457 closed

[2022-03-04 07:59] #5439 closed

[2022-03-04 08:00] schalkneethling commented on #5366
That sounds like a separate issue.

[2022-03-04 08:01] schalkneethling commented on #5366
I am really sorry to hear that @debiru. We are working on giving you a way to switch back to the table showing version numbers and have it stick across page loads and navigation.

[2022-03-04 08:02] schalkneethling commented on #5431
Will do.

[2022-03-04 08:06] schalkneethling commented on #4635
Thank you for getting back to me @teoli2003. There is a PR to address the new issue you mentioned. I will close this one as the specific issue mentioned here is no resolved.

[2022-03-04 08:06] #4635 closed

[2022-03-04 08:07] yume-chan commented on #5366
The old version looked like this:

![image](https://user-images.githubusercontent.com/1330321/156723692-8ad59274-b2e7-40a2-8c6d-836272f7f0ae.png)

They have same data, but the new view displays them in a confusing way.

"Removed in 15 and later", "Partial support", "Only supported the deprecated callback syntax." are notes of the old implementation in Safari 7~15, but now it's separated.

Secondly

[2022-03-04 08:38] zhaogongchengsi opened #5459 "adjustable bug / React Developer Tools"
Your site can use React Developer Tools may have security issues

[2022-03-04 08:56] tomayac commented on #5448
Here is an image of the proposed way the breadcrumbs could react to hovering:

![image](https://user-images.githubusercontent.com/145676/156731792-cf248a34-29bb-47e9-a6e8-50879989658f.png)

[2022-03-04 08:58] Thlnking commented on #5434
Yes, I just find the design a bit confusing。
But I think it should become the inline cursor after focusing on the search input field.

[2022-03-04 08:59] Thlnking commented on #5434
Thanks for you reply.

[2022-03-04 09:24] eymeen opened #5460 "Suggestion: Add browser icons to compatibility table"
# Summary

As a UI/UX designer, I see it's better to put browser icon on browser compatibility, and colors, green and red
because no one wants to read to see if the code works in the specific browser or not
![image](https://user-images.githubusercontent.com/75482336/156736216-3c81481e-4724-46a2-8484-6128ab40993a.png)

[2022-03-04 09:26] infacto opened #5461 "Issue with "Send feedback about MDN Web Docs": Store selected language."
Could you please store the selected language. I want to develop in english only. I don't want to change the language in my browser. It's only dev related stuff. The MDN page does not remember the selected language. And since the latest update of the website - btw. thanks for the dark mode. - there is no button to quickly change to english anymore. The page could simple store the value in localStor

[2022-03-04 09:27] schalkneethling commented on #5460
Hey at @eymeen. Thank you for your feedback, we addressed some of this in the pull request: https://github.com/mdn/yari/pull/5458

[2022-03-04 10:12] caugner commented on #5394
Hi @jtangelder, thank you for taking the time to report this. 👋

I will go ahead and close this in favor of #5445, which has some more context and a screenshot.

[2022-03-04 10:12] #5394 closed

[2022-03-04 10:21] schalkneethling opened #5462 "New BCD timeline view is possibly confusing to some users"
The old version looked like this:

![image](https://user-images.githubusercontent.com/1330321/156723692-8ad59274-b2e7-40a2-8c6d-836272f7f0ae.png)

They have same data, but the new view displays them in a confusing way.

"Removed in 15 and later", "Partial support", "Only supported the deprecated callback syntax." are notes of the old implementation in Safari 7~15, but now it's separated.

Secondly

[2022-03-04 10:33] blackSky1213 commented on #5273
done! now issue is fix.

[2022-03-04 10:33] #5273 closed

[2022-03-04 10:33] caugner commented on #5459
Hi @zhaogongchengsi, thank you for taking the time to report this issue. 👋

If I understand you correctly, you're saying that the "React Developer Tools can be used on https://developer.mozilla.org/ and that this poses a potential security issue. I just verified and couldn't reproduce this.

Could you please provide a URL and a screenshot to help us understand the problem? Thanks! 🙏

[2022-03-04 10:49] caugner commented on #5455
Analysis:

1. The interactive examples are embedded via the [EmbedInteractiveExample](https://github.com/mdn/yari/blob/dbaddf2c7578cde358dd974b35587d22b63d94dd/kumascript/macros/EmbedInteractiveExample.ejs#L30) macro.
2. Some articles provide a special CSS class to make the iframe bigger (e.g. [taller](https://github.com/mdn/content/search?q=EmbedInteractiveExample+taller)).
3. [In this case](http

[2022-03-04 10:52] dipikabh opened #5463 "Bug: Missing/inconsistent breadcrumbs"
# Summary

Missing and inconsistent breadcrumbs

## Where did you spot the bug?

- https://developer.mozilla.org/en-US/docs/Web
- https://developer.mozilla.org/en-US/docs/Learn
- https://developer.mozilla.org/en-US/docs/Learn/JavaScript
- https://developer.mozilla.org/en-US/docs/Web/Accessibility

## What is the problem?

There are three categories of problems:

1. Breadcrumbs after selecting thes

[2022-03-04 11:09] schalkneethling commented on #5273
Thank you for confirming.

[2022-03-04 11:10] caugner commented on #5448
URL: https://developer.mozilla.org/en-US/docs/Web/CSS/:host-context()

[2022-03-04 11:13] tomayac commented on #5448
(Any nested URL really that makes use of the breadcrumbs navigation.)

[2022-03-04 11:43] JodiWarren opened #5466 "UX: Scanability of detail pages"
# Summary

The `h2` headings in the new design are hard to visually identify when quickly scanning through the page. As these are commonly used reference pages, it's very useful to quickly scan to a specific section for a quick point of reference. At present, the `h2` and `h3` are quite similar:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/1337003/156756775-f3170782

[2022-03-04 11:46] intrnl opened #5467 "Bug: Lack of contrast for code blocks in light theme"
# Summary

There is a lack of background contrast between code block vs the rest of the articles.

## Where did you spot the bug?

Any articles involving code blocks
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog

## Environment

### Device

- [x] Desktop
- [x] Mobile: Poco M3
- [ ] Tablet: ...
- [ ] Other: ...

### Browser

- [x] Chrome: 101.0.4919.0 (Official Build) dev (64-bit

[2022-03-04 11:49] intrnl commented on #5467
Here's how it had looked before.

![image](https://user-images.githubusercontent.com/20620901/156758122-c702aa2c-4fdd-4362-bf0f-0634003709e9.png)

![image](https://user-images.githubusercontent.com/20620901/156758246-66b3d470-3740-44e2-9bc9-5dbb0826c7d9.png)

![image](https://user-images.githubusercontent.com/20620901/156758264-1d53962b-23a4-4f3c-af5b-8feab294733e.png)

[2022-03-04 11:54] #5367 closed

[2022-03-04 12:09] schalkneethling commented on #5431
@wbamberg I had a try with the `height` on a couple of pages and the result just is not consistent. I think it would be better to handle this via content updates to the height passed to the `EmbdedLiveSample` macro.

[2022-03-04 12:27] intrnl opened #5468 "Bug: Syntax highlighting is too dark in dark mode"
# Summary

Syntax highlighting in dark mode is too dark

## Where did you spot the bug?

Any articles involving code.
https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data

## Environment

### Device

- [x] Desktop
- [x] Mobile: Poco M3
- [ ] Tablet: ...
- [ ] Other: ...

### Browser

- [x] Chrome: 101.0.4919.0 (Official Build) dev (64-bit)
- [x] Firefox: 99.

[2022-03-04 13:23] caugner commented on #5396
@spartanatreyu Would you say this is an issue only with the new dark mode feature, or it also a problem with the "traditional" light mode?

[2022-03-04 13:28] ma1ted opened #5473 "Content bug: Interactive CSS demos not respecting dark mode preference on initial page load"
## What page(s) did you find the problem on?
All CSS property pages with interactive CSS demos

Examples -
https://developer.mozilla.org/en-US/docs/Web/CSS/border-spacing
https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/blur()

## Specific page section or heading?
The main title heading, right at the top of the page.

## What is the problem?
The color scheme (background colour, tex

[2022-03-04 13:31] Rumyra commented on #5456
Thanks @hamishwillee and no we're not - but I'll spend some time next week checking our 'other' repos 👍

[2022-03-04 13:36] TimonVS opened #5469 "Bug: constrast issue for `:active` state of code wrapped in anchor"
# Summary

There's a contrast issue with the `<code>` element contained within an `<a>` element, when the anchor is in `:active` state.

## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Uint8Array

## What is the problem?

The contrast is insufficient, and not consistent with normal text links.

## What did you expect to happen?

`<co

[2022-03-04 14:03] nikitakhutorni opened #5470 "Bug: Code box is set to light mode when clicking on "Reset" in dark mode"
# Summary

When dark mode is active and "Reset" in a code box is clicked, the theme of the code box is set to white.

## Where did you spot the bug?
Any page with a code box.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse

## What is the problem?
Box switches theme to light.

## What did you expect to happen?
Box theme has to stay in dark mode.

## Step

[2022-03-04 15:06] e3dio commented on #5466
I also addressed this issue in my example here https://github.com/mdn/yari/issues/5389 instead of a background color I used different font-size, font-weight, and also indentation to help differentiate the types of headers and sections

[2022-03-04 15:19] e3dio commented on #5467
Many agree on this, I added my example fix here https://github.com/mdn/yari/issues/5389 note that I have the `code` background color slightly darker than the `pre` block color because the `code` is usually smaller inline section and needs more contrast to see it, the larger `pre` blocks need less because it is larger area easier to see, using the same color it looks too dark

[code]

[2022-03-04 15:25] caugner commented on #5470
Hi @nikitakhutorni, thank you for taking the time to report this! 👋

We're aware of this issue and are already tracking this issue in #5428 (the "Reset" button is just reloading the example), so I will close this issue in favor of that one.

[2022-03-04 15:25] #5470 closed

[2022-03-04 15:53] caugner commented on #5431
@schalkneethling Have you considered whether reducing the vertical padding of the iframe would be a viable solution?

E.g. `padding: 0.2rem 1rem` instead of `padding: 1em`.

[2022-03-04 15:59] caugner commented on #5401
Hi @seeker-3, thank you for taking the time to report this, and kudos for providing a screen cast. Awesome!

I believe this was resolved by #5413 on Wednesday. Could you please verify if the problem persists?

[2022-03-04 16:35] #5354 closed

[2022-03-04 16:38] #5473 closed

[2022-03-04 16:50] #5436 closed

[2022-03-04 16:50] #5428 closed

[2022-03-04 16:55] hu0p commented on #5428
@schalkneethling So using DOMContentLoaded instead of readystatechange did the trick? That one had me scratching my head for a second. I tried that with localoverrides in DevTools but it was giving me a weird permission error (hence the privacy spiel). I should've just pulled down the repo.

Anyway, thanks for the fix!

[2022-03-04 17:58] schalkneethling commented on #5431
For some of these it will totally work, but for others, the problem persists unfortunately.

![Screenshot 2022-03-04 at 19 58 15](https://user-images.githubusercontent.com/10350960/156816751-b2bd1fca-e613-48d2-bfcd-f3f67a4f02d5.png)

[2022-03-04 18:03] schalkneethling commented on #5431
@caugner Also, to be honest, I have not found a lot of these that are problematic so, I reckon fixing them up in content is the right thing to do until we actually make these part of the content as opposed to an `iframe`. Thank you for the suggestion though.

[2022-03-04 18:34] dipikabh commented on #5463
Does SVG need to be added to the `References` menu? And also the breadcrumb be updated to `References > SVG`?

<img width="904" alt="Screenshot 2022-03-04 at 7 25 46 PM" src="https://user-images.githubusercontent.com/23019147/156821184-91d11158-5227-463b-b569-7eaee3a71b53.png">

<img width="395" alt="Screenshot 2022-03-04 at 7 31 37 PM" src="https://user-images.githubusercontent.com/23019147/15682

[2022-03-04 18:55] wbamberg opened #5476 "Bug: H2 "Overview" heading is not rendered"
This is part of https://github.com/mdn/content/issues/13505.

The page at https://developer.mozilla.org/en-US/docs/Web/API/Navigator/Online_and_offline_events has an "Overview" listed in the ToC, but when we click it nothing happens.

The document source does contain an H2#Overview: https://github.com/mdn/content/blob/d3953594fd4328553ed3e27dbb73c0c71671b08c/files/en-us/web/api/navigator/online_an

[2022-03-04 19:25] caugner commented on #5476
FWIW I can see the same issue with the old design: https://web.archive.org/web/20220215062310/https://developer.mozilla.org/en-US/docs/Web/API/Navigator/Online_and_offline_events#overview

[2022-03-04 19:33] wbamberg commented on #5476
Oh, thanks! I'm not seeing it when running `yarn start` from mdn/content, which made me think it was the redesign. But it's obviously not...

BTW now I see that code, I think this behavior is a hangover from the original conception of Yari, which was to render a structured-content version of MDN (in which among other things authors could signal sections of the content that didn't want rendered hea

[2022-03-04 19:38] caugner commented on #5476
Thanks for the context!

So it should like this:

![image](https://user-images.githubusercontent.com/495429/156830171-3269f618-ecbc-4ec7-987e-cc4dfc3fcd96.png)

I will see if I find an `short_description` as well.

[2022-03-04 19:39] fiji-flo commented on #5366
I've been digging into this. Bringing back the old BCD tables triggers a lot of issues. We do plan to solve this in the future and make BCD tables better then ever.

I personally agree 100% that the old design was better then the new one, but let's figure out how to move forward. I have a proposal for a small change as an interim fix. There's two things I focused on. Bring back the version numbers

[2022-03-04 19:45] #5349 closed

[2022-03-04 21:02] MillyCodes opened #5480 "Bug: Dark Mode Toggle is missing visible focus via keyboard only navigation."
# Summary
Dark mode toggle in the new header is missing visible focus via keyboard only navigation.

## Where did you spot the bug?
[https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog)

## What is the problem?
At first thought, dark mode switch in header was not accessible via keyboard only, not reachable or toggle-abl

[2022-03-04 21:29] brianpeiris opened #5481 "Bug: Keyboard shortcut to focus search does not work until search input is already expanded"
# Summary

You can type `/` to focus the search input, which would be nice, except the shortcut only works when the search input is already visible, in its expanded state.

## Where did you spot the bug?

This happens on any of the reference pages, like https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog

## What did you expect to happen?

It would be nice if the keyboard shortcut (`/

[2022-03-04 21:39] MichaelAllenWarner commented on #5366
@fiji-flo

I certainly think that that would be an improvement over the new version-less table.

That said, the old table _also_ had asterisks and clickable-arrowheads that would let you know if a given cell came with additional information that a developer might need to know about (e.g., about partial support). Without those indicators, the (diligent) developer _still_ will have to click on each

[2022-03-04 21:43] brianpeiris opened #5482 "Bug: Windows text selection shortcut does not work in search input"
# Summary

The suggested result functionality in the search input seems to interfere with Windows text selection keyboard shortcuts.

## Where did you spot the bug?

This happens with the search input on the MDN home page, and the search input on reference pages.

## What is the problem?

When you type some text into the search input, I would expect to be able to use typical Window text selection

[2022-03-04 22:17] nschulzke commented on #5366
@fiji-flo, something to keep in mind with this whole redesign project is that these docs are for a demographic for whom function is *infinitely* more important than form. Most of us use CLI apps on a regular basis. If you look at pretty much every popular developer tool, you'll see that information density in particular is *extremely* high as compared to more consumer-grade applications. With that

[2022-03-04 22:50] ElijahPepe opened #5483 "Bug: Pocket doesn't accurately pick up MDN"
# Summary

From Reddit: https://www.reddit.com/r/firefox/comments/t6f900/mdn_and_pocket_do_not_work_well_together/

When using Pocket with MDN, only `div`s with class names are displayed. `div`s that contain content should have a class name to combat this (i.e. ".content").

## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chainin

[2022-03-04 23:26] debiru commented on #5366
A change in design can lead to dissatisfaction from two perspectives.

One is that it is absolutely inconvenient. The other is that it is relatively inconvenient. The latter, in other words it is a matter of accustomedness. In the past, when the MacBook keyboard design was changed, there were also complaints. However, it is now accepted.

Is your dissatisfaction with this design change a matter of

[2022-03-04 23:59] Gitoffthelawn opened #5484 "Bug: Missing Mozilla articles + tags without redirects to current content"
# Summary

Quite a few of my bookmarks and blog links to MDN pages no longer work, and MDN isn't redirecting to current content on those topics.

## Where did you spot the bug?

https://developer.mozilla.org/docs/Mozilla/Command_Line_Options
https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code/Directory_structure
https://developer.mozilla.org/docs/Mozilla/Firefox/Performance_best

[2022-03-05 00:23] wbamberg opened #5485 "Bug: H2 and H3 headings are not visually distinct"
In the redesign, H2 and H3 headings look really similar. In the reference docs we rely heavily on H2 headings to communicate top-level structure (Description/Syntax/Specifications/Browser compatibility) to readers, and having it non-obvious whether something is an H2 or an H3 makes this difficult.

<img width="549" alt="Screen Shot 2022-03-04 at 4 23 19 PM" src="https://user-images.githubuserconte

[2022-03-05 07:19] schalkneethling commented on #5428
So, initially it had the wrong event listener syntax. Someone did `addEventListener("onreadystatechange")` which should actually be `addEventListener("readystatechange")`. I made that change but, when working on another issue I ran into this infinite recursion problem. Changing `addEventListener("readystatechange")` to `addEventListener("DOMContentLoaded")` fixed that.

[2022-03-05 07:32] seeker-3 commented on #5401
Seems to work now, awesome!

[2022-03-05 07:32] #5401 closed

[2022-03-05 08:36] caugner commented on #5484
As for the Mozilla documentation, this has been moved off MDN, see: https://github.com/mdn/content/issues/10928#issuecomment-985085551

As for the tags, I believe those have been removed as well, but I will check into that next week.

[2022-03-05 10:56] Gitoffthelawn commented on #5484
@caugner Thanks Claas.  Where did the Firefox team put all the documents that were removed from MDN?  Is there a time-efficient method to find all the previously bookmarked/linked references, such as the ones listed above?

[2022-03-05 12:49] pmentropy opened #5493 "UI/UX Issue: Search is now hidden behind a button"
MDN URL: https://developer.mozilla.org/en-US/docs/Web

#### What information was incorrect, unhelpful, or incomplete?

Search usability has been reduced: Search input is now hidden behind a button where it used to be at the top of the page.

Part of the usefulness of MDN docs before the UI change was being able to easily search at any time, now that is harder to do. Hiding core functionality behin

[2022-03-05 13:12] caugner commented on #5484
@Gitoffthelawn I don't know, but I did a quick DuckDuckGo search and seem to have found the first document here: https://wiki.mozilla.org/Firefox/CommandLineOptions

Feel free to post a mapping of URLs you found that correspond to the old ones you posted. This would help others in your position (I'm sure I have some of those bookmarked myself in Pocket).

Afaik we add redirects only if we see a si

[2022-03-05 14:58] lyn2389 opened #5486 "Bug: <TITLE OF PROBLEM>"
# Summary

A short description of the overall issue.

## Where did you spot the bug?

## What is the problem?

## What did you expect to happen?

## Steps to reproduce the issue

1. Open https://developer.mozilla.org/... in Chrome/Firefox/Safari
2. Click on "..."
3. Type in "..."
4. Press "..."
5. ...

## Environment

### Device

- [ ] Desktop
- [ ] Mobile: ...
- [ ] Tablet: ...
- [ ] Other: ...

[2022-03-05 15:00] Manueljlin opened #5487 "Bug: Line number in code snippets doesn't stay on the left side when scrolling"
# Summary

On long snippets of code like in [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter), if you scroll horizontally using a touchpad or (more noticeably) with a mouse wheel + shift, the small line number indicator gets detached from the left side

## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refere

[2022-03-05 16:31] e3dio commented on #5485
This is a common complaint, duplicate of https://github.com/mdn/yari/issues/5466

The old design was popular because it did a great job making the different sections stand out:

![image](https://user-images.githubusercontent.com/85405955/156891307-d7bcdd99-0eea-4367-8d73-7d824a885662.png)

The new design takes the opposite approach with header boldness, the smaller headers get more bold instead of

[2022-03-05 18:45] danieldafoe commented on #5440
Just thought I'd let you know I've got myself up and running locally with the yari and content repos and been playing around with a solution for this.

I'll push a branch and comment it here if that's something you'd be interested in. 🙂

[2022-03-05 19:13] Zannick commented on #5371
This makes the discovery of the support date unintuitive. I came here to report this and to suggest adding the date to the history/notes section so it is not **only** available on hover, especially as there's lots of space in that section.

![Screenshot 2022-03-05 111218](https://user-images.githubusercontent.com/518709/156896988-27ec4fab-e9d2-4a57-a19e-3a6178955f1d.jpg)

[2022-03-05 19:56] AaronDewes opened #5488 "Bug: Compatibility table anchor doesn't work"
# Summary

On multiple pages, a link to the compatibility table is included in the docs. When clicking it, it doesn't work.

## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/write#browser_compatibility

## What is the problem?

The compatibility table link in this box:
![image](https://user-images.githubusercontent.com/67546953/156892191-96f56fae-27e9-4cfa

[2022-03-05 20:37] jamesWalker55 opened #5489 "Bug: Cannot copy code from JavaScript demo boxes"
# Summary

When copying from a code demo box, the copied contents is mixed with line numbers.

[For this page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/create), after copying from the JavaScript demo box, the clipboard content is replaced with this:

[code]

## Where did you spot the bug?

All pages that have a JavaScript demo box, like [this one](htt

[2022-03-05 20:39] detj opened #5490 "Bug: Slash no longer opens the search"
Last year, MDN had introduced an autocomplete search on all of its pages. Peter had written a [delightful post](https://hacks.mozilla.org/2021/08/mdns-autocomplete-search/) on it. It allowed MDN users to quickly jump between several documentation pages really quickly. A rather cool thing about it was, throughout the website, users could focus the search input field by pressing the `/` key. This in

[2022-03-05 21:56] caugner opened #5491 "Bug: Live samples don't support dark mode"
# Summary

Previously, some **live samples** (which are not the same as **interactive examples**) were displayed with *dark* color on *dark* background in dark mode, rendering the samples unreadable.

@NiedziolkaMichal partly fixed this in https://github.com/mdn/translated-content/pull/4401, so that these live samples look the same in light and dark mode, i.e. dark color light background.

Now, we

[2022-03-05 22:32] caugner commented on #5489
I tried to reproduce the issue as follows:

1. Open https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/create
2. Focus the interactive example code editor.
3. Press `CTRL` + `A` to select the code.
4. Press `CTRL` + `C` to copy the selection.
5. Paste the clipboard in an editor like Visual Studio Code or gedit.

For me, the code was copied and pasted as expecte

[2022-03-05 22:34] #5486 closed

[2022-03-05 22:37] jamesWalker55 commented on #5489
It is consistently reproducable in my environment, here is a screen recording: https://streamable.com/ptf5o9

[2022-03-05 22:48] caugner commented on #5488
This seems to be a content issue, so I will move the issue there:
https://github.com/mdn/content/blob/23b78caba515d6c5d04d657708409f35804bed93/files/en-us/web/api/clipboard/write/index.md?plain=1#L28-L32

[2022-03-05 23:02] jamesWalker55 commented on #5489
I discovered that this is caused by a conflict with an extension that enables "absolute right click & copy", essentially disabling JavaScript callbacks for text copying.

I've excluded the extension for this URL: `https://interactive-examples.mdn.mozilla.net/*`, after that copying works as expected.

[2022-03-05 23:02] #5489 closed

[2022-03-05 23:05] caugner commented on #5455
FWIW We would already save some space by removing this line in bob:

https://github.com/mdn/bob/blame/28c31ec392efe83a030115515154c51095bac56f/editor/css/editor-libs/tabby.css#L4

## Before

![image](https://user-images.githubusercontent.com/495429/156902611-83b651c4-e34f-4784-9367-35cef8e2b083.png)

## After

![image](https://user-images.githubusercontent.com/495429/156902618-29ea3b90-33ba-4ca2-9

[2022-03-05 23:13] caugner commented on #5455
In contrast to other interactive examples, the WebAssembly examples have tabs, so maybe it would be sufficient to:

1. In `mdn/bob`, remove the tabs' `padding-top` (see my previous comment).
2. In `mdn/interactive-examples`, increase the height of the WebAssembly examples.

[2022-03-05 23:29] NiedziolkaMichal commented on #5491
I believe it should be handled just like interactive examples, by switching background, text color & font. When this is done, examples with unreadable text should be individually resolved.
This can be done by switching background from #fff to var(--background-secondary) in iframe scss, then switching text in live-sample.js by including editor-css.css in iframe and setting body class to either them

[2022-03-05 23:54] NiedziolkaMichal opened #5492 "Bug: Formal Syntax link doesn't match identifier"
# Summary
Formal Syntax links don't match actual identifiers of operators that they are refering to.

## Where did you spot the bug?
[margin](https://developer.mozilla.org/en-US/docs/Web/CSS/Margin#formal_syntax)

## What is the problem?
When I click on curly bracket, it refers me to [value definition syntax page](https://developer.mozilla.org/en-US/docs/Web/CSS/Value_definition_syntax#curly_brace

[2022-03-06 06:21] initdc commented on #5364
I've edited the github action to enable auto building the `English-Only` MDN documents.
check: https://github.com/initdc/yari/blob/style/old/.github/workflows/prod-build.yml
continuous deploy to @netlify. Very thankful to @netlify team member in community.
check: https://answers.netlify.com/t/deploy-6-8g-of-old-style-mdn-files-to-the-platform/52859

known issue:
  1. English only, bigger output wi

[2022-03-06 11:22] romainmenke opened #5494 "Browser compat table is very inaccessible :/"
Visible focus ring on `.bc-icon-cell` but this element isn't interactive.
The actual button to expand the panel doesn't have a visible focus ring.
This is confusing and at first I didn't even find how to expand the panel with keyboard navigation alone.

This grid can only be navigated with `tab` so the user might not have the visual context of the browser that corresponds with the current column.

[2022-03-06 12:01] Den0702 commented on #5357
![20220306_125533](https://user-images.githubusercontent.com/30319035/156922138-f6c2d476-3109-4635-a6fa-bbc345e0af3b.jpg)

[2022-03-06 17:29] initdc commented on #5364
I did it, check out http://mdn1.moz.one

Deploy on @vercel + Cloudflare

[2022-03-06 18:26] schalkneethling commented on #5476
I wonder if there is a plan to use this in the future. For example, we also want to set a `short_title` in the frontmatter instead of "faking" some of them as we currently do.

[2022-03-06 18:33] #5476 closed

[2022-03-06 23:20] brianpeiris commented on #5481
Looks like https://github.com/mdn/yari/pull/5479 might close this.

[2022-03-06 23:57] spartanatreyu commented on #5396
I'd say it was definitely a problem with both, but it was much more prevalent in dark mode.

A nice trick when testing light and dark mode accessibility I learned is that you should still be able to read and discern the different colors with your display on its lowest brightness setting.

I can see the updated colours in https://github.com/mdn/yari/pull/5449 and the dark mode blue is the only colo

[2022-03-07 00:45] hamishwillee commented on #5493
@schalkneethling FWIW I found this aspect of the design unintuitive too - I think because the light/dark mode button is so clearly a clickable element while search was not.

Might be nice if this was at least open by default if there is space for it to be open.

![image](https://user-images.githubusercontent.com/5368500/156949898-ed543ba6-539b-4920-87e8-d461ef395110.png)

[2022-03-07 00:51] e3dio commented on #5493
My CSS fix here https://github.com/mdn/yari/issues/5389 includes always open search input, I agree no point hiding it behind a tiny button, there is plenty of space

![image](https://user-images.githubusercontent.com/85405955/156950303-bca9d77e-ac15-449d-a7ad-8bfdd283ab6a.png)

[2022-03-07 01:15] twig-atl opened #5497 "Lack of Browser version in compatibility table is a major regression in usability"
# Summary

The old design quickly let us skim what browser version we can target when viewing an API.

## Where did you spot the bug?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Locale#browser_compatibility

## What is the problem?

I was stung by this when removing an API and missed that Safari 13 didn't have Intl.Locale because its collapsed by default

[2022-03-07 01:58] hamishwillee commented on #5456
@Rumyra Awesome. Can we just lock these to further input, and possibly archive them?

[2022-03-07 08:09] mt-webdev opened #5498 "Suggestion: Persist language selection"
# Summary

Unfortunately, the language selection is not being persisted, which means on every visit I have to reselect my wanted language (which is English)

## Where did you spot the bug?

Literally any site:
https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector

## What is the problem?

The site is currently not able to persist in the user/session settings.

## What did you exp

[2022-03-07 09:11] schalkneethling commented on #5498
I am guessing you mean when leaving MDN and later returning via a search result? It seems to work fine if you change the language and navigate around MDN. Thank you for reporting @mt-webdev

[2022-03-07 09:13] schalkneethling commented on #5497
thank you for reporting @twig-atl. The discussion and work related to this are being tracked in https://github.com/mdn/yari/issues/5366. I will therefore close this one as a duplicate of #5366

[2022-03-07 09:13] #5497 closed

[2022-03-07 13:27] mikez opened #5505 "Regression: adjust title's font weight and kerning to ease skimmability"
# Summary

Titles and subtitles can ease skimming documents. By decreasing the [font weight](https://en.wikipedia.org/wiki/Font#Weight) and increasing [letter spacing](https://en.wikipedia.org/wiki/Letter_spacing), skimming has become harder, and thus, the ease of finding information.

## Background

Developers spend a large amount of their day reading documents. As a beginning developer, this may

[2022-03-07 13:47] dopenguin opened #5516 "Content bug: The clip emoji to copy a code example can't properly be seen in dark mode"
## What page(s) did you find the problem on?

Any page including a code example. Examples:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map#syntax
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach#syntax
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes#syntax

## S

[2022-03-07 15:21] schalkneethling commented on #5480
Fixed by https://github.com/mdn/yari/pull/5506

[2022-03-07 15:22] schalkneethling commented on #5490
Part of https://github.com/mdn/yari/pull/5507

[2022-03-07 15:23] nielsbom opened #5514 "Content bug: search feature shows "escape sequences" on second page of search results"

[2022-03-07 15:24] schalkneethling commented on #5368
Part of https://github.com/mdn/yari/pull/5507

[2022-03-07 15:25] #5420 closed

[2022-03-07 15:25] schalkneethling commented on #5400
Part of https://github.com/mdn/yari/pull/5507

[2022-03-07 17:34] wbamberg commented on #5455
I'm not sure this is the ugly workaround. If the example actually has to be tall, using the taller editor and passing "taller" is what we want. We'd prefer for examples not to be tall (i.e. for them to fit in the standard size editor) but this isn't always possible.

It's preferable for the examples not to be tall (unless they have to be) because interactive examples are rude, occupying a bunch of

[2022-03-07 17:38] wbamberg opened #5511 "Callouts should not be centre-justified"
...it makes them harder to read.

For example: https://pr13476.content.dev.mdn.mozit.cloud/en-US/docs/Learn/JavaScript#modules

<img width="823" alt="Screen Shot 2022-03-07 at 9 39 27 AM" src="https://user-images.githubusercontent.com/432915/157088021-a56e97dd-7769-4c09-81f9-fcd9ea3db737.png">

[2022-03-07 18:04] e3dio commented on #5511
I like the text-align: center, you did not include screenshot of your proposed solution and its effect on other callouts

[2022-03-07 18:31] wbamberg commented on #5511
The proposed solution would be to have them left-justified, as we do for notes and warnings and, well, almost everything else.

Callouts aren't used very widely in MDN, really only in the Learn area and in the CSS layout cookbook. In most of these cases they're only a single line of text and look OK. But there's no particular reason a callout should have to be just one or two lines: they're really

[2022-03-07 18:32] schalkneethling opened #5512 "Change icon for theme switcher"
# Summary

Currently, the theme switcher icon is not super intuitive. The "standard" way these switchers are generally done is to show a sun when in light mode and a half-moon when in dark mode.

## Where did you spot the bug?

All pages

## What is the problem?

Icon changes when switching between modes.

[2022-03-07 18:41] e3dio commented on #5511
I did not say it was controversial, I tried multiple different ways to display it and I liked center best, I think a couple screenshots of different callouts with your preferred solution would help

[2022-03-07 21:55] nichniq opened #5518 "Bug: Wide non-Markdown tables overlap with right sidebar/TOC"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Values

<img width="1806" alt="Screen Shot 2022-03-07 at 1 51 25 PM" src="https://user-images.githubusercontent.com/8700924/157124200-844d6f88-2748-4aa6-b9bc-32a712d6c1b4.png">

#### What information was incorrect, unhelpful, or incomplete?

The "In this Article" side navigation is overlapping with several tables in th

[2022-03-07 22:04] jxu opened #5515 "Bug: Accessibility issue of font too thin"
# Summary

The recent redesign follows an unfortunate trend for some reason of making font thinner and less bold (also done by Microsoft docs and github), making it much harder to read and presenting an accessibility issue. Thinner is not better! MDN should follow its own past accessibility guidelines.

![image](https://user-images.githubusercontent.com/7989982/157125065-af45c3a6-595b-47d0-99b0-40

[2022-03-07 22:09] jxu commented on #5364
This is not just a design issue but an ACCESSIBILITY issue. My eyes are straining

[2022-03-07 23:01] e3dio commented on #5515
Your font looks different than mine. Looks like you are zoomed in 10% but also your font looks thinner. What system/browser are you on? Can you check dev tools and see what font it is using? This is mine at 10% zoom:

<hr>

![image](https://user-images.githubusercontent.com/85405955/157132517-5a16f880-58f6-4436-bb07-e6f5800f56d7.png)

[2022-03-07 23:45] wbamberg opened #5517 "First paragraph of notes and warnings is small"
For example: https://pr12930.content.dev.mdn.mozit.cloud/en-US/docs/Learn/JavaScript/Asynchronous/Promises#using_the_fetch_api

<img width="804" alt="Screen Shot 2022-03-07 at 3 44 16 PM" src="https://user-images.githubusercontent.com/432915/157137193-582bcda1-b487-473e-a0b8-a9bffa8e4f45.png">

I'm not sure why we are reducing the font size in notes and warnings at all (to my old eyes that text is

[2022-03-07 23:55] nicolesharp100 opened #5519 "Print preview in Chrome and Edge for Learn/CSS/Howto/Add_a_shadow claims printing this particular article will require 34240 pages"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Add_a_shadow

#### What information was incorrect, unhelpful, or incomplete?

Unable to print to PDF with Google Chrome for 64-bit Microsoft Windows 10.  Print preview cannot be generated.

Unable to print to PDF with Microsoft Edge for 64-bit Microsoft Windows 10.  Print preview cannot be generated.

Print preview for Microsoft Edg

[2022-03-08 00:07] jxu commented on #5515
I am on Windows 8.1, zoomed in 120% since the font is too small. I can get a screenshot from my Ubuntu system. Anyhow, it is still thinner than the previous version of MDN.

I should note the font contrast looks fine to me in dark mode.

[2022-03-08 00:11] e3dio commented on #5515
Your font looks thinner than normal, you should try running the Windows ClearType settings, I think it adjusts the thickness

[2022-03-08 00:12] jxu commented on #5515
Here is a comparison with the same zoom settings on the same browser

![image](https://user-images.githubusercontent.com/7989982/157139961-2c61d5cb-7a80-4874-a839-cde6f74b2ab6.png)

https://web.archive.org/web/20220201010110/https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog

![image](https://user-images.githubusercontent.com/7989982/157139915-644b02db-4a91-4fdf-8285-599612af80f0.png

[2022-03-08 01:44] wbamberg commented on #5455
Actually now I look at the new design, either the editor height has increased or the line height has decreased, so "medium" examples now get 16 lines, "short" examples get 11 lines, and "tall" examples get a massive 28 lines.

So it would probably be good to go back and look at the size-assignment of JS examples. For instance, almost all "tall" examples now fit into the "medium" editor, so making

[2022-03-08 01:52] zhaogongchengsi commented on #5459
![mdn](https://user-images.githubusercontent.com/64842422/157150137-bf6d2baa-5529-4164-b68b-bfedf150dd9e.png)
This is it

[2022-03-08 02:40] rebloor opened #5520 "Bug: browser compatibility tables not displaying"
# Summary

Some browser compatibility tables aren't displaying,

## Where did you spot the bug?

For example:
- https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/StorageArea
- https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/sidebarAction

## What is the problem?

Rather than displaying the table, there is the error "Unfortunately, this ta

[2022-03-08 02:58] sideshowbarker commented on #5519
I can reproduce this behavior in Chrome Canary in my macOS environment — 32,000+ pages to print

This seems like a bug in Blink that probably should be reported at https://bugs.chromium.org/p/chromium/issues/entry — but I guess there’s a possibility the @mdn/core-yari-dev team may have seen this happen before with some other page

[2022-03-08 04:50] galich opened #5521 "UI suggestion: Make header and breadcrumbs sticky"
# Summary

MDN header (with search button) and breadcrumbs (with language selector) can be scrolled away.

## Where did you spot the bug?

[](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment)

## What is the problem?

It is quite inconvenient to browse MDN page, then decide to find something else and not having search box anywhere on screen becau

[2022-03-08 05:04] e3dio commented on #5521
My CSS fix https://github.com/mdn/yari/issues/5389 keeps the headers sticky on top for the search and nav (breadcrumbs). It also makes the header shorter so it takes less space. If the header is larger it's more of an issue. I think I prefer having search/nav available without needing to scroll to top, some may prefer more content space

[2022-03-08 05:42] sharonytlau opened #5522 "UI suggestion: Make the font size of code in the notecard smaller"
# Summary

The `code` text in the notecard has the same font size as in the body. A smaller font size would make the notecard look better.

## Where did you spot the bug?

Here's an example screenshot from the [Object.prototype.toString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString#description) page:

![image](https://user-images.githubusercont

[2022-03-08 06:01] e3dio commented on #5522
See issue https://github.com/mdn/yari/issues/5517

The note text should probably be made larger to match the other text

[2022-03-08 06:24] AnilSeervi commented on #5414
Can I work on this?

[2022-03-08 06:30] sharonytlau commented on #5517
Hi @e3dio, thanks for linking me to this issue!

Replying to your suggestion "The note text should probably be made larger to match the other text", I think either a regular or smaller font size for notes work for me. I believe the original intent of the author was to make it smaller than the body text. But considering the issue brought by @wbamberg, we should consider making the font a little lar

[2022-03-08 08:27] cadars opened #5548 "[Design] Search input almost hidden"
The search input is now collapsed as a thin icon on the right, next to the color mode toggle, making the whole thing visually confusing.

<img width="1396" alt="image" src="https://user-images.githubusercontent.com/467112/157195233-50a2409b-4807-4201-b22a-eb79c2005cb1.png">

A collapsed search input could be acceptable on smaller screens, but in this case it’s hidden behind a hamburger menu:
<img

[2022-03-08 10:22] schalkneethling commented on #5414
Hey @AnilSeervi! Thanks so much for your interest. I already grabbed this one and neglected to assign it to myself. Perhaps there is another issue you are interested in working on?

[2022-03-08 10:30] schalkneethling commented on #5519
I agree with @sideshowbarker that we should report this to Blink using the link provided. I have not seen this before but, that is clearly a bug in the browser and not something particular too MDN. Thank you for letting us know @nicolesharp100. Would you file the issue at https://bugs.chromium.org/p/chromium/issues/entry

[2022-03-08 10:30] #5519 closed

[2022-03-08 11:40] schalkneethling commented on #5373
We actually do fallback to @prefers-color-scheme if you did not make an explicit choice using the selector. Saying that though, we might want to consider adding a clear option or, as you suggested here, adding the option to choose the syncing with the system.

[2022-03-08 11:46] arnav-kr opened #5527 "Feature suggestion: Add Short Summary Preview of links on hover"

[2022-03-08 11:56] AnilSeervi commented on #5414
I had an easier way of fixing this issue without changing the URL of the clipboard image.

[2022-03-08 11:58] schalkneethling commented on #5527
Thank you for the suggestion @arnav-kr! We have actually been toying with this idea. Will keep it on the radar.

[2022-03-08 12:03] arnav-kr commented on #5527
That's nice! 😀
hope we have the feature soon

[2022-03-08 12:05] schalkneethling opened #5528 "chore: remove hacks blog post banner"
Tomorrow, 9 March 2022, we should remove the current banner linking to the hacks blog post about the redesign.

[2022-03-08 12:34] mystiquewolf opened #5531 "Issue with "width": Browser compatibility table doesn't load"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/width

#### What information was incorrect, unhelpful, or incomplete?
Unfortunately, this table has encountered unhandled error and the content cannot be shown.

#### Specific section or headline?
Browser compatibility

#### What did you expect to see?
The compatibility table

#### Did you test this? If so, how?
Simply doesn't load.

<detai

[2022-03-08 12:43] schalkneethling commented on #5459
@zhaogongchengsi We will have a look at this but, the fact that you can edit something in the React developer tools does not affect anyone else but yourself so, this should not be a concern. I will do due diligence though just to be sure. Thank you for raising the issue with us.

[2022-03-08 12:47] schalkneethling commented on #5455
@wbamberg We will have to dig into this one. We no longer do the cross-frame communication we did before to adjust the height etc. of interactive-examples. I am sure this contributed to the problems people have been filing issues about.

Would it be at all possible for you to provide me with a couple of pages where this is problematic? I am happy to do it but, if you already know, it might help sp

[2022-03-08 12:48] schalkneethling commented on #5516
@dopenguin This is being addressed in https://github.com/mdn/yari/pull/5504

[2022-03-08 12:50] schalkneethling commented on #5514
@Guyzeroth Thoughts?

[2022-03-08 12:51] schalkneethling commented on #5531
Hey @mystiquewolf. The issue should be resolved. Can you please confirm? Thank you

[2022-03-08 13:09] schalkneethling commented on #5379
I can confirm that this is correct. The translation tool fails to translate the page.

![Screenshot showing Google translate failing to translate a page](https://user-images.githubusercontent.com/10350960/157244149-246ab700-6ad3-4b5b-8a81-32f899b53061.png)

[2022-03-08 13:12] schalkneethling commented on #5520
@rebloor The issue should be resolved. Can you please confirm? Thank you

[2022-03-08 13:14] schalkneethling commented on #5380
@mayank99 - Thank you for bringing up this issue. This is actually intentional to avoid a flicker when switching between modes on initial load. As this is not a bug I will go ahead and close this one. Thanks again.

[2022-03-08 13:14] #5380 closed

[2022-03-08 13:14] schalkneethling commented on #5380
Thank you!

[2022-03-08 13:16] caugner commented on #5518
The tables in that articles are HTML tables, not Markdown tables, and therefore they don't get wrapped in a scrollable-div:
https://github.com/mdn/content/blob/2e7338207d991d842be028df950640a504dd9b1d/files/en-us/web/api/keyboardevent/key/key_values/index.md?plain=1#L35

@sideshowbarker Do you know why those HTML tables haven't been converted to Markdown?

We have two possible solutions here:
1. W

[2022-03-08 13:30] mystiquewolf commented on #5531
Yes, seems to be fixed.

[2022-03-08 14:54] #5531 closed

[2022-03-08 15:31] e3dio opened #5533 "Bug: Greyed out theme switch on Light mode"
# Summary

Greyed out theme switch on Light mode

## Where did you spot the bug?

Every page

## What did you expect to happen?

Colored switch on Light mode

## Screenshots

![image](https://user-images.githubusercontent.com/85405955/157261907-de9e8a70-6d7f-4776-bccc-d2d3f58ce635.png)

This PR broke the light switch ? https://github.com/mdn/yari/pull/5506

[2022-03-08 15:41] caugner commented on #5456
This is a `translated-content` issue with inline style:
https://github.com/mdn/translated-content/blob/d5bb7deaa1df267437346f9c346a4658cc028987/files/pl/learn/css/first_steps/how_css_works/index.html#L20

In general, two styles may cause issues (both inline in `content` and `translated-content`, but as well in `interactive-examples`), and these are obviously `color` and `background-color`.

In thi

[2022-03-08 16:44] LGala opened #5534 "Issue with "Meta programming": links bar, in the top right of the page, overflows text in "Handler and Traps" table"
[WATCH HERE](https://user-images.githubusercontent.com/52467940/157284494-df3b0747-b9f8-4e2a-94dc-4e012f6b829f.mov)

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/javascript/guide/meta_programming`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Meta_programming
* GitHub URL: https://github.com/mdn/content/blob/main/files/en-us/web/java

[2022-03-08 17:03] #5516 closed

[2022-03-08 17:08] liyuhang1997 commented on #5520
@schalkneethling Hello. I found

[code]

[2022-03-08 17:13] #5512 closed

[2022-03-08 17:19] #5343 closed

[2022-03-08 17:28] #5517 closed

[2022-03-08 17:36] scottdotjs commented on #5441
Setting `white-space: nowrap;` on the row headers would fix this.

[2022-03-08 17:36] schalkneethling commented on #5520
@liyuhang1997 Ouch, that is a nasty one. We will take a look, thanks! I know there is a problem with using Google translate with the website so, it might be related.

[2022-03-08 17:38] caugner commented on #5466
Hi @JodiWarren, thank you for taking the time to report this UX issue! 👋

We have decided to improve the scanability by applying different `font-weight`s, without adding `background-color`.

I will go ahead and close this issue in favor of #5485, just because that issue has a comment with some helpful screenshots from the old design.

[2022-03-08 17:43] ddbeck commented on #5366
Hey folks, I just wanted to reiterate that we're appreciative that you've all come here to share your concerns and offer suggestions. It would be much harder to fix these issues without your help.

To provide some additional background, we redesigned the compat tables to address some known issues with the former design. We had evidence that some readers were misunderstanding the former tables (e.g

[2022-03-08 17:50] scottdotjs opened #5535 "Suggestion: Option to pin site navigation while scrolling"
It would be nice to have the option to pin the site header so that it remains visible while you scroll down the page. That would allow for faster access to navigation and search. Something like this button in Microsoft Office apps:

![image](https://user-images.githubusercontent.com/32358661/157296185-2ed812ed-bbe8-4c61-8af4-873d8f69cd24.png)

[2022-03-08 17:56] caugner commented on #5535
Hi @scottdotjs, thanks for taking the time to create this issue. 👋

We're already tracking this suggestion in #5521, and we will probably go by making the header sticky by default.

I will go ahead and close this issue in favor of the existing one.

[2022-03-08 17:56] #5535 closed

[2022-03-08 17:59] #5533 closed

[2022-03-08 18:06] scottdotjs commented on #5535
Ah cool, I had a scroll through the issues list but evidently missed that. Thanks @caugner!

[2022-03-08 18:08] e3dio commented on #5533
The point I am making is this is different than it was yesterday and for the 1st week of your new design rollout. That PR changed the design of the site, where there was once a nice bright colorful icon is now grey bland and boring, I wanted to confirm you actually intended to make that change as I see no issue or commentary anywhere about it

[2022-03-08 18:31] wbamberg commented on #5517
Thank you!

[2022-03-08 18:40] e3dio commented on #5533
To me this is a design regression and a bug, I added CSS to fix this and get some color back in the upper right corner: https://github.com/mdn/yari/issues/5389

[2022-03-08 21:12] caugner commented on #5533
We're continuously improving the MDN experience, and this includes design aspects like the theme switch.

After the redesign, we noticed that our new theme switch does not follow the [general consensus](https://duckduckgo.com/?q=material+design+switch&iax=images&ia=images) of how the off state should look.

We addressed this by changing the off state's background color accordingly, so that users s

[2022-03-08 21:21] caugner commented on #5534
Hi @LGala, thanks for reporting this issue! 👋

It appears that this is a duplicate of #5518.

tl;dr The article uses a non-markdown table, and we don't wrap that in a scrollable-div yet:
https://github.com/mdn/content/blob/34c1a233e65ded77861a1da7785c652d4d930da7/files/en-us/web/javascript/guide/meta_programming/index.md?plain=1#L55

[2022-03-08 21:21] #5534 closed

[2022-03-08 21:49] e3dio commented on #5389
Turning "on" the lights means the switch is in the on position. Turning "on" the dark makes less sense. Thanks for closing off discussion for people who use your site, real mature

[2022-03-08 21:51] caugner commented on #5389
Hi @e3dio, we appreciate your effort and would like to adopt some of the style changes that you're suggesting. 👍

For this to happen, however, we would require additional documentation for each change as to what problem it addresses and how it is solved.

If that sounds good to you, please write this documentation as if you would explain the problem and solution to a user who knows HTML and typogr

[2022-03-08 21:54] caugner commented on #5389
Feel free to open a PR that replaces our switch by a theme switch like the one used by Vue.js: https://vuejs.org/

[2022-03-08 23:41] rebloor opened #5876 "Homepage access to web extensions and others"
The previous iteration of the homepage for MDN web docs included links to most (not all) of the technologies included in the docs:
![image](https://user-images.githubusercontent.com/7352080/157344456-5f02f1db-7d3d-4e87-a1b7-5fa2c51e84b1.png)
The current home page no longer includes all these links, and there's no obvious way to find the documents. Search is not an entirely appropriate substitute.

[2022-03-08 23:49] DCzajkowski commented on #5364
@initdc What is your strategy for updating content on [mdn1.moz.one](http://mdn1.moz.one/)? Are you going to update it on a schedule automatically or are you planning to update content once every some time?

<details>
<summary><i>Custom bookmarket for easy design switching</i></summary>
<pre>javascript: ((() => { window.location.href = window.location.href.replace('https://developer.mozilla.org',

[2022-03-09 01:11] jxu commented on #5364
why have a mirror site when maintaining a custom CSS script enabled with ex. greasemonkey is all that is needed.

[2022-03-09 01:33] DCzajkowski commented on #5364
@jxu we are going off the topic here, but it's not just the css. There is quite a lot that changed, new bugs were introduced etc. For example my console is filled with JS errors, some shortcuts stopped working, there are weird behaviors around the new themes, some information is hidden with JS (like the browser support versions), some things are wrongly labeled, some things are missing labels — ju

[2022-03-09 01:35] jxu commented on #5364
I see. Makes sense and we can also use archive.org archives if the mirror is unavailable

[2022-03-09 02:00] rebloor commented on #5520
@schalkneethling at least for the pages I know about the original issue is fixed. I'm happy to close the issue unless you want it to keep it open for this other problem, but that looks so it should have a new issue anyway.

[2022-03-09 02:36] wbamberg commented on #5518
We talk about this in https://developer.mozilla.org/en-US/docs/MDN/Contribute/Markdown_in_MDN#tables , which includes links to the places this was discussed.

[2022-03-09 04:10] ledzepFan opened #5540 "[MDN docs] Search input doesn't activate with the forward slash key"
In the earlier version of MDN docs, pressing the forward-slash `/` would directly navigate to the top right search input. This appears to be broken with the new MDN docs. Here are the steps

- Open any MDN doc page e.g. [CssStyleRule](https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleRule)
- Scroll down to the end of the page.
- Press the forward slash key (`/`)
- Note that nothing happens

[2022-03-09 04:38] wbamberg commented on #5455
I'm not 100% sure what problem you're referring to, but if it's the fact that the editor now accommodates more lines, so we might want to reassess which examples should which editor size, then https://github.com/mdn/interactive-examples/issues/1530#issuecomment-595508978 is some kind of place to start.

For example, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/S

[2022-03-09 06:31] AnilSeervi commented on #5414
I've created #5536 as a fix for this issue, @schalkneethling can you have a look at it?

[2022-03-09 08:19] OnkarRuikar opened #5537 "Bug: Code section "Copied!" message is not visible for multiline code sections"
# Summary
Refer the page: https://developer.mozilla.org/en-US/docs/Web/API/Text/splitText#example
In the example part, there is a single line HTML code section and a multiline JavaScript code section.
![img](https://i.imgur.com/HXxckR1.png)

Issues:
1. The "Copied!" message doesn't appear for the second JavaScript code section.
2. In dark mode the message isn't in inverted colors.

## Where did yo

[2022-03-09 08:26] initdc commented on #5364
Contents auto build by github actions per 3 day, tell me if want it keep up-to-date per day.

I provide you better way to change theme
When you browsing https://mdn1.moz.one/en-US/docs/Web
you may thinking, ohmygod, this is a fucking mirror, I don't trust a fucking unknow source mirror.

You just need delete the `1`, it will be https://mdn.moz.one/en-US/docs/Web
You will be send to official websit

[2022-03-09 08:56] OnkarRuikar commented on #5389
We can have search box above Table of Contents(TOC)  and only breadcrumbs sticky.
![img](https://i.imgur.com/QRfhtzS.png)

[2022-03-09 09:00] caugner commented on #5414
Fixed via #5504.

[2022-03-09 09:00] #5414 closed

[2022-03-09 09:12] schalkneethling opened #5538 "Possible problem with some BCD cells with Chrome 100 and/or Google Translate"
@schalkneethling Hello. I found another problem that may cause the table to crash.

Use Google Chrome and translate page.

Then quickly click on some elements, there is a certain chance of causing a crash

I recorded a video

https://user-images.githubusercontent.com/16591303/157291103-2d3b3af1-9bf3-4836-abd8-e882b3da9f92.mp4

[code]

_Originally posted by @liyuhang1997 in https://github.com/mdn/y

[2022-03-09 09:16] schalkneethling commented on #5538
@liyuhang1997 I did a quick test using Chrome Canary(v101) and could not reproduce. So, you said that this is using the page with Google Translate, correct? Into which language are you translating? I switched to Chinese using our language switcher and everything still worked fine.

[2022-03-09 09:21] schalkneethling commented on #5455
I _think_, will have to do some digging, we also lost the classes for `small`, `medium`, and `taller` as part of the redesign so now, the editor is always the same height. This is probably what is causing these situations where there is a double scrollbar for example. Perhaps the solution is as simple as adding those CSS classes back.

To test that, I would need an example of each of these variati

[2022-03-09 10:15] caugner commented on #5528
Is this as simple as reverting 3e25747c01e9859c411de773ac45d7a03e842112?

[2022-03-09 10:26] caugner commented on #5537
Hi @OnkarRuikar, thanks for taking the time to report this! 👋

We have addressed the dark mode issue in #5504, and this fix will be deployed by tomorrow.

As for the missing "Copied!" message, I was able to reproduce the issue:

https://user-images.githubusercontent.com/495429/157423126-25555dde-5fca-476a-894b-01bd1c22bf39.mov

[2022-03-09 11:37] caugner commented on #5540
Hi @ledzepFan, thank you for taking the time to report this. 👋

We're tracking this issue in #5490 and plan to provide a fix by the end of the week. 🤞

[2022-03-09 11:37] #5540 closed

[2022-03-09 11:39] caugner commented on #5522
As @e3dio rightly mentioned, we have tracked this issue in #5517 and resolved it in #5530, which will be deployed soon.

The section above will then look like this:

![image](https://user-images.githubusercontent.com/495429/157434749-756d6ca9-937b-43ac-acbf-85754ae26238.png)

[2022-03-09 11:39] #5522 closed

[2022-03-09 11:44] schalkneethling commented on #5528
Technically, but I wanted to document and improve the way we do this slightly as part of turning it off.

[2022-03-09 11:56] schalkneethling opened #5546 "Research: Readability and accessibility of main content"
This issue is to track the work we are doing to rethink the typography and colors used for the main content of our documents across technologies and the learning area. The issue will be fleshed out as the work progresses.

## Related remarks

- [x] On the HTML pages in dark mode, links containing <code> almost look like red underlines for grammatical errors
- [x] Would it be possible to add icons

[2022-03-09 12:19] samandar-boymurodov opened #5547 "Suggestion: Highlight current article in the left sidebar"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website

I have been using MDN since the beginning of my programming journey. It has been a main online source for learning web technologies and looking up things that I forget. I am also so pleased to see the new design of the MDN website. It is stylish and feels nice.

Here I am not intendin

[2022-03-09 12:30] schalkneethling commented on #5383
Resolved by https://github.com/mdn/yari/issues/5370 - @avidworks we are still considering your suggestion as well.

[2022-03-09 12:30] #5383 closed

[2022-03-09 12:34] schalkneethling commented on #5402
This has been resolved in the `interactive-examples` repository - https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow

[2022-03-09 12:34] #5402 closed

[2022-03-09 12:35] #5404 closed

[2022-03-09 12:37] schalkneethling commented on #5405
@SandyClams this has been resolved. Can you please confirm? Thanks!

[2022-03-09 13:30] DCzajkowski commented on #5364
@init thank you for the answer. Every three days sounds reasonable.

Please keep it up for now until the new website is brought to a better state 🙂

[2022-03-09 14:54] #5528 closed

[2022-03-09 14:57] danielhjacobs opened #5551 "Bug: Media Source Extensions API crashes due to yari JavaScript - No browser compatability"
# Summary

https://developer.mozilla.org/en-US/docs/Web/API/Media_Source_Extensions_API infinitely logs in the console `t.releases is undefined`, and if you open the JavaScript console the page quickly crashes. No browser compatibility appears on that page, and a statement says: "[MediaSource interface](https://developer.mozilla.org/en-US/docs/Web/API/Media_Source_Extensions_API#mediasource_interf

[2022-03-09 15:09] danielhjacobs commented on #5551
So the error comes from https://github.com/mdn/yari/blob/b70f28c747be0cffc71f260a90480114a1221d15/client/src/document/ingredients/browser-compatibility-table/utils.ts#L57.

[2022-03-09 15:35] FitseTLT opened #5559 "Issue: (Links to MDN resources like code on github don't open on new tab)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Structuring_a_page_of_content

#### What information was incorrect, unhelpful, or incomplete?
Most Links to MDN or other resources don't open in new tab by default and I need to press Ctrl every time I click a link. This is not common and logical behaviour the reader shouldn't be distracted whenever they click on lin

[2022-03-09 15:40] sharonytlau commented on #5522
Hi @caugner, I've just noticed that the `:before` pseudo-element appears to be no longer aligned with the first line of the text after changing the font size.

I think the following rule in `./client/src/ui/molecules/notecards/index.scss` should be tweaked a little bit.
![image](https://user-images.githubusercontent.com/62269974/157474795-946c93fa-3708-4f1c-822d-23f36debc039.png)
Maybe `top: 1.3re

[2022-03-09 15:43] danielhjacobs commented on #5551
Weird: This does only affect the official MDN documentation.

This is the official documentation:
![Screenshot from 2022-03-09 10-43-04](https://user-images.githubusercontent.com/29206584/157476382-7e66d13f-04d3-4a3a-b493-013684aa0bdd.png)

This is localhost:
![Screenshot from 2022-03-09 10-43-45](https://user-images.githubusercontent.com/29206584/157476505-56d73fad-d0fe-4a35-b2cd-29f57dbece84.png

[2022-03-09 16:07] caugner commented on #5370
Hi @trinhccao, we have addressed this issue in #5425, and the fix will be deployed soon. 🎉

This will change the background-color as follows:

## Before

![image](https://user-images.githubusercontent.com/495429/157480922-ccdeb217-83dd-4393-8225-fddd5166e41d.png)

## After

![image](https://user-images.githubusercontent.com/495429/157480979-b689c776-0305-4a1a-831b-2b3185f2f91b.png)

[2022-03-09 16:46] caugner commented on #5522
@sharonytlau Would you like to open a PR with a before/after screenshot, referencing this issue and mentioning me? I will have a look then. 🙂

[2022-03-09 16:59] caugner commented on #5511
### 🍎 `text-align: center` (current)

![image](https://user-images.githubusercontent.com/495429/157491052-82615436-2335-4657-a6c4-a24955cb2f1d.png)

### 🍇  `text-align: justified`

![image](https://user-images.githubusercontent.com/495429/157490843-eadd6db5-61de-4968-9ad8-e3a80f0e40a4.png)

### 🍒 `text-align: left`

![image](https://user-images.githubusercontent.com/495429/157490950-a4c5954c-b18f-

[2022-03-09 17:14] e3dio commented on #5511
But I don't know, kind of a toss up to me justify vs center

![image](https://user-images.githubusercontent.com/85405955/157494794-477e5608-5200-44a8-8edf-d5c88fa9c7a7.png)

[2022-03-09 17:44] wbamberg commented on #5511
Here are a couple of reasonably plausible references on why left-aligned is better for readability, and centering (in particular) is bad:

https://accessibility.huit.harvard.edu/design-readability
https://uxmovement.com/content/why-you-should-never-center-align-paragraph-text/

[2022-03-09 17:51] e3dio commented on #5511
Yes but this is a Callout, the point is to stand out from the rest of the page which is all left-aligned. You would never center a large amount of text, only special cases. Only my humble opinion of course

[2022-03-09 18:08] wbamberg commented on #5511
The example in this bug is exactly a "large amount of text", or at least large enough for centering to be inappropriate. In the specification for callouts there is no suggestion that they could not include multiple paragraphs of text, and in fact it says that they can: https://developer.mozilla.org/en-US/docs/MDN/Contribute/Markdown_in_MDN#notes_warnings_and_callouts . They are seen as the same so

[2022-03-09 18:28] caugner commented on #5498
@mt-webdev Would it be a solution for you to make English the preferred language in your Chrome settings?

And if not, why not?

<img width="978" alt="image" src="https://user-images.githubusercontent.com/495429/157506921-43a101e0-71c2-4af5-812a-f14be5b17c43.png">

[2022-03-09 18:37] e3dio commented on #5511
When I look at the page with Callouts, the #1 thing that draws my eyes to the Callout and makes it interesting and unique is the `text-align: center`. It's one of the few or only places on the site that is center. If you take that away it does not look interesting, just another text block. Is it really that difficult to read that it is causing issues?

[2022-03-09 18:37] liyuhang1997 commented on #5538
Regardless of translation into any language.

I've found that crashes often occur when switching between "No Support" checkmarks and other checkmarks on the same line.

[2022-03-09 18:52] #5371 closed

[2022-03-09 18:56] wbamberg commented on #5511
I don't think I have anything useful to add to the issue at this point, so I'm out.

[2022-03-09 19:01] wbamberg commented on #5455
The editor in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/slice seems taller than the editor in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substring . What am I missing?

[2022-03-09 19:43] caugner commented on #5551
Thanks for all the additional details!

I believe this is a duplicate of #5531 and has already been fixed in #5529, which has meanwhile been deployed.

And indeed, if I check https://developer.mozilla.org/en-US/docs/Web/API/Media_Source_Extensions_API#browser_compatibility, everything looks fine.

[2022-03-09 19:43] #5551 closed

[2022-03-09 19:49] caugner commented on #5492
The corresponding section in mdn/content is calling the `CSSSyntax` here:
https://github.com/mdn/content/blob/3443b2d1b3b50d56ec0b309586488a9059e3c4ee/files/en-us/web/css/margin/index.md?plain=1#L85-L87

So I believe this is an issue within that macro, which is defined here: https://github.com/mdn/yari/blob/main/kumascript/macros/CSSSyntax.ejs

[2022-03-09 19:59] caugner commented on #5492
The problem here is that we have link from the `CSSSyntax` macro to https://developer.mozilla.org/en-US/docs/Web/CSS/Value_definition_syntax#curly_braces, but the targeted heading has a trailing `_` in its id:

[code]

I agree with the OP's proposed solution to update the header id generation to remove trailing space. The new id of that header would then  be `curly_braces` instead of `curly_braces

[2022-03-09 20:01] mt-webdev commented on #5498
@schalkneethling yes, that's also a scenario where it's changing my preferences. (visit via Search-Engines)
@caugner I would like to keep my browser settings as is.

[2022-03-09 20:09] caugner commented on #5498
@mt-webdev Just to understand: Can you elaborate on why you like to keep your browser preferring a different language than you actually prefer? Are there other sites that would then appear in English, although you prefer them in the language currently preferred by your browser?

(Note that, at least in Firefox, you can have the browser UI in one language and still prefer a different language.)

[2022-03-09 20:38] caugner commented on #5511
@e3dio Based on your behavior here and in other issues before, I would like to kindly remind you of our [Community Participation Guidelines](https://www.mozilla.org/en-US/about/governance/policies/participation/), and ask you to make sure that your behavior is in accordance with those guidelines at all times. 🙏 Thanks!

@wbamberg I fully agree that those callouts shouldn't be centered, so just to

[2022-03-09 22:25] wbamberg commented on #5511
Yes, sorry. I meant `text-align: left` but `text-align: justified` would probably be OK too?

It might be worth thinking about whether callouts and notes and warnings should all the the same kind of alignment. I think of callouts as being like notes and warnings, except they don't have a predefined "heading" (i.e. **Note:** or **Warning:**), so you can supply your own.

So in the case above I want

[2022-03-10 09:01] schalkneethling commented on #5498
I believe the problem is that the reader wants to have MDN Web Docs always in English. If they change the setting in Chrome, then I believe all(or most) websites they visit will honour the selection and always show English content.

[2022-03-10 09:02] schalkneethling commented on #5538
Than you for the additional information @liyuhang1997

[2022-03-10 09:03] schalkneethling commented on #5455
You are correct but, was the class names always like `.interactive.is-taller-height` and `.interactive.is-js-height`. Perhaps that is part of the problem here?

[2022-03-10 09:06] schalkneethling commented on #5498
Yes, that is a problem we have not solved for. With that said, there is a rather old pull request that does address this:
https://github.com/mdn/yari/pull/3968

We would need to pick this up again and get it merged but, we will have to speak with the product owner to set priority for when we do this work.

[2022-03-10 09:37] schalkneethling commented on #5559
@FitseTLT, thank you for opening the discussion around this. We have talked about this before internally. We made an intentional choice not to open links in a new tab/window for two reasons:

1. We leave it up to the reader to decide what they prefer on a case-by-case basis instead of forcing a choice on them. As you mentioned, holding down ctrl or cmd will open links in a new tab
2. It is not a g

[2022-03-10 09:48] FitseTLT commented on #5559
May be the second reason makes sense. Otherwise, in most websites, especially this kind of tutorial websites, have links which open in new tab by default so that the page you were reading is kept intact to get back to it. Nevertheless, I was just reporting a discomfort I am experiencing as a user, what matters is your decision after all.

[2022-03-10 10:00] schalkneethling opened #5561 "Add in document title to interactive examples"
@dipikabh started a [discussion thread here](https://github.com/mdn/yari/discussions/5453) after having talked through it internally. The idea has great support across the content team. I have also mentioned this to @HerminaC and the decision was made to go ahead with the plan.

This means we will add an `h2` heading to the output of the interactive example macro. This would then have the addition

[2022-03-10 10:21] #5518 closed

[2022-03-10 11:11] bartenra commented on #5364
Found a broken link

https://mdn1.moz.one/en-US/docs/Web/Reference

Otherwise really helpful!

[2022-03-10 13:42] caugner commented on #5445
Hi @joelanman, we have addressed this issue in #5416 by underlining links in the content again (see screenshots on the referenced PR), and this is expected to land before the weekend.

Before:
![image](https://user-images.githubusercontent.com/495429/157673759-43cef226-4526-4032-9c90-710bf0346335.png)

After:
![image](https://user-images.githubusercontent.com/495429/157673841-929c5cf3-5b49-4fb3-98

[2022-03-10 13:42] #5445 closed

[2022-03-10 14:07] e3dio commented on #5445
This is a very big change to the site. I think it could have used more feedback before merging and deploying. If you look at other reference websites with large amounts of links, they don't underline all the links because the underline makes the text harder to read and distracts from the text. You can easily tell it's a link because all links are colored. I think these things should get more feedb

[2022-03-10 14:35] caugner commented on #5445
@e3dio Links will be underlined again, like they used to be in the old design, see: https://web.archive.org/web/20220222121729/https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

And I would like to emphasize that we have made this decision after careful consideration of feedback that we got from the community.

[2022-03-10 14:51] joelanman commented on #5445
@caugner thank you!

[2022-03-10 15:08] caugner commented on #5511
@wbamberg Makes sense to me! Since notes and warnings currently have `text-align: left`, I think that would make most sense for callouts as well, to be consistent.

Note that smaller callouts like [here](https://developer.mozilla.org/en-US/docs/Web/CSS#key_resources) would look as follows:

![image](https://user-images.githubusercontent.com/495429/157690149-3f8baaf9-ffe4-4fa6-819a-a91e9520721d.png

[2022-03-10 15:21] e3dio commented on #5445
Related to this issue: the links within code are colored differently than the links outside code. These code links are hard to read, they are a greyish version of the normal links. I would propose to color those the same color as normal links as pictured below. I am posting in this issue for relevance, you could move to different issue if anyone agrees with this:

# Before

![chrome_40e1bqKa7K](ht

[2022-03-10 15:27] caugner commented on #5491
I just noticed that this also prominently affects the [`<input>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#input_types) article.

Unfortunately, this is a known issue, but for which we don't have a trivial fix at hand:
https://github.com/mdn/yari/blob/c5c85597fd04f2ab1547b51d7f109c909269e151/client/src/document/index.scss#L312-L327

(Original discussion happened in an [inter

[2022-03-10 15:31] e3dio opened #5568 "Links within code are greyish and hard to read, different than normal links"
Links within code are colored differently than links outside code. These code links are hard to read, they are a greyish version of the normal links, and being inside an already grey code block hurts readability. Also it's not clear what the different color signifies, why it's a different color than normal link, if it's actually a link, etc. I propose to color those the same color as normal links

[2022-03-10 15:49] caugner commented on #5568
Please use our [bug report issue template](https://github.com/mdn/yari/issues/new?assignees=&labels=bug&template=bug-report.yml). Thanks!

[2022-03-10 15:49] #5568 closed

[2022-03-10 15:56] e3dio opened #5569 "Links within code are greyish and hard to read, different than normal links"
### Summary

Links inside code are colored different than other links. These are a little harder to read due to being greyish color inside an already grey code block, but mostly it just does not look like a link because the color is off. It would look better and make more sense to have those the same color text as other links

 Ref: https://github.com/mdn/yari/issues/5445

### URL

https://develop

[2022-03-10 16:22] OnkarRuikar opened #5571 "Non-standard/Deprecated icons are not consistent"
### Summary

The entire page and compatibility section uses different icons for the same 'Non-standard' badge.
Same is the case with `Deprecated` badge.
Same icon 👎🏻 has different meanings, in different sections on the same page.

### URL

https://developer.mozilla.org/en-US/docs/Web/API/Window#browser_compatibility
https://developer.mozilla.org/en-US/docs/Web/API/Window#methods

### Reproduction

[2022-03-10 16:29] caugner commented on #5569
Thanks for reporting this, and I will check internally, whether this is intended.

FWIW The difference is even more noticeable in dark mode:
![image](https://user-images.githubusercontent.com/495429/157709110-c2c1d25f-aaec-4620-b2e2-81e7b3fa5ce5.png)

[2022-03-10 16:39] caugner commented on #4939
@zidingz Thanks for raising this issue. I will discuss adding a `SECURITY.md` like [this one](https://github.com/mozilla/fxa/blob/main/SECURITY.md) internally, and hope to address this soon. 🤞

@Leommjr For the time being, and provided that the security issue you found is still valid, could you please email `security@mozilla.com` with the details? That would be great. 👍

Sorry again for taking so

[2022-03-10 16:59] wbamberg commented on #5511
Thanks @caugner ! To me left-aligned looks totally fine here (but I am no designer).

[2022-03-10 17:29] caugner commented on #5569
Hm, I think it doesn't affect all sections.

For example, in the [CSS basics](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics), the links seem to have the same color.

However, the [HTTP section is affected](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies), for instance.

@schalkneethling Do you have this on the radar, by any chance?

[2022-03-10 17:38] JamieSlome commented on #4939
@caugner - thanks for your response and no apologies needed! 👍

If it is any easier for you, you can view the report directly here:
https://huntr.dev/bounties/95e0023a-136c-4207-8d20-943371fee269/

It is private and only accessible to maintainers with repository write permissions.

[2022-03-10 19:46] danielhjacobs commented on #5475
Seems to be a duplicate of https://github.com/mdn/yari/issues/3321? That issue has been marked idle though.

[2022-03-10 20:11] e3dio commented on #5569
Also note: there is an inconsistency between inline code links and "pre" block code links. The block code links are normal color links, the inline are the different grey color. If you make the inline code links the same as normal links they would match with block links

[2022-03-10 20:45] 0kku opened #5574 "Issue with "Key Values": table of contents overlaps with page content"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Values

#### What information was incorrect, unhelpful, or incomplete?
Information itself was OK. The page layout is just completely broken. There's a lot of empty space on the left, whereas the page requires sideways scrolling to see the full tables, and the tables overlap with the table of contents. If it helps, I vi

[2022-03-10 21:50] SandyClams commented on #5405
@schalkneethling it no longer reverts to light mode in any of my testing. The applet does, however, flash to light mode for a brief instant on some occasions when pressing the Reset button in dark mode. Not sure if that issue would even be addressable or not

[2022-03-11 01:59] hamishwillee commented on #5547
This is a duplicate of https://github.com/mdn/yari/issues/5395 . I absolutely agree. @caugner IMO this is a horrific bug rather than a feature request - because the old version (almost) did it right.

[2022-03-11 02:15] e3dio commented on #5547
I also have issue with this, I am not able to navigate around when clicking side links, as it collapses the sidebar section and loses context, should be a priority

[2022-03-11 04:05] nicolesharp100 commented on #5519
A better solution would be to make all of the "learn" modules from "developer.mozilla.org/docs/learn" available on the Mozilla website as printable PDF ebooks (e.g. "Getting Started with the Web", "Learn HTML", "Learn CSS", "Learn JavaScript", "Learn Forms", etc.).  Making the entire site available as downloadable/printable PDF files ensures offline access for people with limited or unreliable int

[2022-03-11 05:55] initdc commented on #5364
It has redirect to /en-US/docs/Web, since 2021-06-13

https://web.archive.org/web/20210609000000*/https://developer.mozilla.org/en-US/docs/Web/Reference

source file doesn't exsit, https://github.com/mdn/content/blob/main/files/en-us/web/reference/index.html

[2022-03-11 09:48] caugner commented on #5574
Hi @0kku, thanks for taking the time to report this, and kudos for the screen recording! 👋

As for the empty space on the left, I believe we are missing a sidebar (menu) there.
(@dipikabh Is the missing sidebar [here](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Values) part of the issue you're currently investigating/working on?)

As for the overlap, we have addressed th

[2022-03-11 09:51] caugner commented on #5569
@e3dio Would you have links + screenshots where we can see inline code links and "pre" blocks together? (I don't believe the screenshots above capture this.)

[2022-03-11 10:05] caugner commented on #5384
@fleabitdev Breadcrumbs are directly generated from the article slug (`Web/CSS/grid-template-rows`).

Adding _additional intermediate_ breadcrumbs that are not reflected in the article slug is a feature request and would most likely require changes to the [content front-matter](https://github.com/mdn/content#fundamental-concepts), because yari cannot know what CSS properties belong to which module

[2022-03-11 10:12] dipikabh commented on #5574
Yes, it is related but not the same issue I guess. But it is definitely the same macro that generates the sidebar - the macro call seems to be missing on this page.

[2022-03-11 10:47] caugner commented on #5574
The sidebar is also missing on the [KeyboardEvent: code values](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code/code_values) article:

[code]

Probably the reason for this is that the these two articles are "just" lists related to the `KeyboardEvent`, but they don't _directly_ document a part of the API (and are therefore not linked in [KeyboardEvent](https://developer.mozilla.

[2022-03-11 11:12] caugner commented on #5511
@schalkneethling Any objection against making those callouts `text-align: left`?

[2022-03-11 11:13] caugner commented on #5574
Actually, I will go ahead and close this issue, because the overlap is addressed, and collapsing the sidebar is tracked in #5421.

[2022-03-11 11:13] #5574 closed

[2022-03-11 12:45] schalkneethling commented on #5491
Thanks for the ping, I will have a look at these. This is, as you mentioned, part of a larger problem that needs solving. Perhaps there is a way to at least improve this now while we resolve the larger problem.

[2022-03-11 12:49] schalkneethling commented on #5405
Thanks you for confirming. I will open a separate issue for the flash.

[2022-03-11 12:50] schalkneethling opened #5579 "Interactive examples flash to light mode for a brief instant on some occasions when pressing the Reset button in dark mode"
@schalkneethling it no longer reverts to light mode in any of my testing. The applet does, however, flash to light mode for a brief instant on some occasions when pressing the Reset button in dark mode. Not sure if that issue would even be addressable or not

_Originally posted by @SandyClams in https://github.com/mdn/yari/issues/5405#issuecomment-1064537138_

[2022-03-11 12:51] #5405 closed

[2022-03-11 12:52] schalkneethling commented on #5519
Thank you for your suggestion @nicolesharp100!

[2022-03-11 12:54] schalkneethling commented on #5569
It is now 😄  https://github.com/mdn/yari/issues/5546 - Thanks for the ping.

[2022-03-11 12:55] schalkneethling commented on #5511
Nope, makes sense to me.

[2022-03-11 12:57] ddbeck commented on #5475
Yes, this is a duplicate of #3321. Closing in favor of that issue, since it's still valid. I'll leave a comment making that explicit, however. Thank you!

[2022-03-11 12:57] #5475 closed

[2022-03-11 12:57] ddbeck commented on #3321
This is still an issue with the redesigned tables. See https://github.com/mdn/yari/issues/5475 for a screenshot.

[2022-03-11 13:16] ddbeck commented on #5492
@caugner No objections. That sounds reasonable to me.

[2022-03-11 13:43] e3dio commented on #5547
Some pages expand the sidebar to the correct section, some pages leave the sidebar all collapsed, and some pages expand more than 1 section, here are examples of those:

All collapsed, most of the CSS reference pages: https://developer.mozilla.org/en-US/docs/Web/CSS/Compositing_and_Blending
Expanded to correct section, most of the CSS/JS guide pages: https://developer.mozilla.org/en-US/docs/Learn/

[2022-03-11 14:19] caugner commented on #5406
We believe this problem would be fixed by #5521.

[2022-03-11 14:36] caugner commented on #4271
Hi @odragora, could you check whether this is still a problem after [our redesign](https://hacks.mozilla.org/2022/03/a-new-year-a-new-mdn/)? I feel like it could have been resolved.

[2022-03-11 14:39] caugner commented on #5571
I have checked internally, and we would like to

- use the _trash_ symbol consistently for _deprecated_ features, and
- restore the icons for the non-standard / deprecated headers (notecards).

@OnkarRuikar Would you be interested in submitting one or two PRs for this?

[2022-03-11 14:53] pmario commented on #5389
I did test the "breadcrumb container" with `position: sticky;`, which is **almost ok** see:

The **Validation** heading is hidden behind the container

![grafik](https://user-images.githubusercontent.com/374655/157890959-82984911-1733-4426-b4d8-e134a9fba214.png)

**expected is **

![grafik](https://user-images.githubusercontent.com/374655/157891231-5a5febf1-df15-4877-ab1d-5b86e687c921.png)

[2022-03-11 15:11] e3dio commented on #5389
There is special CSS trick to fix that for sticky headers, check my CSS for rule:
[code]
This depends on the height of the combined headers which in my CSS includes the main header and is shorter than normal

[2022-03-11 15:12] caugner commented on #4939
After raising this issue today, I can share that there is an ongoing effort of joining the [Mozilla Security Bug Bounty Program](https://www.mozilla.org/en-US/security/bug-bounty/), but I don't have any more details at this point of time.

[2022-03-11 15:25] caugner commented on #5395
Duplicate of #5547

[2022-03-11 15:25] #5395 closed

[2022-03-11 20:43] alaa-yahia opened #5584 "`Asynchronous JavaScript overview` page is not accessible from sidebar"
### Summary

`Asynchronous JavaScript overview` page accessible only when clicking on `previous` button

### URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous

### Reproduction steps

1.Go to [Introducing asynchronous JavaScript](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Introducing)
2. Click on `Overview: Asynchronous`
3. It will open a page

[2022-03-11 23:18] thecodercoder opened #5587 "Bug: Layout breaks if browser base font size increased"
### Summary

The website content is too cramped in the columns if the browser base font size is increased, for example to 36 (as shown in screencast). I believe this is due to the media queries being set in pixels. This means that when the base font size is changed, all the text scales up with it, but the breakpoints still occur at the same pixel width, causing the cramped text.

I think a good so

[2022-03-11 23:38] e3dio commented on #5587
You are close to the right idea, the issue is slightly different: this issue is caused by the right column width being specified in "rem" units and issue is fixed by specifying in "px". If you increase the browser font-size currently it increases the right-column width larger in proportion to the left and middle columns which causes your issue. If you use "px" it keeps the columns in the same prop

[2022-03-11 23:39] #5584 closed

[2022-03-12 00:01] danieldafoe commented on #5440
@caugner Not sure if you saw my comment above. Never know if I should tag someone.

If you don't want any help, that's cool too.

[2022-03-12 03:00] e3dio commented on #5587
That fixes the main issue of bad column proportions, your idea is to change the column layout depending on browser font-size with "rem" media queries instead of "px". After making the above fix I tried changing the 3 column media query from 1200px to the equivalent 75rem, here are the before and after for Chrome's largest font-size at 1200px and 1800px screen widths to try each breakpoint:

# Befo

[2022-03-12 03:37] wbamberg opened #5588 "Flask icon for experimental features looks strange"
We use a flask icon to represent experimental features. In the redesign the sides of the flask are almost invisible, making it not at all obvious what it's supposed to be:

<img width="145" alt="Screen Shot 2022-03-11 at 7 36 19 PM" src="https://user-images.githubusercontent.com/432915/158002240-f7446f02-5f53-4cc9-83da-43906959afee.png">

<img width="150" alt="Screen Shot 2022-03-11 at 7 36 27 PM"

[2022-03-12 03:52] thecodercoder commented on #5587
One quick note-- my proposal was to use "em" units, not "rem" units, for the media queries. There are some Safari bugs with using "rem" units while zooming the browser that you can read more about in Zell Liew's article, linked in my initial issue. But yes, your second set of screenshots are what I was thinking would be a more optimized design.

[2022-03-12 04:12] e3dio commented on #5587
6 years later and Safari still has the same bugs? Safari is always causing trouble, it's the new Internet Explorer :P

[2022-03-12 07:07] caugner commented on #5440
@danieldafoe I will look into this next week, but any input (ideas, solutions) is very much welcome.

[2022-03-12 10:32] BlackWind001 opened #5589 "Code example component not rendering properly"
### Summary

I was browsing the MDN docs when I noticed this issue with code examples.

### URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset

### Reproduction steps

1. Go to the above mentioned URL on Firefox version 97.0,2
2.
3.

### Expected behavior

The expected behaviour is that the code component loads properly and is able to switch between HTML, CSS and JS snippets.

[2022-03-12 10:33] BlackWind001 commented on #5589
Note. This issue is not reliably reproducible.

[2022-03-12 12:09] scottdotjs commented on #5384
@caugner Great, thanks!

[2022-03-12 12:09] OnkarRuikar commented on #5537
@caugner  done!
Let me know if I've followed the procedure correctly.

[2022-03-12 13:55] alattalatta opened #5591 "Opening flaws toolbar toolbar prevents browser history navigation"
### Summary

Opening (or closing, if that matters) the flaws toolbar blocks history back and next navigation.

### URL

Local development (CRUD mode), any document with at least one flaw.

### Reproduction steps

1. Navigate to a document.
2. Navigate to another document.
3. Open the flaws toolbar.
4. Click browser's back button multiple times.

### Expected behavior

It should first close the fla

[2022-03-12 14:41] OnkarRuikar commented on #5511
If we have concerned about callouts not standing out. Then we can increase shadow. Currently set shadows are almost non existent.  Light theme has 0.05 alpha and Dark has 0.2 alpha!

If we set shadow `0px 0px 1rem #2b2a33` then callouts standout like this:
1. small
![small](https://i.imgur.com/0LALBwh.png)

2. big
![big](https://i.imgur.com/wwPbH4y.png)

[2022-03-12 14:52] e3dio commented on #5587
FYI my original post was incorrect, you don't need to change the 3rd column units, just the media query, I deleted and updated post

[2022-03-12 17:22] alattalatta opened #5594 "Translated documents' "Last modified" displays incorrect date"
### Summary

It doesn't match their source's last commit date.

I suspect the reason for it is, [there's no `depth: 0` for fetching mdn/translated-content in deployment workflows](https://github.com/mdn/yari/blob/c487610a89f2cf2cdc1884fe88586e9afe4318ac/.github/workflows/prod-build.yml#L77). Unlike it, [mdn/content is fetched without a limit](https://github.com/mdn/yari/blob/c487610a89f2cf2cdc1884

[2022-03-13 01:59] e3dio opened #5596 "Header and Nav links use "16px" instead of "1rem", look small with large browser font-size"
### Summary

Nav links use "16px" instead of "1rem", look small with large browser font-size

### URL

https://developer.mozilla.org/en-US/docs/Learn/CSS

### Reproduction steps

Increase the browser font-size

### Expected behavior

All font size on site increases

### Actual behavior

All font size increase except the Header and Breadcrumb nav links

### Device

Desktop

### Browser

Chrome

###

[2022-03-13 02:20] Knight-of-Crows opened #5597 "Dark mode doesn't affect wrapper background color."

[2022-03-13 11:59] caugner commented on #5597
Hi @Knight-of-Crows, thanks for taking the time to report this! 👋

This is an `interactive-examples` bug, caused by this line:

https://github.com/mdn/interactive-examples/blob/f19a58b35775a07f60910c093c74d97ba7424553/live-examples/css-examples/basic-box-model/clear.css#L2

I will go ahead and move it to the right repository.

[2022-03-13 21:17] caugner commented on #5596
Thanks for reporting @e3dio. 👍

If you already have a fix, feel free to open a PR.

[2022-03-13 21:29] caugner commented on #5589
Quickly tried on Firefox for Android and couldn't reproduce it.

Some questions:

1. Did this also occur with other articles / interactive examples?
1. Were you able to reproduce it with another browser?
1. How often / regular did/does the problem appear approximately?
1. When it happens again, could you please check the browser's JavaScript console for any errors or warnings?

Thanks!

[2022-03-13 22:57] growf opened #5600 "Search appears inconsistent with case"
Searching for `measuretext` brings back a single result; searching for `measureText` brings back 3,071 results.

[2022-03-13 23:01] growf commented on #5600
![Screenshot 2022-03-13 at 23 01 12](https://user-images.githubusercontent.com/6474244/158082995-5525c631-8cf6-4bd6-86d6-8698a9ad17df.png)
![Uploading Screenshot 2022-03-13 at 23.01.16.png…]()

[2022-03-14 08:17] schalkneethling commented on #5511
Thank you for the suggestion @OnkarRuikar. I feel like that will be too distracting for readers. The focus should be the content. I believe the problem we aim to address here is that text centred like in examples are just hard to read for most people.

[2022-03-14 09:19] caugner commented on #5588
@wbamberg I don't know why, but I don't see those icons on https://developer.mozilla.org/en-US/docs/Web/API/Selection anymore. 😮

Would you have other articles in mind that have those?

[2022-03-14 09:22] caugner commented on #5600
Hi @growf, thank you for taking the time to report this.

Please make sure to use the [Bug report template](https://github.com/mdn/yari/issues/new?assignees=&labels=bug&template=bug-report.yml) so that we have all information at hand to properly triage the issue.

Thanks again!

[2022-03-14 09:22] #5600 closed

[2022-03-14 09:23] caugner commented on #5596
@schalkneethling Before I add the `accepting PR` label, I wanted to quickly check whether you are already working on this?

[2022-03-14 09:28] caugner commented on #5589
I couldn't reproduce this on Firefox 98.0 (Desktop) either, so chances are this was just a networking issue or similar.

For now, I will close this issue, but don't hesitate to comment here (mentioning me), if the problem appears again, and make sure to answer the questions above then.

Thanks!

[2022-03-14 09:28] #5589 closed

[2022-03-14 09:34] BlackWind001 commented on #5589
Got it.
For additional information, I did check the console logs but did not have any distinct errors.
This issue persisted after a couple of refresh clicks though.
It did get fixed when I revisited the page.

It might have been a network issue, yes.
Will comment here if I notice this again.

Thanks.

[2022-03-14 10:09] #5511 closed

[2022-03-14 10:17] caugner commented on #5547
I checked [this archived article](https://web.archive.org/web/20220118132915/https://developer.mozilla.org/en-US/docs/Learn/Forms/Sending_forms_through_JavaScript), but don't see any difference in how the current article is highlighted.

@hamishwillee Did I miss anything?

[2022-03-14 10:38] #5537 closed

[2022-03-14 10:40] apapsch commented on #5498
English content is usually more up-to-date, hence the preference of English on MDN, whereas the browser is set to prefer another language. In the old MDN, the problem was solved eventually by making it easy to access the English page (a link in the top right corner, "Go to English page") and IIRC the choice was saved.

[2022-03-14 11:16] hamishwillee commented on #5547
Not on that page. See
https://web.archive.org/web/20220202130703mp_/https://developer.mozilla.org/en-US/docs/Learn/Forms/How_to_structure_a_web_form

Down the bottom, see the own link to this page - not how it is bold, black (and supposed to be unclickable). At least at some point the recently the sidebar link was like this too. Certainly that was the intent.

![image](https://user-images.githubus

[2022-03-14 13:36] caugner commented on #5588
I found this issue in the main content here: https://developer.mozilla.org/en-US/docs/Web/API/Window#methods

[2022-03-14 13:38] caugner commented on #5588
And here's how the looked before ([source](https://web.archive.org/web/20220222220616/https://developer.mozilla.org/en-US/docs/Web/API/Window#methods)):

![image](https://user-images.githubusercontent.com/495429/158183387-04c21380-7a33-4bd3-b72a-cf3f1e85b0c9.png)

Since the redesign:

![image](https://user-images.githubusercontent.com/495429/158183546-c8c0aad4-eb73-47e4-82b9-eb1fe32c054e.png)

[2022-03-14 14:40] caugner commented on #5379
FWIW Translation via https://translate.google.com/ works: https://developer-mozilla-org.translate.goog/en-US/docs/Web/JavaScript?_x_tr_sl=en&_x_tr_tl=de&_x_tr_hl=en&_x_tr_pto=wapp

When I try to translate with Chrome, I'm getting the following error in the JavaScript console:

Background: https://rapidsec.com/csp-packages/google_translate

So it looks like to support Google Translate via Chrome, w

[2022-03-14 15:46] danielhjacobs commented on #5588
The pre-redesign icons were probably the dinocons: https://github.com/mdn/mdn-dinocons/blob/main/general/flask.svg

Now it's the icon asset: https://github.com/mdn/yari/blob/main/client/src/assets/icons/experimental.svg

[2022-03-14 17:31] schalkneethling commented on #5561
## Try it

![Screenshot 2022-03-14 at 19 29 28](https://user-images.githubusercontent.com/10350960/158228012-44e420dc-ecdb-4f49-982f-bb7ff088b1b4.png)

## Interactive example

![Screenshot 2022-03-14 at 19 30 04](https://user-images.githubusercontent.com/10350960/158228078-7930b1d0-7ec7-4e6e-8c73-d9c1e5f93aaa.png)

## Interactive demo

![Screenshot 2022-03-14 at 19 30 24](https://user-images.githu

[2022-03-14 18:58] caugner commented on #5379
CSP was not the cause, because other articles translated without any issues.

Here are two observations I made:

- If I remove the left sidebar or the main content from the DOM, translation works fine.
- If I open the Chrome DevTools and reload the article, translation works fine.

This all sounds more like a Chrome bug than a MDN bug, and **in fact** there is a very recent issue in Chrome's bug t

[2022-03-14 19:09] caugner commented on #5379
If I visit `chrome://translate-internals/#detection-logs` in Chrome, I see a `6: Translation Error`, but no details:

<img width="901" alt="image" src="https://user-images.githubusercontent.com/495429/158242905-1ee072de-5bf2-4dca-803b-09713534a247.png">

According to the Detection Logs tabs, Chrome extracts the article's content properly:

<img width="1435" alt="Screenshot 2022-03-14 at 20 08 16"

[2022-03-14 20:06] caugner opened #5613 "BCD table shows "Full support" title for Unknown support"
### Summary

When hovering over a feature/browser combination where the support is unknown (i.e. question mark), the title says "Full support".

### URL

https://developer.mozilla.org/en-US/docs/Web/API/Window#browser_compatibility

### Reproduction steps

1. Go to https://developer.mozilla.org/en-US/docs/Web/API/Window#browser_compatibility
2. Hover over the last cell in row `DOMContentLoaded eve

[2022-03-14 20:38] danielhjacobs commented on #5571
1-3 fixed by #5583

[2022-03-14 20:49] caugner commented on #5429
After changing the title of this issue and looking at the [pre-redesign version of this article](https://web.archive.org/web/20210301171223/https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu), I realized that the bug might actually be that we see the "No support" icon, when in fact the feature _is_ fully supported, just behind a feature flag.

[2022-03-14 21:07] bvandersloot-mozilla opened #5615 "Localized links for redirected docs do not show fallback links"
### Summary

Often, MDN links are given to users with their localization in the path from Firefox UI. Some UI links require redirects to work. If a user encounters a localized URL to a link that requires a redirect, the helpful Fallback link does not show up because the fallback checker looks at `$path/index.json` and the re-director does not know about the `/index.json` stuff.

### URL

https://d

[2022-03-14 21:09] bvandersloot-mozilla commented on #5615
One potential fix is removing[ these lines from the fallback checker](https://github.com/mdn/yari/blob/dbaddf2c7578cde358dd974b35587d22b63d94dd/client/src/page-not-found/fallback-link.tsx#L55-L61), but I don't know the knock on effects of that

[2022-03-15 00:06] pilchard commented on #5428
Is this considered fixed? I'm still experiencing inconsistent theme adherance.

## What is the problem?

If the theme is toggled to light mode on a page without an interactive editor, subsequently navigating to a page with an interactive editor will display the editor in dark mode.

## Steps to reproduce the issue

1. With dark mode toggle on navigate to a page without an Interactive Editor (https

[2022-03-15 05:05] hamishwillee commented on #5547
@caugner PS you closed my original post as a duplicate, but it is not (at least in total). That additionally requested that the sidebar  scroll the current page in the sidebar into visibility if it was not visible on page open.

1.  Highlighting the sidebar is essential and so is opening the sidebar so that the current page is not hidden in a collapsed section.
2. Collapsing the rest of the sideba

[2022-03-15 08:51] caugner commented on #5571
Unless I'm mistaken, 3 is not yet fixed, but will be fixed by #5611.

PS: I have inserted a task list for the 5 problems mentioned in the OP.

[2022-03-15 08:59] caugner commented on #5547
This actually seems to work on some articles:

[2022-03-15 09:01] schalkneethling opened #5619 "Interactive examples are sometimes still not adhering to the current theme"
Is this considered fixed? I'm still experiencing inconsistent theme adherance.

## What is the problem?

If the theme is toggled to light mode on a page without an interactive editor, subsequently navigating to a page with an interactive editor will display the editor in dark mode.

## Steps to reproduce the issue

1. With dark mode toggle on navigate to a page without an Interactive Editor (https

[2022-03-15 09:02] schalkneethling commented on #5619
Thank you, @pilchard. I have seen there are some edge cases where this is still problematic.

[2022-03-15 09:14] schalkneethling commented on #5379
It indeed works just fine on https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach for example. I was also able to translate the above page from English to Arabic

![Screenshot of MDN forEach page in Arabic](https://user-images.githubusercontent.com/10350960/158344867-5dd2568b-976f-43f0-bcbc-49fdd517c2b4.png)

[2022-03-15 09:15] schalkneethling commented on #5379
@Hill-98 Can you perhaps update your version of Chrome to 99 and see if the problem persists? I tested with Version 99.0.4844.51

[2022-03-15 09:21] schalkneethling commented on #5498
I do not believe the choice was saved but yes, the quick link to English was useful to some folks. We can solve this problem by taking the following pull request across the finish line, so to speak. https://github.com/mdn/yari/pull/3968

We will need to prioritise the work though. @HerminaC and @fiji-flo Thoughts?

[2022-03-15 09:23] schalkneethling commented on #5596
Indeed, this will be part of https://github.com/mdn/yari/issues/5546 - Thank you for checking.

[2022-03-15 09:29] Hill-98 commented on #5379
The problem is still there, but I found the element causing the problem.
If I remove this element, the translation works fine: `#sidebar-quicklinks > div > div:nth-child(3) > ol > li:nth-child(12) > details > ol > li:nth-child(2) > a`

Likewise, the translation feature does not work at [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/constructor](https://developer.mozilla

[2022-03-15 09:30] mt-webdev commented on #5498
I never noticed this "issue" while using the previous MDN version. I am not sure why I end up on (in my case) german MDN sometimes... :-/

[2022-03-15 09:34] caugner opened #5620 "Mobile: Header appears behind Breadcrumbs when deep-linked"
### Summary

When opening a deep-link to an article section on mobile, the header is behind the breadcrumb.

### URL

https://developer.mozilla.org/en-US/docs/Web/API/Window/console#examples

### Reproduction steps

1. Open the url on a mobile device.

### Expected behavior

The "Examples" header should be visible.

### Actual behavior

The "Examples" header is behind the breadcrumbs.

### Device

[2022-03-15 10:08] caugner commented on #5379
@Hill-98 Would you mind filing an issue for this in the Chromium issue tracker? That would be great!

[2022-03-15 10:26] dipikabh commented on #5096
Update: Just discussed this issue with Schalk and he suggested he can guide me while I fix this issue. We plan to work on it on March 18.

[2022-03-15 10:50] stof commented on #5462
I totally agree with this. when looking at the timeline for the support of `<dialog>` in Firefox, it looks like the `full support` message relates to the range between versions 53 and 98, while this is the range where `Support behind a flag` applies: ![image](https://user-images.githubusercontent.com/439401/158360598-5795ee03-bab2-4655-82c1-07557e5287d6.png)

The timeline should be rendered in a l

[2022-03-15 11:00] caugner commented on #5520
We're tracking the Translate-related issue in #5538, so I will go ahead and close this issue.

[2022-03-15 11:00] #5520 closed

[2022-03-15 11:29] caugner commented on #5620
[This solution](https://github.com/mdn/yari/issues/5389#issuecomment-1065202665) also applies here.

[2022-03-15 16:50] Ugzuzg commented on #5460
Vertical text is very hard to read. Icons helped with finding the right column before:
![image](https://user-images.githubusercontent.com/1078004/158429553-fcc7ba7e-c7d2-4ba2-a7d3-0e74777efcbd.png)

Now it's a lot harder to find the right column at a glance.

[2022-03-15 17:00] ShawnCockburn opened #5631 "New design hard to read. | high contrast suggestion."
### Before I get started

I'm not sure if this is the correct place to post this.. let me know if there is a better place!

I mostly really like the new functionality the site brings including dark mode, great navigation and i'm not against change in general.

---

### New design hard to read

The new documentation page design is hard to read for me personally, the old design had a really clear ui

[2022-03-15 17:26] #5588 closed

[2022-03-15 18:21] mattwelke opened #5632 "Pages like Web APIs with multiple columns look bad on mobile"
### Summary

To clarify, "bad" is just a succinct word to use in the title. Hard work went into the docs and this is appreciated. I love front end devs. Please don't make me center a div. <3

On mobile, pages like https://developer.mozilla.org/en-US/docs/Web/API look bad because the three columns cause the content to get squished too much and cause text in one column to get cut off as you scroll d

[2022-03-15 20:58] caugner commented on #5462
I agree with the proposed solution of showing the timeline in chronological order.

@stof Would you be interested in a submitting a PR for this change?

[2022-03-15 21:02] caugner commented on #5632
Hi @mattwelke, thanks for reporting this issue! 👋

Reducing the `column-count` for ``.index` to 1 on smaller screens sounds like a reasonable solution for me.

Would you be interested in submitting a PR for this?

[2022-03-15 21:28] caugner commented on #5631
Hi @ShawnCockburn, we're already tracking some of the points you're raising in #5454 and #5546.

If you don't find an issue for a problem you're experiencing, please open an issue using our [bug report template](https://github.com/mdn/yari/issues/new?assignees=&labels=bug&template=bug-report.yml) to make sure we have all the information we need to triage and prioritize the problem.

Thank you for

[2022-03-15 21:28] #5631 closed

[2022-03-15 21:44] caugner commented on #5561
Have we considered adding this header directly to all articles in mdn/content, to be consistent with the other headers?

Other macros like `CSSInfo` and `csssyntax` don't add a heading either:

https://github.com/mdn/content/blob/468263d78e51ed942e64b47b1bbef5dfbbc689bf/files/en-us/web/css/width/index.md?plain=1#L68-L74

[2022-03-15 21:46] mattwelke commented on #5632
I'll let someone else submit the PR. I'm not really comfortable editing and testing CSS. Been a long time since I did that kind of coding. I'm a back end dev who browses MDN to understand what the browser is doing when it calls the server.

[2022-03-15 21:48] caugner commented on #5632
No worries, Matt, glad to have you browsing MDN! :)

[2022-03-16 08:46] #5620 closed

[2022-03-16 08:47] schalkneethling commented on #5561
That is indeed the plan once we have settled on a title to test with our readers.

[2022-03-16 08:47] #5373 closed

[2022-03-16 09:42] fiji-flo opened #5637 "Make `docCategory` more generic"
Right now it returns `category-html` it should just return `html` and we prefix it where needed.

[2022-03-16 10:25] ddbeck commented on #5561
I know it was my idea, but I'm loving the "Try it" header—it feels much more approachable.

@dipikabh

I'm inclined to go without the punctuation. I think the learning area has a breezier tone than the reference docs. I think people bounce from reference page to reference page pretty quickly—the exclamation loses its potency with repetition, I think.

I'm also favorable to trying this out with oth

[2022-03-16 11:57] dipikabh opened #5641 "Left sidebar navigation collapses on CSS reference pages"
### Summary

The menus under "Reference" and "Guides" options on the left sidebar collapse after clicking a link from the sidebar in CSS Reference pages.

### URL

https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors

or any [Web/CSS](https://developer.mozilla.org/en-US/docs/Web/CSS) page

### Reproduction steps

1. "References" > "CSS"
2. Left sidebar: Click "Properties" under **`

[2022-03-16 17:28] wbamberg commented on #5547
It's completely dependent on which of the 30-odd sidebar implementations the page in question is using. So that page uses APIRef.ejs, which has this: https://github.com/mdn/yari/blob/2d319e5cff4ea06013925ed64a1ac8b87a42413a/kumascript/macros/APIRef.ejs#L204-L208 . I do agree that the highlighting is not at all obvious, but of course the things that a KS macro can do here are limited.

Same for htt

[2022-03-16 18:30] #5429 closed

[2022-03-17 07:33] erosman opened #5674 "Mark deprecated/unrecommended differently"

[2022-03-17 08:26] OnkarRuikar opened #5650 "Search box is not keyboard friendly"
### Summary

The Search box is not easy to use using only keyboard and without mouse.

Consider a scenario where a user is on MDN home page and trying to search [Request](https://developer.mozilla.org/en-US/docs/Web/API/Request) interface using "request" word.

1) After, typing search text and hitting `Enter` key, the first suggestion is forced on to the user. Have to hit `down arrow` key 5 times

[2022-03-17 09:55] #5368 closed

[2022-03-17 09:55] #5493 closed

[2022-03-17 10:36] bdrnglm commented on #5381
The problem is not completely fixed.
If you've set your page to dark mode by default and your OS mode is in light mode, the demo will be light while the website will be dark.

[2022-03-17 10:42] SphinxKnight opened #5652 "Live samples in translated-content cannot use images from content"
### Summary

The images used in live sample (`{{EmbedLiveSample}}`) are not served (404) when they are not duplicated on mdn/translated-content.

### URL

https://developer.mozilla.org/fr/docs/Web/CSS/filter

### Reproduction steps

1. Go to https://developer.mozilla.org/fr/docs/Web/CSS/filter
2. Checkout mdn/translated-content as of [e1b9e2c](https://github.com/mdn/translated-content/commit/e1b9e

[2022-03-17 13:31] Letheward commented on #5515
Another aspect of this is the font family for \<h1>, \<h2> and \<h3>, which used to be **Zilla Slab** (bold and regular), thus creates contrast with the main content font (like **Arial** and **Consolas**), and also serves as branding for Mozilla. The new design use **Segoe UI** for almost all non-code text on Windows.

[2022-03-17 13:48] Letheward commented on #5515
- Quick inline style change using **Zilla Slab** and **Roboto**:
![sample](https://user-images.githubusercontent.com/59071629/158821887-e40e0bdd-217c-4d2b-9ff9-a4d6a62be4c6.png)

[2022-03-17 14:50] dipikabh commented on #5561
We should 👍. Thanks!

[2022-03-17 15:37] #5462 closed

[2022-03-17 16:06] caugner opened #5659 "lint-staged"
Adopt [lint-staged](https://github.com/okonet/lint-staged) to run:

- eslint
- prettier
- python linter

[2022-03-17 20:23] Den0702 opened #5661 "Code wrapping on mobile device (6-inch e-reader screen)"
Hello everyone!

I want to emphasize and to narrow down to the main problem I have described among others in a more general previous issue I had opened.
This problem is _code wrapping_
I would like to show you the image in which it can be seen that the code area is starting to become a mess, indentations are violated.
The code is like being torn when exploring different examples from mdn on such a

[2022-03-17 21:50] caugner opened #5663 "Hot Reload with Webpack DevServer is broken"
## Problem

Observerations when running `yarn dev` locally:

1. When I access `localhost:3000`, I see an open websocket (`ws://localhost:3000/sockjs-node`).
2. When I change a `*.scss` file, I see messages on that websocket:
    <img width="548" alt="Screenshot 2022-03-17 at 22 32 28" src="https://user-images.githubusercontent.com/495429/158898684-95680be5-6409-418d-95c2-50c3cfed4419.png">
3. This

[2022-03-18 06:21] WinterSilence opened #5665 "Feature request: add button to switch width of the MDN content pane"

[2022-03-18 07:39] schalkneethling commented on #5665
Thank you for the suggestion @WinterSilence. We will definitely take it into consideration.

[2022-03-18 07:43] schalkneethling commented on #5381
Yeah, we were going to roll out the change but then backtracked on the implementation. Unfortunately the PR that reverted the changes did not re-open this issue. I am working on a new implementation today.

[2022-03-18 08:21] #5494 closed

[2022-03-18 08:32] romainmenke commented on #5494
@schalkneethling This might need to be re-opened.
The PR only mentioned a partial fix :)

[2022-03-18 08:37] OnkarRuikar opened #5666 "Dark mode: weird white spot with both scrollbars"
### Summary

In dark theme there is a small white box where two scrollbars meet:

<img src="https://i.imgur.com/k7CgoqZ.png" width='400px' >

### URL

https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API

### Reproduction steps

1. Open url https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API
2. Go all the way to the bottom of the page.
3. Notice the white spot.
4. If there i

[2022-03-18 09:33] schalkneethling commented on #5494
@caugner Agree?

[2022-03-18 10:42] #5663 closed

[2022-03-18 11:32] caugner commented on #5661
Hi @Den0702, please use our [Bug report template](https://github.com/mdn/yari/issues/new?assignees=&labels=bug&template=bug-report.yml) when reporting new issues.

This issue is already tracked in #5357, but unfortunately it's not a priority right now.

Duplicate of #5357

[2022-03-18 11:32] #5661 closed

[2022-03-18 11:34] caugner commented on #5357
I'm not sure what is the best way to target e-readers, but I will add the `accepting PR` label.

Any solution that improves the layout for e-readers without changing the layout for other devices (mobile + desktop) is appreciated!

[2022-03-18 13:52] #5096 closed

[2022-03-18 14:35] #5659 closed

[2022-03-18 21:53] scottdotjs commented on #5384
Hi again @caugner. Coming back to this:

That makes sense, I was wondering why CSS functions like [`max()`](https://developer.mozilla.org/en-US/docs/Web/CSS/max()) don't have breadcrumbs to [CSS Functional Notation](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions) before going up to the top-level CSS page. Would a PR making that change to all the function pages be welcome?

[2022-03-19 08:04] ganeshmarathe opened #5681 "Enhancement to new mdn docs"
### Summary

Improvement request: Introduce hide/show option for left side table of contents for any topic.

### URL

https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API

### Reproduction steps

1.Go to above url or any topic in mdn docs
2. There is no option to hide table of contents on left
3.You can see **https://angular.io/docs** for how it it done.I am attaching screenshot of the

[2022-03-20 00:20] victor0x16 opened #5682 "add pt-BR strings to markdown/locations"
I want to add translated versions of Notes, Warnings and Callouts, so we can use in the .md pages (pt-BR).

Following @SphinxKnight PRs #4251, other l10n-* languages already have done that like es, ko, et al.

See it here:
![warnings](https://user-images.githubusercontent.com/100092662/159142624-cf23bc04-c983-49d8-900c-b61cbc29e79c.jpeg)

Is it anything that I should know/do before doing a PR to a

[2022-03-20 13:31] yin1999 opened #5683 "`LearnBox` macro will only use the sources from `en-US`"
### Summary

`LearnBox` macros used in `fr`, `zh-CN`, etc. will only show the `Glossary term` from `en-US` sources.

It seems that the async function in [`l10n.src`](https://github.com/mdn/yari/blob/14cc6a0972b2bb6c68a921502f7aecb51536bba6/kumascript/macros/LearnBox.ejs#L23-L37) may always return the default `src`:

[code]

### URL

https://developer.mozilla.org/fr/docs/Glossary
https://developer.

[2022-03-20 23:46] brianpeiris commented on #5481
Looks like #5507 fixed this. Thanks!

[2022-03-20 23:46] #5481 closed

[2022-03-21 07:17] KarannKaul opened #5685 "Change dark theme contrast"
The White and Black values in the website are very contrasting to the eyes- making it stress full on the eyes

[2022-03-21 07:58] infacto commented on #5461
I see the `preferredlocale` set to `en-US` but it seems that the website does not care. Not sure if this sometimes works. But wait... It's maybe because Google search result link of MDN has the language in the URL. For example

`https://developer.mozilla.org/{lang}/docs/...`

But in this case the website should ignore this and load `preferredlocale` from cookies. Because even if someone shares a l

[2022-03-21 10:36] Rumyra opened #5686 "Good/bad code example design feels like a regression"
Sometimes code examples have the class `example-good` or `example-bad` to highlight good practises or bad practises. Originally these snippets had a green/red background colour, now they have tick/cross icons in the corner.

These icons are not only hard to miss, but seem a little mis-leading (the cross for instance looks like a user could 'close' the code example).

I don't have a clear idea as t

[2022-03-21 12:19] schalkneethling commented on #5461
@infacto Indeed, if you follow a link that already has the locale as part of the URL, it will override the setting. [This PR](https://github.com/mdn/yari/pull/3968) would resolve this and is something we are considering finishing up and landing.

[2022-03-21 12:22] #5561 closed

[2022-03-21 17:08] GeorgeDaris opened #5706 "Issue with "CSS building blocks": (Assessment projects not listed in the sidebar)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks

#### What information was incorrect, unhelpful, or incomplete?

The sidebar doesn't list the assessment projects as seen in the one for "Styling Text" which reads: "Assessment: Typesetting a community school homepage."

On that note, the one above does have "Assessment" in the title, unlike the one seen in the section of

[2022-03-21 17:09] schalkneethling commented on #5378
@pilchard I have been working on improving the reading experience on MDN. Please have a look at the screenshot below. I know it is very isolated in this format but, hopefully, it gives you an idea of where it is moving.

![Screenshot of some of the new typography styling on MDN](https://user-images.githubusercontent.com/10350960/159326700-85942b13-6c4d-46b8-a285-010166dc61e3.png)

[2022-03-21 17:16] schalkneethling commented on #5387
Hey @iDave2, how do you find the contrast in the screenshot below? I am working on making improvements to the readability of MDN. I would appreciate your feedback.

![Screenshot of new dark mode contrast](https://user-images.githubusercontent.com/10350960/159327875-26b6c6ed-0d40-4a10-ab71-bb0d07ca942f.png)

[2022-03-21 17:21] blueYOSHI9000 opened #5703 "Red color too similar to generic missing link color"
### Summary

All links look like they're missing when the primary color is red. This is especially an issue because on the old site missing links were common and they used nearly the exact same color, but now that color is used for every single link.

### URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy

### Reproduction steps

1. Visit a site on MDN that

[2022-03-21 17:28] schalkneethling commented on #5396
@spartanatreyu Please see below the update to the background color for the active item in the table of contents.

![Screenshot of TOC in dark mode](https://user-images.githubusercontent.com/10350960/159330015-4135f5c2-2d31-4f3c-9bb1-fe97970a7d91.png)

![Screenshot of TOC in dark mode](https://user-images.githubusercontent.com/10350960/159330042-2434ef54-271f-4325-9c6d-ea4f2cf41459.png)

[2022-03-21 17:30] schalkneethling commented on #5396
And here is the red variant.

![Screenshot of TOC in dark mode with red variant](https://user-images.githubusercontent.com/10350960/159330435-0db14148-5ba7-4cb9-a174-eb8944edf83e.png)

![Screenshot of TOC in dark mode with red variant](https://user-images.githubusercontent.com/10350960/159330516-a38d9b4b-86d6-4277-b2b8-67922fdbadc4.png)

[2022-03-21 17:34] schalkneethling commented on #5377
Hey @AleksandrHovhannisyan, how do you find the update as shown below?

![Screenshot of new paragraph typography style](https://user-images.githubusercontent.com/10350960/159331049-2e95402e-77c9-4292-ae2b-8e4181a56e96.png)

[2022-03-21 17:40] schalkneethling commented on #5485
@wbamberg What do you think of the below change?

![Screenshot of new typography hierarchy](https://user-images.githubusercontent.com/10350960/159332098-7da75eec-191c-41b3-b97a-2bdfe7b466ce.png)

[2022-03-21 17:49] caugner commented on #5490
Good news!

@schalkneethling has resolved this issue via #5507, so the slash now opens the search again. 🎉

[2022-03-21 17:49] #5490 closed

[2022-03-21 17:54] caugner commented on #5686
Here is how it looked before ([source](https://web.archive.org/web/20220217030234mp_/https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Code_guidelines/General#code_line_length)):

![image](https://user-images.githubusercontent.com/495429/159334438-f0c82227-a6bd-4e4f-9aaf-cab1df814c8b.png)

[2022-03-21 17:56] AleksandrHovhannisyan commented on #5377
@schalkneethling That line height is definitely looking better! I might bring the paragraphs just a little closer together and maybe also tighten the line height just a bit more (unless it gets too cramped).

[2022-03-21 18:01] schalkneethling commented on #5632
Hey @mattwelke,

Here is how it will look on mobile.

![Screenshot of 3-column lists on mobile](https://user-images.githubusercontent.com/10350960/159335551-626eca1f-8806-46ba-b61a-e32472130c97.png)

[2022-03-21 18:06] mattwelke commented on #5632
I'm seeing something different. Could it be an issue between different devices?

I'm using a Pixel 4a.

![Screenshot_20220321-140603.png](https://user-images.githubusercontent.com/7719209/159336498-7368a2da-e51c-4e98-97a0-7cd0035ae3df.png)

[2022-03-21 18:06] saltire commented on #5378
@schalkneethling Definite improvement, thanks for sharing! The warm shades give me some nice Zenburn vibes. Subtle but nice change to the light theme as well. I also like the bolder headers and general tightening of the type; seems much clearer and probably more important than the colours.

Anyway that's just me, but I'm happy to help. Appreciate the work!

[2022-03-21 18:28] iDave2 commented on #5387
@Shalk, i got an email where you asked how i found <one of my examples>. i do not see your email query here and cannot grok which page you refer to since you clipped page title from your big sample image above. i will guess that whatever i was reporting may already have been fixed. the site looked progressively prettier in the days following dark rollout. i happened to be working on javascript so

[2022-03-21 18:42] schalkneethling commented on #5596
I have addressed this. Now if you bump the zoom level to say 200%, everything scales up.

![Screenshot showing a page with the main menu expanded at a 200% zoom level](https://user-images.githubusercontent.com/10350960/159341999-1ae1f512-5592-4a45-8ee2-cbcf4e2e6a14.png)

[2022-03-21 19:28] victor0x16 commented on #5686
@caugner, that would be great from a learner perspective and I do feel icons a litte mismatching with the purpose.

I guess the icons could be less thick because they do look like too thick.

[2022-03-21 20:20] NiedziolkaMichal opened #5709 "Invalid statement that vendor prefix is required"
In browser compatibility table, sometimes icon "Requires a vendor prefix or different name for use" is shown, even though non-prefixed version is fully supported.
That's the case for example with [Flex Flow](https://developer.mozilla.org/en-US/docs/Web/CSS/flex-flow#browser_compatibility), which was supported in [Firefox 28](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/28#css)

[2022-03-21 21:35] schalkneethling commented on #5377
Thank you for the feedback @AleksandrHovhannisyan. I am following the WCAG guidelines here so, line-height is 1.5x the font size and the space between paragraphs is 2x the font size. I will let you know as soon as you can browse the site with these changes. Perhaps the experience will be different when it is not a static screenshot 😄

[2022-03-21 21:36] schalkneethling commented on #5632
Oh, this is not in production yet. That was a screenshot from my local development environment. Sorry for not being more clear about that.

[2022-03-21 21:37] schalkneethling commented on #5387
@iDave2 it probably referred to this screenshot: https://github.com/mdn/yari/issues/5387#issuecomment-1074180374

So, this is not live, it is a screenshot from my local environment.

[2022-03-21 21:38] schalkneethling commented on #5485
I am spinning up a dev instance. Will let you know as soon as it is live(so to speak).

[2022-03-21 21:52] mattwelke commented on #5632
Ah that makes sense. I think that will be much easier to read on mobile once it's in production.

[2022-03-21 22:16] pilchard commented on #5378
@schalkneethling thanks for your work on this, it's definitely reading better. The change in heading weights and tightening up the paragaraph leading is looking good and it definitely feels softer on the eye.

After spending more time with the new design I'm finding that the single most impactful change affecting readability for me is the vertical spacing. Tightening the line height within paragra

[2022-03-21 22:32] iDave2 commented on #5387
Sorry, i see it now, the URL is in my original post,

  https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings

Reviewing, i still see dark blue text ("liga", "tnum", "smcp" in "CSS Demo" example) on nearly black background and will still rate it Quite Bad. it is so bad, you cannot see it! or our eyes are just different. you're the boss, choose wisely.  :)

[2022-03-21 23:35] spartanatreyu commented on #5396
Ooh, those screenshots look much better

:D

[2022-03-21 23:49] scottaohara opened #5912 "Issue with "Breadcrumb Navigation": various refinements needed"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Breadcrumb_Navigation

#### What information was incorrect, unhelpful, or incomplete?
It is probably worth mentioning that the right arrows created by the CSS pseudo-element will be exposed to and announced by screen readers.  These 'dividers' are arguably decorative and per their current implementation, result in someone na

[2022-03-22 08:58] schalkneethling commented on #5378
Thank you @pilchard, that is really insightful feedback.

[2022-03-22 11:04] AleksandrHovhannisyan commented on #5377
@schalkneethling I haven't personally seen the `2x` requirement implemented strictly in practice, even on accessibility articles that discuss the requirement 😅 I think a better practice is to set your paragraph spacing to be your line height (give or take). For example, if you use a line height of `1.5`, you could set your paragraph spacing to be `1.5em`. This establishes a vertical rhythm that ma

[2022-03-22 11:46] schalkneethling commented on #5378
Hey @saltire and @pilchard, please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:47] schalkneethling commented on #5387
@iDave2, please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:48] schalkneethling commented on #5396
Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:49] schalkneethling commented on #5389
Hey @e3dio, we are trialing some improvements to the readability and accessibility of MDN Web Docs and we want your input. Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:52] yin1999 commented on #5652
I have an idea about this problem, is it easier to build with **correct image path**? It means that if the image is not in `relative path` at `translated-content` repo but in the `content` repo, we just replace the `relative path` with the `absolute path` (to `content` repo) before writing to `index.html` file.

This doesn't complicate the proxy any more (proxy is needed to check whether the image

[2022-03-22 11:56] schalkneethling commented on #5377
Hey @AleksandrHovhannisyan, we are trialing some improvements to the readability and accessibility of MDN Web Docs and we want your input. Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:56] schalkneethling commented on #5445
Hey @joelanman, we are trialing some improvements to the readability and accessibility of MDN Web Docs and we want your input. Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:57] schalkneethling commented on #5485
Hey @wbamberg, we are trialing some improvements to the readability and accessibility of MDN Web Docs and we want your input. Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:57] schalkneethling commented on #5372
Hey @padenot, we are trialing some improvements to the readability and accessibility of MDN Web Docs and we want your input. Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 11:58] schalkneethling commented on #5632
Hey @mattwelke, we are trialing some improvements to the readability and accessibility of MDN Web Docs and we want your input. Please join in the discussion here: https://github.com/mdn/yari/discussions/5715

[2022-03-22 12:03] Rumyra commented on #5546
Overall I like the improvements - I'm not too keen on the different weight for the headers though - I like the consistency of just using size. Also I assume the line-height in the note at the top here https://5546.content.dev.mdn.mozit.cloud/en-US/docs/Web/CSS/@layer hasn't been changed yet - it looks a little bigger than the text?

Also have we considered letter-spacing? I always like a `letter-s

[2022-03-22 12:22] Rumyra commented on #5686
I'm unsure about restoring the background colour tbh - with the varied colours for sections now... It's hard to envisage without seeing. I would be inclined to just try the border colour - I like the idea of thumbs up thumbs down - are there flat icons we can use instead of emoji?

[2022-03-22 13:08] AleksandrHovhannisyan opened #5717 "Search input UX on desktop: Mouse users may accidentally collapse the search after expanding it"
### Summary

When you click the search bar in the top-right corner of the site and it expands, your mouse hovers over the `X`/clear button. This could make it easier for desktop users to accidentally close the search by double-clicking. (This is not an issue on mobile.)

### URL

https://developer.mozilla.org/en-US/

### Reproduction steps

1. Visit https://developer.mozilla.org/en-US/ on a deskto

[2022-03-22 13:57] OnkarRuikar commented on #5546
https://5546.content.dev.mdn.mozit.cloud/en-US/docs/Web/API/Payment_Request_API/Using_the_Payment_Request_API#starting_the_payment_process

In dark mode, current code background-color `#4e4e4e` appears very strong. And the code section stands out way too much:
![strong](https://i.imgur.com/2vGeyNj.png)

We can change it to `#383838`. It blends nicely:
![mild](https://i.imgur.com/gzFnixb.png)

[2022-03-22 17:44] Den0702 commented on #5357
@caugner Thank you, but it looks like the same situation on mobile phones? Here is for example horizontal screen view
![Capture+_2022-03-22-18-32-19 1](https://user-images.githubusercontent.com/30319035/159542807-c0a6786e-d92b-4c9c-b7b8-e45a9ea9581a.png)

[2022-03-22 18:30] wbamberg opened #5727 "Using relative URLs to refer to audio/video/font files"
In https://github.com/mdn/content/pull/14183 I want to include a live sample using an `<audio>` element. With, `<img>` elements I can download the source, keep it alongside `index.md`, and reference it using a relative path, like this: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Img#alternative_text.

I don't seem to be able to do the same with audio files (and maybe video too, haven

[2022-03-22 19:17] schalkneethling commented on #5546
Good catch!

[2022-03-22 19:20] schalkneethling commented on #5546
Yes, I am addressing the letter spacing as well. Thanks, Ruth.

[2022-03-22 21:50] iDave2 commented on #5546
Hi all, thx for the invite @Schalk. I have one old suggestion (pondered but not shared) and two initial impressions of new mozit.cloud site.

1. I visit MDN every few years and go thru many tutorials to refresh skills. This year, I noticed myself getting lost after returning from a break to the middle of a long lesson -- now "Where was I?" I look to the right and it says I am IN THIS ARTICLE. Afte

[2022-03-23 08:17] schalkneethling commented on #5546
Thank you so much for the great feedback @iDave2!

[2022-03-23 09:08] schalkneethling commented on #5377
@AleksandrHovhannisyan for sure. I do experiment some by bumping it up and down. It is such a tricky thing to get to a place where everyone is happy. A lot of it is also a matter of personal taste. This is essentially why I wanted to open this up to more people. That way it is not just what I find readable.

[2022-03-23 10:48] caugner opened #5732 "Use `klawSync` in build/spas.js"
We have `klawSync` as a dependency already, perhaps it can help simplify some of this?
https://github.com/mdn/yari/blob/main/tool/cli.js#L907

_Originally posted by @schalkneethling in https://github.com/mdn/yari/pull/5707#discussion_r833038660_

[2022-03-23 11:06] caugner opened #5733 "Opening an article url with a hash doesn't jump there locally"
Open http://localhost:3000/en-US/docs/Learn/HTML#modules locally in a **new** tab.

**Expectation**: I see the Modules section.

**Actual**: I see the top of the article.

[2022-03-23 11:19] AleksandrHovhannisyan commented on #5377
@schalkneethling Yup, makes sense!

[2022-03-23 11:29] schalkneethling opened #5734 "Heading hierarchy seems a little odd on these pages"
Not something to solve now but just a general comment. The space between the page heading and the first FAQ seems very large. It feels like they are completely disconnected from each other. It also seems strange that the heading of the questions are so much larger that the page heading.

![Screenshot 2022-03-23 at 13 04 49](https://user-images.githubusercontent.com/10350960/159685707-336cd8e2-9bc1

[2022-03-23 12:43] schalkneethling opened #5741 "Some mentions of collections in notifications"
### Summary

There are a couple of places where the copy currently mentions collections when it should mention notifications.

- https://github.com/mdn/yari/blob/mdn-offline/client/src/plus/notifications/notifications-tab.tsx#L128
- https://github.com/mdn/yari/blob/mdn-offline/client/src/plus/notifications/watched-items-tab.tsx#L120
- https://github.com/mdn/yari/blob/mdn-offline/client/src/plus/no

[2022-03-23 12:51] #5492 closed

[2022-03-23 13:17] caugner opened #5745 "Avoid repeating routes in multiple locations"
_Originally posted by @schalkneethling in https://github.com/mdn/yari/issues/5735#issuecomment-1076320997_

[2022-03-23 14:20] caugner commented on #5741
Fixed via https://github.com/mdn/yari/pull/5742.

[2022-03-23 14:20] #5741 closed

[2022-03-23 15:18] iDave2 commented on #5546
color is so subjective -- i reserve the right to change my preferences daily -- today, i'm with google marketing. (<- joke)

i opened Chrome preferences this morning. so smooth, so subtle, almost like no links are there, but you know something is there because it is google and they always have stuff.

i go back to MDN. all the links have a different background color, it almost looks like a page co

[2022-03-23 15:27] schalkneethling commented on #5546
It might be that it is automation by GitHub

[2022-03-23 17:30] caugner opened #5752 "Add locale fallback for Plus docs"
Add the Plus pages for all locales, e.g. https://developer.mozilla.org/fr/plus/docs/faq with the same content as https://developer.mozilla.org/en-US/plus/docs/faq.

[2022-03-23 17:47] Satyam9169 opened #5754 "Navigation bar is not sticky"
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Contribute/Feedback

#### What information was incorrect, unhelpful, or incomplete?
                       Hi Team,
                         When we are trying to study anything content is good but your navigation bar is not
                         sticky. If your navigation bar would be sticky then we could not scroll up again and again.

[2022-03-23 18:14] schalkneethling commented on #5754
Thank you for raising this issue @Satyam9169. This is a duplicate of https://github.com/mdn/yari/issues/5521
We are working on this and will land the update soon.

[2022-03-23 19:17] wbamberg opened #5755 "Consider not having different link colors for different site areas"
I haven't seen this reported anywhere else, so maybe it's an unpopular opinion, but I think MDN should not have different link colors for different areas of the site.

I do understand the desire to indicate that we are in "the CSS docs" with some accent color, but link colors are tricky to get right: we have to care about contrast, conventional expectations, not-found links (and conventional expec

[2022-03-23 19:18] schalkneethling commented on #5755
@wbamberg Thank you for bringing this up. I am actually going to propose that as part of the readability rework.

[2022-03-23 23:41] iDave2 opened #5764 "Issue with "CSS: Cascading Style Sheets": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS

#### What information was incorrect, unhelpful, or incomplete?

Sorting in left-side navigation looks odd. On left side, open Related Topics > Reference > Properties. There are a bizillion 'border-xyz' properties before one sees the original shorthand 'border' property at bottom.

#### Specific section or headline?

#### What did you expec

[2022-03-24 02:51] spartanatreyu commented on #5378
I think the dark mode's new background is too light. I'm looking at this during the day and it looks grey, not black. It doesn't have enough contrast and is harder to read. If it was night time, I could probably navigate my room from the background color alone.

It probably needs to be between the new dark mode background color and the old background color.

The code blocks (the full blocks, `not

[2022-03-24 02:52] Gitoffthelawn commented on #5484
@caugnew Thank you Claas!  Much appreciated.

[2022-03-24 05:50] SphinxKnight commented on #1197
Given https://blog.mozilla.org/en/mozilla/mozilla-webvision-future-of-web/ "Provide a first-class experience for non-English-speakers", how could we help / achieve MDN UI's localization? (which existed under the previous platform)

@HerminaC who would be the best interlocutor to set things in motion? Given the impact on the codebase would PRs be accepted regarding strings' extraction and the like?

[2022-03-24 12:26] ddbeck opened #5780 "Redirects containing colons have no effect"
### Summary

Many of the redirects in [`_redirects.txt`](https://github.com/mdn/content/blob/main/files/en-us/_redirects.txt) point from former colon (`:`) containing slugs to new, punctuation-less slugs; these redirects don't actually do anything.

### URL

A simple case is https://developer.mozilla.org/en-US/docs/Tools/about:debugging.

See https://gist.github.com/ddbeck/05fa79f2634022a77fb128d9

[2022-03-24 14:06] OnkarRuikar opened #5783 "Interactive examples: scrollbars break dark theme"
### Summary

Interactive examples' scrollbars look different than main content scrollbars:

![scrollbars](https://i.imgur.com/7goFqFQ.png)

### URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/match#try_it

### Reproduction steps

1. Open the page
2. Put a lot of code in interactive example to get vertical scroll bar.
3. Reduce browser width to get horiz

[2022-03-24 15:08] simevidas commented on #5546
The browser compatibility table has a readability issue, IMO. The icons are not consistent. If the cross is in a red circle, and the question mark is in a gray circle, then the check-mark should be in a green circle.

Also, the asterisk should not be in a circle because the circle is already used for the icons that represent level of support.

Finally, the table cells should be top-aligned, so tha

[2022-03-24 16:56] pdehaan opened #5790 "MDN Plus docs: left sidebar navigation doesn't work"
### Steps to reproduce
1. Go to https://developer.mozilla.org/en-US/plus/docs/faq
2. Click on one of
    - Collections
    - Notifications
    - MDN Offline
3. The URL changes, but the page content doesn't.

### Actual results
Page content doesn't change, only the URL.
Refreshing the page detects the URL and loads the correct content.

### Expected results
New page content should load immediately.

[2022-03-24 16:57] caugner opened #5787 "Plus docs: breadcrumbs don't span full width"

[2022-03-24 17:02] caugner opened #5789 "Replace "articles" with "pages" in the "Collections" description in MDN Plus dropdown"

[2022-03-24 17:06] caugner commented on #5789
@HerminaC Just checking: We have a tab called "Frequently viewed articles", and I do believe articles makes actually more sense than pages. Not all MDN pages are articles (e.g. the Collections page, the MDN Plus product page etc.), and only articles can be saved.

Therefore my suggestion would be to consistently use the term "articles" in the context of "Collections".

[2022-03-24 17:09] ddbeck commented on #5484
I've created [a PR to redirect, where possible, these URLs to places where these docs appear to be maintained](https://github.com/mdn/content/pull/14269), specifically:

source | dest
-- | --
https://developer.mozilla.org/docs/Mozilla/Command_Line_Options | https://wiki.mozilla.org/Firefox/CommandLineOptions
https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code/Directory_structure

[2022-03-24 17:40] pdehaan opened #5793 ""in this article" right sidebar navigation isn't working on FAQ page"

[2022-03-24 17:41] #5790 closed

[2022-03-24 17:47] #5484 closed

[2022-03-24 17:54] schalkneethling opened #5792 "Privacy tools like uBlock could cause problems with Plus"
From Slack, reported by Craig Cook:

[2022-03-24 18:02] #5787 closed

[2022-03-24 18:12] JC-Support opened #5795 "Navigation links for "Collections", "Notifications" and "MDN Offline" on FAQ reload FAQ page"
### Summary

Navigation bar links on the FAQ page do not open the corresponding pages. They only reload the FAQ page.

### URL

https://developer.mozilla.org/en-US/plus/docs/faq

### Reproduction steps

1. Navigate to https://developer.mozilla.org/en-US/plus/docs/faq
2. Scroll down to the MDN Plus nav links on the bottom left of the page.
3. Click "Collections", "Notifications" and or "MDN Offline

[2022-03-24 18:16] schalkneethling commented on #5795
Thank you for reporting @JC-Support. We have landed a fix(https://github.com/mdn/yari/pull/5791) and are rolling it out to production.

[2022-03-24 18:22] juanenriquez145 commented on #5795
I perform a test in another browser and it is the same issue. this would be a bug in the re-direction of each link in the Backend of the main page of MDN.

[2022-03-24 19:05] caugner opened #5796 "MDN Plus docs: TypeError: can't access property "map", I.sections is undefined"
This happens sometimes when clicking a "Learn more" on the MDN Plus product page.

[code]

[2022-03-24 22:33] #5796 closed

[2022-03-25 00:57] simevidas opened #5804 "The browser compatiblity information could be made more readable"
As part of the initiative to improve the readability experience (https://github.com/mdn/yari/discussions/5715), I suggest improving the readability of the browser compatibility information.

1. The icons are not consistent. If the cross is inside a red circle, and the question mark is inside a gray circle, then the check-mark should be inside a green circle.
2. The asterisk should not be in a circ

[2022-03-25 00:59] Andrew6rant commented on #5546
I personally think that inconsistent icons can be good for accessibility, your example is super nice-looking but the circle icons can be a bit hard to tell apart at a quick glance if one has poor eyesight or red-green colorblindness.

Here is what yours looks like put through Chrome's deuteranopia color filter (the most common form of colorblindness):
![Šime_Vidas_MDN_AFTER](https://user-images.gi

[2022-03-25 01:03] simevidas commented on #5546
Hey @Andrew6rant, I opened a separate issue for this a few moments ago. It’s here: https://github.com/mdn/yari/issues/5804. Could you please post your comment there, so that the discussion can happen in that issue?

[2022-03-25 01:08] Andrew6rant commented on #5804
I personally think that inconsistent icons can be good for accessibility, your example is super nice-looking but the circle icons can be a bit hard to tell apart at a quick glance if one has poor eyesight or red-green colorblindness.

Here is what yours looks like put through Chrome's deuteranopia color filter (the most common form of colorblindness):
![Šime_Vidas_MDN_AFTER](https://user-images.gi

[2022-03-25 02:35] OnkarRuikar commented on #5804
Colored or circled, if icons in the legend look same as those inside BCD table, it'll look more consistent.

[2022-03-25 03:51] wbamberg opened #5805 "Font sizes are inconsistent in a table"
In the table at https://developer.mozilla.org/en-US/docs/Web/Performance/Animation_performance_and_frame_rate#css_property_cost the font size for the first and third non-heading cells is smaller than the size for the second.

<img width="684" alt="Screen Shot 2022-03-24 at 8 51 54 PM" src="https://user-images.githubusercontent.com/432915/160050957-0b327dfc-d6b1-4031-a07c-123fb6c0b8fd.png">

[2022-03-25 05:29] Gitoffthelawn commented on #5484
@ddbeck Thank you Daniel!  That will be a big improvement and save people much time.

Regarding 404ing the other links... I'm rarely a big fan of issuing 404s when they can be prevented.  A few off-the-cuff possibilities:

1. Determine why some good reference materials are no longer available, and make them available again.  Another opportunity to use semicolons! :)  (a reference to your humorous

[2022-03-25 10:05] ddbeck commented on #5780
Curiously, the originally cited URL (`https://developer.mozilla.org/en-US/docs/Tools/about:debugging`) has started redirecting. I'm not sure why it works and all of the others in the full list fail.

[2022-03-25 12:18] SphinxKnight opened #5813 "Being able to provide an absolute URL when `content delete --redirect`ing"
I wanted to work on https://github.com/mdn/translated-content/issues/4822 (see https://github.com/mdn/content/pull/14140) by using the CLI with

 `yarn tool delete Tools/3D_View fr --redirect https://firefox-source-docs.mozilla.org/devtools-user/3d_view/index.html`

However, I've got a "Invalid URL" error which prevented me to add such a redirect.

N.B. I was also able to reproduce without the loc

[2022-03-25 13:41] Krelyshy opened #5817 "Unreadable, terribly colored and designed website. Return to the old design"
### Summary

Hello,

I have not visited MDN for a bit, but I needed to look something up again. However, after getting to the site, I was confused and I thought that I was on a completely different webpage, and definitely not MDN. The logo? Awkward and ugly. But the colors and overall layout of the site? **Terrible!**

I do not know _how_ did someone even manage to do this, but the text really hur

[2022-03-25 13:52] caugner opened #5818 "Initial scroll positions in MDN Plus docs are not as expected"

[2022-03-25 13:52] caugner opened #5819 "Make sure hash links work on MDN Plus product page"

[2022-03-25 13:52] caugner opened #5820 "Make "Get MDN Plus" button link to plans if on product page"
## Expectation

When a user visits one of the following section links, the browser should jump there immediately:

- https://developer.mozilla.org/en-US/plus#features
- https://developer.mozilla.org/en-US/plus#subscribe

## Actual

The browser does not jump there, unless the user is already on MDN and had loaded the Plus page previously.

[2022-03-25 13:52] caugner opened #5821 "Make "MDN Plus" text in banner link to product page"

[2022-03-25 14:35] caugner commented on #5817
Hi @Krelyshy, 👋

Thank you for taking the time to open this issue, but please let me remind you to **be respectful** at all times, in accordance with our [Community Participation Guidelines](https://www.mozilla.org/en-US/about/governance/policies/participation/) that you have read.

Your point has been [made before](https://github.com/mdn/yari/issues/5364) and one fellow MDN user has even [curated

[2022-03-25 14:35] #5817 closed

[2022-03-25 14:45] caugner opened #5822 "MDN Plus Docs have broken scroll behavior"

[2022-03-25 14:53] #5818 closed

[2022-03-25 15:41] caugner opened #5825 "Plus subscribers cannot access Plus outside of US/CA, even if logged in"

[2022-03-25 15:42] #5825 closed

[2022-03-25 15:49] Yuki2718 commented on #5792
If you know the cause is FA, report the problem to https://github.com/easylist/easylist/issues

[2022-03-25 16:04] #5821 closed

[2022-03-25 16:43] iDave2 commented on #5546
<img width="1276" alt="MDN EventTarget" src="https://user-images.githubusercontent.com/190651/160163774-22170dc0-c241-4f6d-b690-32c88eb80e33.png">

hi all,

if we must have gigantic header fonts, we might display it more like a formatter would, like a developer might expect, like

    EventTarget
      .addEventListener(),

that is, we let '<h1>' wrap on dots (, dashes, etc.).

also, the screensho

[2022-03-25 16:46] iDave2 commented on #5546
oops. that was "we let H1 wrap on dots and dashes" but i did not escape the HTML so the remainder of that post is bold indeed. ;)

[2022-03-25 19:45] caugner commented on #5805
The difference between the cells in row 2 vs rows 1/3 is that the cell in row 2 is wrapped in a `<p>`, whereas the cells in row 1/3 are not wrapped, and so this `font-size` property on line 249 applies:

https://github.com/mdn/yari/blob/5454d9281d4a3a9f45b8214356216c01a3f7b70b/client/src/document/index.scss#L243-L249

[2022-03-26 02:42] victor0x16 commented on #5686
@Rumyra and @caugner, I was reading reactjs beta website and it seems they have found the right solution, see bellow:

![bad_and_good_example](https://user-images.githubusercontent.com/100092662/160221265-8f74a7ec-1275-4759-9148-bb829bcd21f6.jpeg)

I don't know how you can implement that but would be a nice for sure to see something like that.

[code]
[code]

[2022-03-26 07:32] schalkneethling commented on #1197
This is something we have been actively discussing. We have not reached full consensus yet, but if you have any suggestions/recommendation, please do let us know. Thanks, @SphinxKnight

[2022-03-26 07:33] schalkneethling commented on #5378
Thank you for the feedback @spartanatreyu. Some of those pieces(actually most :) ) are still a work in progress. Everyone’s feedback is helping a lot though so, keep it coming.

[2022-03-26 07:37] schalkneethling commented on #5795
This should be resolved now. Can you confirm @juanenriquez145? Thank you

[2022-03-26 17:14] cw118 commented on #5682
@victor0x16 adding those translations is quite simple (just create a `pt-BR.json` file in the [markdown/localizations folder](https://github.com/mdn/yari/tree/main/markdown/localizations) and structure it the same way as the other locales) so I think you're good to go.

I would consider [discussing with the pt-br community](https://developer.mozilla.org/en-US/docs/MDN/Contribute/Localize#brazilian

[2022-03-26 19:39] vabushkevich opened #5829 "BCD table doesn't show browser release date for features whose nesting level is ≥ 2"
### Summary

When hovering over a browser version of a feature whose nesting level is 2 or more, the tooltip says "Toggle history" instead of the browser release date.

### URL

https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/getContext#browser_compatibility

### Reproduction steps

1. Go to https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/getContext#browser_co

[2022-03-26 21:16] SphinxKnight commented on #5813
Closed w/ #5814

[2022-03-26 21:16] #5813 closed

[2022-03-27 01:37] victor0x16 commented on #5682
@cw118, Thanks for your helpful thoughts and I'll do it over the [discussing with the pt-br community](https://developer.mozilla.org/en-US/docs/MDN/Contribute/Localize#brazilian_portuguese_pt-br).

[2022-03-27 12:50] NiedziolkaMichal commented on #5387
This issue was fixed by [#2042](https://github.com/mdn/interactive-examples/pull/2042). Also there is a fix for [overflow-wrap](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap) mentioned in the second post, by PR [#2067](https://github.com/mdn/interactive-examples/pull/2067).

[2022-03-27 18:13] wbamberg opened #5831 "Big vertical margins, especially with "try it" heading"
In pages with interactive examples, we now have a lot of whitespace at the top of the page:

<img width="1122" alt="Screen Shot 2022-03-27 at 11 12 24 AM" src="https://user-images.githubusercontent.com/432915/160294840-cbfb852a-2842-46f0-a545-080688329951.png">

...it would be better with less:

<img width="1123" alt="Screen Shot 2022-03-27 at 11 13 06 AM" src="https://user-images.githubuserconten

[2022-03-27 18:52] saleh5yu commented on #5831
123sal

في الأحد، ٢٧ مارس ٢٠٢٢ ٢١:١٣ wbamberg ***@***.***> كتب:

[2022-03-28 04:19] gatewaytofredom commented on #5364
The new design feels very much like it's trying to be google docs. That's not a good thing. MDN has been the best documentation for years in terms of accessibility and clarity.  Now it is a low contrast spaced out mess that's harder to read.

Information is much less clear. The browser compatibility no longer features the  icon of the browser. Instead we now have to rotate our heads or struggle to

[2022-03-28 12:15] SphinxKnight commented on #5652
@mdn/core-yari-dev is it possible to have a look at this one? (ex. https://developer.mozilla.org/fr/docs/Web/CSS/filter still failing at loading resources)

[2022-03-28 12:29] yin1999 commented on #5652
I found two function which may help with this.

- `checkImageReferences` in `build\check-images.js`: is used to fallback the `src` attribute of `img` to `en-US` sources while the src does not exist in `l10n`.
- `buildLiveSamplePages` in `kumascript\src\live-sample.js`: is used to build `_sample_.some_id.html`, but it will not check the `image reference`

Note that, livesample in https://developer.

[2022-03-28 14:37] #5789 closed

[2022-03-28 17:01] Krelyshy commented on #5364
Please, keep the mirror up. It's the only usable subserver on the MDN right now. I will make an extension that will automatically redirect you to this mirror if you click on a link pointing to the "public" MDN.

[2022-03-28 17:28] #5666 closed

[2022-03-28 17:35] initdc commented on #5364
I will do my best to keep it working.
Stay grateful to the MDN developers and contributors, I just did a little bit of work.

[2022-03-28 20:19] 12Me21 opened #5843 "Nested compatibility table entries have confusing descriptions"
(This issue applies to many pages)

For example, on the [RegExp](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp) page, the browser compatibility table has entries like these:
![image](https://user-images.githubusercontent.com/4053256/160475091-10b59aa6-6fe7-4fc7-8e87-bcbba29df87c.png)
It took me a while to realize that "Prototype accessor property (ES2015)"

[2022-03-28 22:25] hamishwillee commented on #5843
I agree with this - it is confusing.

FYI only, the [Compat](https://github.com/mdn/yari/blob/main/kumascript/macros/Compat.ejs) macro also says that it allows you to tune the level of depth that is included - e.g. `{{Compat("javascript.builtins.RegExp",3)}}`. If you did choose to use it, the problem would be even worse.

[2022-03-29 03:01] hamishwillee opened #5844 "Tell users what the deprecated icon (and others) mean."
### Summary

Consider https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body#attributes

The attributes are marked as deprecated using the `{{deprecated_inline}}` macro, which renders as a little bin with a hover as shown:
![image](https://user-images.githubusercontent.com/5368500/160523870-7657d28d-bf50-4bf9-9303-166e4b21dc14.png)

1. It would be good if this hover actually said the same

[2022-03-29 10:33] caugner opened #5847 "Interactive example doesn't load in Webkit"
### Summary

On the [CSS / overscroll-behavior](https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior) article, the interactive example doesn't show up in Apple Safari 15.4.

Other interactive examples like [CSS / text-align](https://developer.mozilla.org/en-US/docs/Web/CSS/text-align) don't seem to be affected.

### URL

https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-b

[2022-03-29 11:20] odragora commented on #4271
@caugner Now the pages are loaded in my local language, and in order to get English version I have to dig through the options in the dropdown.

There is no separate "view original in English" button anymore.

It's a huge UX quality regression, in my opinion.

[2022-03-29 11:41] schalkneethling commented on #5546
On change we will make to address this is to make the header sticky. This means the breadcrumbs will always be visible. I believe that will resolve this problem. It has also been mentioned by other folks.

[2022-03-29 11:46] schalkneethling commented on #5546
I have dailed these down some. 👍

[2022-03-29 11:46] schalkneethling commented on #5546
Yup, agree. I updated this as well.

[2022-03-29 16:57] danielhjacobs commented on #5843
Where would I find an example of third-level features?

[2022-03-29 18:06] caugner commented on #5843
Technically, the [RegExp](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#browser_compatibility) table has three levels already:

- Top/First level: RegExp
- Second level: global
- Third level: Prototype accessor property (ES 2015)

[2022-03-29 18:21] danielhjacobs commented on #5843
Fair enough. What I'm really wondering is whether the PR I made would be enough, or if I'd need to add a nesting_level to `listFeatures` or something, but comments about that ca be made on the PR itself.

[2022-03-30 05:33] okjungsoo opened #5853 "Broken page layout when page not found"
### Summary

The page's layout is broken.

### URL

https://developer.mozilla.org/en-US/docs/Web/API/ChromeWorker

### Reproduction steps

1. Go to https://developer.mozilla.org/en-US/docs/Web/API/ChromeWorker

### Expected behavior

The page layout should look good.

### Actual behavior

Broken layout

### Device

Desktop

### Browser

Chrome

### Browser version

Stable

### Operating system

Ma

[2022-03-30 07:03] ferdnyc opened #5854 "Link styling and color choice in MDN docs redesign"
Since my half-assed tweet was linked (in #5546) as "community feedback", I figured I'd open a more formal (or "fully-assed", if you prefer) report for inclusion into the mix there.

Basically, it boiled down to two things:

1. In the "Web APIs" section, the selected accent color (which is most relevant to this report  because it's used to set the text color for all links in the content) is very ne

[2022-03-30 10:54] Rumyra commented on #5546
In regards to the wrapping of web api page titles - we've got a project in the works to redo the format of these, which will help to solve this problem https://github.com/mdn/content/discussions/5121

[2022-03-30 12:36] caugner opened #5886 "Unable to logout ("CSRF verification failed. Request aborted.")"
**Summary**

When I logout from MDN Plus, I'm getting the following error message:

[code]

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Go to https://developer.mozilla.org/ in a country where Plus is enabled
2. Login using a Plus subscribed Firefox account.
3. Logout once logged in

**Actual behavior**

I'm getting an error message, as mentioned above.

When I then navigat

[2022-03-30 13:46] iDave2 commented on #5546
hi all, a couple more thoughts for @Schalk and team. And thx for the wrapping update, Rumyra!

-----

i like the sticky breadcrumbs (not headers), a perfect solution to the "where am i?" problem. creative, the crumbs are there, just needed to share them.

-----

site is looking excellent overall. most lessons quite smooth, web api's (DOM) still a bit choppy with all their links still having both u

[2022-03-30 14:24] Krelyshy commented on #5364
Here is the extension if it interests anyone:
https://addons.mozilla.org/cs/firefox/addon/modestly-denying-the-new/

It simply redirects all traffic to developers.mozilla.org to the aforementioned mirror.

[2022-03-30 21:39] JoshuaKGoldberg opened #5866 "React Hook invariant thrown when a banner link is clicked"
### Summary

The discussion here is correct: https://github.com/mdn/yari/pull/5542/files#r822655800. `SendCTAEventToGA` is incorrectly named because it's not a React component. Calling it as a function violates React's rules of hooks.

### URL

https://developer.mozilla.org/

### Reproduction steps

1. Visit any MDN page without having dismissed the banner previously
2. <kbd>Cmd</kbd>+click (Mac)

[2022-03-30 22:01] schalkneethling commented on #5546
Thank you for your consistent feedback @iDave2, much appreciated. That is a good point about perhaps making only the breadcrumbs sticky. I guess the main benefit to having the header also be sticky is quick access to search.

[2022-03-31 04:27] spartanatreyu commented on #5755
Yeah, supporting so many different colors next to code blocks might end up resulting in code blocks with diminished readability.

I still really like having the website sectioned into different colors though.

It would be very helpful for users who are new to the website, or just new developers in general. It works as a nice safety net since as soon as the colors change, you're immediate aware tha

[2022-03-31 10:19] #5820 closed

[2022-03-31 10:28] #5866 closed

[2022-03-31 10:57] schalkneethling opened #5868 "macros: update EmbedInteractiveExamples macro to allow translation"
We have added a heading to the interactive examples called "Try it". Currently, the macro does not allow translations but it should.

[2022-03-31 11:22] schalkneethling commented on #5546
@iDave2 I was also thinking, another reason having the header also be sticky is quick access to change you theme. Not sure how much folks do this, but when working on MDN it helps :)

[2022-03-31 12:11] OnkarRuikar commented on #5546
@iDave2 and @schalkneethling we can have both floating without occupying a lot of space!

https://user-images.githubusercontent.com/87750369/161049915-6a5a2528-4f81-41bc-b3a9-8deff74f7247.mov

For this I needed only two CSS rules:
[code]

With little bit of polish we can make it work.

[2022-03-31 15:48] iDave2 commented on #5546
@Schalk, 5546 looks great as i see it today. the uppermost rectangle containing "mdn web docs, theme" and ending with "breadcrumbs ... English (US)" is sticky so readers always see their current location.

i think when you said "header" i thought of the ginormous "EventTarget.addEventListener()" and thought that that would not be so good to make sticky. (it would also be redundant with breadcrumbs

[2022-03-31 16:15] OnkarRuikar commented on #5546
@iDave2 , @schalkneethling

Thanks!
You've tagged wrong 'onkar'.  I am @OnkarRuikar 🙂

When you are at the beginning of the page, all the options are visible without need to hover. If you are looking for menus or search that means you are leaving the page. This and theme change users don't do frequently, unless you are QA or Dev. For dev builds we can have entire header floating.

Users don't chan

[2022-03-31 16:16] #5460 closed

[2022-03-31 17:26] #5868 closed

[2022-03-31 17:40] schalkneethling commented on #5546
Thank you for the suggestion! This was indeed a first iteration to get people’s feedback on the basic idea. I really like your idea.

[2022-03-31 18:05] wbamberg opened #5875 "Increase width of content column to fit 80 characters in example code"
(Original title: _Wrapping example code makes it unreadable sometimes_)

See for example: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters#basic_example . The example expects the code not to be wrapped, in which case it looks like:

[code]

...but in the new design it is wrapped, so it looks like:

<img width="758" alt="Screen Shot 2022-03-31 at 11 05 12 AM" s

[2022-03-31 20:40] schalkneethling opened #5878 "Improve the layout nd use of icons in BCD tables"
I personally think that inconsistent icons can be good for accessibility, your example is super nice-looking but the circle icons can be a bit hard to tell apart at a quick glance if one has poor eyesight or red-green colorblindness.

Here is what yours looks like put through Chrome's deuteranopia color filter (the most common form of colorblindness):
![Šime_Vidas_MDN_AFTER](https://user-images.gi

[2022-03-31 20:41] schalkneethling commented on #5878
@ddbeck, I would appreciate your feedback on the above proposal. Thanks!

[2022-03-31 20:43] schalkneethling commented on #5546
@Andrew6rant I created an issue(https://github.com/mdn/yari/issues/5878) for further discussion based on your suggestions. Thanks so much.

[2022-03-31 20:51] Andrew6rant commented on #5878
Thanks for posting it!

Here also is my concept put through the deuteranopia filter:

![Andrew_Grant_MDN_AFTER_DEUTERANOPIA](https://user-images.githubusercontent.com/57331134/160034979-9c625acf-1e64-4529-a545-968282934cb7.png)

[2022-03-31 20:54] schalkneethling commented on #5854
Hey @ferdnyc

Thank you for taking the time to open the issue and provide further details regarding this specific issue. I would ask that you read over our community guidelines [here](https://github.com/mdn/yari/blob/main/CODE_OF_CONDUCT.md) to understand the guidelines we use to ensure a healthy community. I bring this up because some of the language used in your description does not meet our gui

[2022-04-01 08:00] HerminaC commented on #5876
@caugner please don't start working on this until we've discussed it. Thx!

[2022-04-01 12:44] schalkneethling opened #5885 "Offline Settings: Does clear really clear?"

[2022-04-01 12:53] rogix commented on #5546
Is great to see all the improvements so far. Great work, people!

One thing I think could be improved, based on my personal experience, is the  side menu. Right now it looks hard to read sometimes, the background color does not make easier, quite the opposite, it make it feel "full" and hard to distinguish.

![image](https://user-images.githubusercontent.com/12768403/161265404-0351459f-f1ad-4147-a

[2022-04-01 14:24] caugner commented on #5886
As discussed, I have moved this to yari.

@schalkneethling was right that this problem only happens if the user opens the user menu and quickly clicks on the "Logout" button, before the CSRF token was loaded. So this is a side-effect of removing the condition that the "Logout" button would only be shown when the CSRF token is loaded.

Couldn't we always load the CSRF token globally when the user i

[2022-04-01 15:44] caugner commented on #5876
As pointed out by @schalkneethling, a "Web extensions" link was recently added to the [Web technology](https://developer.mozilla.org/en-US/docs/Web) overview page as part of https://github.com/mdn/content/pull/13491 to make these pages easier to access.

Seeing other important technologies like "WebAssembly", "SVG" and "MathML" without a menu item also makes me wonder whether "Web extensions" are

[2022-04-01 21:02] schalkneethling commented on #5886
I am not 100% how this works with Django. Does it have a TTL?

[2022-04-02 21:36] caugner commented on #5886
https://docs.djangoproject.com/en/4.0/ref/csrf/ states:

So we should be fine.

Alternative solutions are a) to retrieve it with the whoami request, or b) to exclude the logout from CSRF protection.

[2022-04-03 19:03] ganapathichidambaram opened #5889 "Nginx Deployment"
Hi,
I would like to understand this code into production deployment using nginx or other web server.

can anybody share nginx configuration file for the same.

[2022-04-04 08:22] schalkneethling opened #5890 "Featured articles: Update list of featured articles"
We want to replace one of the current featured articles with https://developer.mozilla.org/en-US/docs/Web/CSS/revert-layer
@Rumyra and @dipikabh, we need to decide which one this one will replace. Thanks!

[2022-04-04 09:19] schalkneethling commented on #5546
I 100% agree with you. This is part of the next batch of updates I am making today

[2022-04-04 11:19] kewisch commented on #5876
WebExtensions are not specific technologies similar to SVG/MathML, they are a framework for a number of Web APIs and Extension APIs. I'd prefer if we keep a top level item as before. Let's also keep it at "Browser Extensions" for now, someone from my team will get back in case this needs changing.

See [here for information on terminology](https://wiki.mozilla.org/Add-ons/Terminology), though this

[2022-04-04 12:12] caugner commented on #5819
Partially fixed by #5849.

[2022-04-04 12:12] #5819 closed

[2022-04-04 12:28] Rumyra commented on #5890
Yes agreed 👍 replace `color-scheme`

[2022-04-04 12:33] Rumyra commented on #5876
Agreed from a content perspective - as you said @caugner let's create something actionable. This would be to add a link in the top menu for Web Extensions. The 'Web Technology' overview page that was updated is inclusive of lots of different sections - we should discuss 👍

[2022-04-04 17:38] #5780 closed

[2022-04-04 19:13] anna-yeddi opened #5905 "Issue with Icon Badges: SVG images lack accessible name and on-screen titles"
MDN URLs:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes
- https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot
- And others

#### What information was incorrect, unhelpful, or incomplete?
The icons used to communicate status of properties and attributes, i.e. "deprecated", "non-standard", "experimental", lack accessible names and on-screen tooltips to provide users w

[2022-04-04 19:28] NiedziolkaMichal opened #5904 "Compat table doesn't display Firefox icon"
### Summary

Icon of Firefox is not displayed on Chromium based browsers(I tested on desktop chrome and edge) in Browser Compatibility Table.

### URL

https://developer.mozilla.org/en-US/docs/Web/CSS/repeat#browser_compatibility

### Reproduction steps

1. Open Chrome
2. Go to [Compat Table](https://developer.mozilla.org/en-US/docs/Web/CSS/repeat#browser_compatibility)
3. Check Firefox icon

###

[2022-04-05 01:23] wbamberg commented on #5905
Thanks for filing! I'm transferring this, because it looks like a platform issue.